/* ./resources/css/app.css */

@tailwind base;
@tailwind components;
.tooltip {
    @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
    @apply visible z-50;
}

@tailwind utilities;

.backasista{
  background: #1a99d6!important;
}
.colorazul{
  color: #1a99d6!important;
}

.colorama{
  color: #efb80b!important;
}
.backama{
  background: #efb80b!important;
}
.amac{
  border-color:#efb80b45!important;
}