<template>
  <div class="container flex-wrap px-1 py-1 mx-auto items-center">
    <div
      class="
        w-full
        max-w-max
        mx-auto
        overflow-hidden
        bg-gray-200
        rounded-lg
        shadow-md
        dark:bg-gray-800
      "
    >
      <div class="container mx-auto px-4 sm:px-8 max-w-3xl">
        <div class="py-8">
          <div class="flex flex-row mb-1 sm:mb-0 justify-between w-full">
            <h2 class="text-2xl leading-tight">Analistas </h2>
            <div class="text-end">
              <form
                class="
                  flex flex-col
                  md:flex-row
                  w-3/4
                  md:w-full
                  max-w-sm
                  md:space-x-3
                  space-y-3
                  md:space-y-0
                  justify-center
                "
              >
                <div class="relative">
                  <input
                    type="text"
                    id='"form-subscribe-Filter'
                    class="
                      rounded-lg
                      border-transparent
                      flex-1
                      appearance-none
                      border border-gray-300
                      w-full
                      py-2
                      px-4
                      bg-white
                      text-gray-700
                      placeholder-gray-400
                      shadow-sm
                      text-base
                      focus:outline-none
                      focus:ring-2
                      focus:ring-purple-600
                      focus:border-transparent
                    "
                    placeholder="Buscar analista"
                  />
                </div>
                <button
                  class="
                    flex-shrink-0
                    px-4
                    py-2
                    text-base
                    font-semibold
                    text-white
                    bg-purple-600
                    rounded-lg
                    shadow-md
                    hover:bg-purple-700
                    focus:outline-none
                    focus:ring-2
                    focus:ring-purple-500
                    focus:ring-offset-2
                    focus:ring-offset-purple-200
                  "
                  type="submit"
                >
                  Buscar
                </button>
              </form>
            </div>
          </div>
          <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
            <div
              class="inline-block min-w-full shadow rounded-lg overflow-hidden"
            >
              <table class="min-w-full leading-normal">
                <thead>
                  <tr>
                    <th
                      scope="col"
                      class="
                        px-5
                        py-3
                        bg-white
                        border-b border-gray-200
                        text-gray-800 text-left text-sm
                        uppercase
                        font-normal
                      "
                    >
                      Analista
                    </th>
                    <th
                      scope="col"
                      class="
                        px-5
                        py-3
                        bg-white
                        border-b border-gray-200
                        text-gray-800 text-left text-sm
                        uppercase
                        font-normal
                      "
                    >
                      Correo 
                    </th>
                    <th
                      scope="col"
                      class="
                        px-5
                        py-3
                        bg-white
                        border-b border-gray-200
                        text-gray-800 text-left text-sm
                        uppercase
                        font-normal
                      "
                    >
                      Cargo | Rol
                    </th>
                    <th
                      scope="col"
                      class="
                        px-5
                        py-3
                        bg-white
                        border-b border-gray-200
                        text-gray-800 text-left text-sm
                        uppercase
                        font-normal
                      "
                    >
                      Estado
                    </th>
                    <th
                      scope="col"
                      class="
                        px-5
                        py-3
                        bg-white
                        border-b border-gray-200
                        text-gray-800 text-left text-sm
                        uppercase
                        font-normal
                      "
                    ></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(analista, index) in assets" :key="analista.id">
                    <td
                      class="
                        px-5
                        py-5
                        border-b border-gray-200
                        bg-white
                        text-sm
                      "
                    >
                      <div class="flex items-center">
                        <div class="flex-shrink-0">
                          <a href="#" class="block relative">
                      {{ index + 1 }}

                            <img
                              alt="profil"
                              src="/images/person/8.jpg"
                              class="
                              hidden
                                mx-auto
                                object-cover
                                rounded-full
                                h-10
                                w-10
                              "
                            />
                          </a>
                        </div>
                        <div class="ml-3">
                          <p class="text-gray-900 whitespace-no-wrap">
                {{ analista.nombreAnalist + " " + analista.apellidoAnalist }}
                          </p>
                        </div>
                      </div>
                    </td>
                    <td
                      class="
                        px-5
                        py-5
                        border-b border-gray-200
                        bg-white
                        text-sm
                      "
                    >
                      <p class="text-gray-900 whitespace-no-wrap">{{analista.emailAnalist}}</p>
                    </td>
                    <td
                      class="
                        px-5
                        py-5
                        border-b border-gray-200
                        bg-white
                        text-xs
                      "
                    >
                      <p class="text-gray-900 whitespace-no-wrap uppercase">{{analista.cargoAnalist + " | " + analista.rolAnalist}}</p>
                    </td>
                    <td
                      class="
                        px-5
                        py-5
                        border-b border-gray-200
                        bg-white
                        text-sm
                      "
                    >
                      <span
                        class="
                          relative
                          inline-block
                          px-3
                          py-1
                          font-semibold
                          text-green-900
                          leading-tight
                          text-xs
                          uppercase
                        "
                      >
                        <span
                          aria-hidden="true"
                          class="
                            absolute
                            inset-0
                            bg-green-200
                            opacity-50
                            rounded-full
                          "
                        >
                        </span>
                        <span class="relative"> {{analista.estado}} </span>
                      </span>
                    </td>
                    <td
                      class="
                        px-5
                        py-5
                        border-b border-gray-200
                        bg-white
                        text-sm
                      "
                    >
                      <a href="#" class="text-indigo-600 hover:text-indigo-900">
                        Modificar
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div
                class="
                  px-5
                  bg-white
                  py-5
                  flex flex-col
                  xs:flex-row
                  items-center
                  xs:justify-between
                "
              >
                <div class="flex items-center">
                  <button
                    type="button"
                    class="
                      w-full
                      p-4
                      border
                      text-base
                      rounded-l-xl
                      text-gray-600
                      bg-white
                      hover:bg-gray-100
                    "
                  >
                    <svg
                      width="9"
                      fill="currentColor"
                      height="8"
                      class=""
                      viewBox="0 0 1792 1792"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1427 301l-531 531 531 531q19 19 19 45t-19 45l-166 166q-19 19-45 19t-45-19l-742-742q-19-19-19-45t19-45l742-742q19-19 45-19t45 19l166 166q19 19 19 45t-19 45z"
                      ></path>
                    </svg>
                  </button>
                  <button
                    type="button"
                    class="
                      w-full
                      px-4
                      py-2
                      border-t border-b
                      text-base text-indigo-500
                      bg-white
                      hover:bg-gray-100
                    "
                  >
                    1
                  </button>
                  <button
                    type="button"
                    class="
                      w-full
                      px-4
                      py-2
                      border
                      text-base text-gray-600
                      bg-white
                      hover:bg-gray-100
                    "
                  >
                    2
                  </button>
                  <button
                    type="button"
                    class="
                      w-full
                      px-4
                      py-2
                      border-t border-b
                      text-base text-gray-600
                      bg-white
                      hover:bg-gray-100
                    "
                  >
                    3
                  </button>
                  <button
                    type="button"
                    class="
                      w-full
                      px-4
                      py-2
                      border
                      text-base text-gray-600
                      bg-white
                      hover:bg-gray-100
                    "
                  >
                    4
                  </button>
                  <button
                    type="button"
                    class="
                      w-full
                      p-4
                      border-t border-b border-r
                      text-base
                      rounded-r-xl
                      text-gray-600
                      bg-white
                      hover:bg-gray-100
                    "
                  >
                    <svg
                      width="9"
                      fill="currentColor"
                      height="8"
                      class=""
                      viewBox="0 0 1792 1792"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z"
                      ></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="
          hidden
          flex
          items-center
          justify-center
          py-4
          text-center
          bg-gray-200
          dark:bg-gray-700
        "
      >
        <span class="text-sm text-gray-600 dark:text-gray-200"
          >¿Ya estás registrado?
        </span>

        <a
          href="#"
          class="
            mx-2
            text-sm
            font-bold
            text-blue-600
            dark:text-blue-400
            hover:text-blue-500
          "
          @click="$router.push('loginEmprs')"
          >Iniciar sesión</a
        >
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "analistaFormLista",

  methods: {
  //   onSubmit() {
  //     //let dataUser = this.data;
  //     this.data.owner = this.$store.state.regUserEmprs.empresa[0].id;
  //     alert("owner es:", this.data.owner);
  //     axios
  //       .post("http://localhost:1337/analista", this.data)
  //       .then((res) => {
  //         //Perform Success Action
  //         console.log("mission acomplished");
  //         console.log("respuesta post id objeto registrad", res.data.id);

  //         //this.$store.commit("getRegUserEmprs", res.data);
  //         alert("Analista registrado con exito");
  //         this.$router.push({
  //           name: "Home2",
  //         });
  //         console.log("llego hasta aquilani en AnalistaFormReg");
  //       })
  //       .catch((error) => {
  //         // error.response.status Check status code
  //         console.log("mission pelaste bolas");
  //         console.log(error);
  //       })
  //       .finally(() => {
  //         //Perform action in always
  //       });
  //   },
  },
  mounted() {
    this.isLoading = true;
    if (this.$store.state.regEmprs.id) {
      axios
        .get(
          `http://localhost:1337/empresa/${this.$store.state.regEmprs.id}/analistas`
          //`http://localhost:1337/empresa/${this.$store.state.regEmprs.id}/anuncios`
        ) //http://localhost:1337/empresa/${this.$store.state.regEmprs.id}/analistas
        .then((res) => {
          //Perform Success Action
          this.isLoading = false;
          this.assets = res.data;
          console.log("assets analistas 1", this.assets);
        })
        .catch((error) => {
          // error.response.status Check status code
          console.log("mission pelaste bolas");
          console.log(error);
        })
        .finally(() => {
          //Perform action in always
        });
    } else {
      if (this.$store.state.regUserEmprs.empresa) {
        axios
          .get(
            `http://localhost:1337/empresa/${this.$store.state.regUserEmprs.empresa[0].id}/analistas`
            //   `http://localhost:1337/empresa/${this.$store.state.regUserEmprs.empresa[0].id}/anuncios`
        ) //http://localhost:1337/empresa/${this.$store.state.regUserEmprs.empresa[0].id}/analistas
          .then((res) => {
            //Perform Success Action
            //alert("Usuario no encontrado, debe registrarse");
            //console.log("respuesta obtenida", res.data);
            this.isLoading = false;
            this.assets = res.data;
            console.log("assets analistas 2", this.assets);
          })
          .catch((error) => {
            // error.response.status Check status code
            console.log("mission pelaste bolas");
            console.log(error);
          })
          .finally(() => {
            //Perform action in always
          });
      } else {
        alert("Debe iniciar sesión o registrarse para ver esta información");
        this.$router.push({
          name: "loginEmprs",
        });
      }
    }
  },
  data() {
    return {
      assets: [],
      
      isLoading: false,
    };
  },
};
</script>