<template>
  <div class="container flex-wrap px-1 py-1 mx-auto items-center">
    <div
      class="
        w-full
        max-w-md
        mx-auto
        overflow-hidden
        bg-gray-200
        rounded-lg
        shadow-md
        dark:bg-gray-800
      "
    >
      <div class="px-8 py-6">
        <h2
          class="text-3xl font-bold text-center text-gray-700 dark:text-white"
        >
          Registro de Analista
        </h2>

        <p class="mt-1 text-center text-gray-500 dark:text-gray-400 hidden">
          Inicia sesión o crea una cuenta
        </p>

        <form @submit.stop.prevent="onSubmit">
          <div class="w-full mt-4">
            <label
              for="price"
              class="block text-xs font-medium text-gray-700 text-left ml-1"
            >
              <strong> Nombre(s) </strong>
            </label>
            <input
              class="
                block
                w-full
                px-4
                py-1.5
                mt-0.5
                text-gray-700
                placeholder-gray-500
                bg-white
                border border-gray-300
                rounded-lg
                dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400
                focus:border-blue-500
                dark:focus:border-blue-500
                focus:outline-none focus:ring
              "
              name="nombreUser"
              v-model.lazy.trim="data.nombreAnalist"
              type="text"
              placeholder="Nombre"
            />
          </div>
          <div class="w-full mt-4">
            <label
              for="price"
              class="block text-xs font-medium text-gray-700 text-left ml-1"
            >
              <strong> Apellido(s) </strong>
            </label>
            <input
              class="
                block
                w-full
                px-4
                py-1.5
                mt-0.5
                text-gray-700
                placeholder-gray-500
                bg-white
                border border-gray-300
                rounded-lg
                dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400
                focus:border-blue-500
                dark:focus:border-blue-500
                focus:outline-none focus:ring
              "
              name="apellidoUser"
              v-model.lazy.trim="data.apellidoAnalist"
              type="text"
              placeholder="Apellido"
            />
          </div>
          <div class="w-full mt-4">
            <label
              for="price"
              class="block text-xs font-medium text-gray-700 text-left ml-1"
            >
              <strong> Correo electrónico </strong>
            </label>
            <input
              class="
                block
                w-full
                px-4
                py-1.5
                mt-0.5
                text-gray-700
                placeholder-gray-500
                bg-white
                border border-gray-300
                rounded-lg
                dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400
                focus:border-blue-500
                dark:focus:border-blue-500
                focus:outline-none focus:ring
              "
              name="emailUser"
              v-model.lazy.trim="data.emailAnalist"
              type="email"
              placeholder="Email Address"
              aria-label="Email Address"
            />
          </div>

          <div class="w-full mt-4">
            <label
              for="price"
              class="block text-xs font-medium text-gray-700 text-left ml-1"
            >
              <strong> Contraseña </strong>
            </label>
            <input
              class="
                block
                w-full
                px-4
                py-1.5
                mt-0.5
                text-gray-700
                placeholder-gray-500
                bg-white
                border border-gray-300
                rounded-lg
                dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400
                focus:border-blue-500
                dark:focus:border-blue-500
                focus:outline-none focus:ring
              "
              name="passwUser"
              v-model.lazy.trim="data.passwAnalist"
              type="password"
              placeholder="Password"
              aria-label="Password"
            />
          </div>

          <div class="w-full mt-4">
            <div class="relative">
              <label
                for="price"
                class="block text-xs font-medium text-gray-700 text-left ml-1"
              >
                <strong> Tipo de analista </strong>
              </label>
              <select
                class="
                  block
                  appearance-none
                  w-full
                  bg-white
                  border border-gray-300
                  text-gray-700
                  py-2
                  px-4
                  pr-8
                  rounded-lg
                  leading-tight
                  focus:outline-none focus:bg-white focus:border-gray-500
                "
                name="tipoempleo"
                v-model.lazy.trim="data.cargoAnalist"
              >
                <option disabled value="">Tipo de analista</option>
                <option value="admin">Administrador</option>
                <option value="analista">Analista de anuncios</option>
              </select>
              <div
                class="
                  pointer-events-none
                  absolute
                  inset-y-0
                  right-0
                  flex
                  items-center
                  pt-4
                  px-2
                  text-gray-700
                "
              >
                <svg
                  class="fill-current h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>
          </div>

          <div class="w-full mt-5">
            <div class="flex items-center gap-8">
              <label
                for="price"
                class="block text-xs font-medium text-gray-700 text-left ml-1"
              >
                <strong> Rol </strong>
              </label>
              <label class="inline-flex items-center">
                <input
                  type="radio"
                  name="analista"
                  value="NA"
                  class="h-5 w-5 text-red-600"
                  v-model.lazy.trim="data.rolAnalist"
                />
                <span class="ml-2 text-gray-700 text-sm"> No aplica </span>
              </label>
              <label class="inline-flex items-center">
                <input
                  type="radio"
                  name="analista"
                  value="junior"
                  class="h-5 w-5 text-red-600"
                  v-model.lazy.trim="data.rolAnalist"
                />
                <span class="ml-2 text-gray-700 text-sm"> Junior </span>
              </label>
              <label class="inline-flex items-center">
                <input
                  type="radio"
                  name="analista"
                  value="senior"
                  class="h-5 w-5 text-red-600"
                  v-model.lazy.trim="data.rolAnalist"
                />
                <span class="ml-2 text-gray-700 text-sm"> Senior </span>
              </label>
            </div>
          </div>
          <div class="w-full mt-5">
            <div class="flex items-center gap-8">
              <label
                for="price"
                class="block text-xs font-medium text-gray-700 text-left ml-1"
              >
                <strong> Estado </strong>
              </label>
              <label class="inline-flex items-center">
                <input
                  type="radio"
                  name="estado"
                  value="activo"
                  class="h-5 w-5 text-red-600"
                  v-model.lazy.trim="data.estado"
                />
                <span class="ml-2 text-gray-700 text-sm"> Activo </span>
              </label>
              <label class="inline-flex items-center">
                <input
                  type="radio"
                  name="estado"
                  value="inactivo"
                  class="h-5 w-5 text-red-600"
                  v-model.lazy.trim="data.estado"
                />
                <span class="ml-2 text-gray-700 text-sm"> Inactivo </span>
              </label>
            </div>
          </div>
          <div class="flex items-center justify-between mt-5">
            <button
              class="
                flex-shrink-0
                px-4
                py-2
                text-base
                font-semibold
                text-white
                backasista
                rounded-lg
                shadow-md
                focus:outline-none focus:ring-2 focus:ring-offset-2
              "
              type="submit"
            >
              Crear
            </button>
          </div>
        </form>
      </div>
      <div
        class="
          hidden
          flex
          items-center
          justify-center
          py-4
          text-center
          bg-gray-200
          dark:bg-gray-700
        "
      >
        <span class="text-sm text-gray-600 dark:text-gray-200"
          >¿Ya estás registrado?
        </span>

        <a
          href="#"
          class="
            mx-2
            text-sm
            font-bold
            text-blue-600
            dark:text-blue-400
            hover:text-blue-500
          "
          @click="$router.push('loginEmprs')"
          >Iniciar sesión</a
        >
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "analistaFormReg",

  methods: {
    onSubmit() {
      //let dataUser = this.data;
      this.data.owner = this.$store.state.regUserEmprs.empresa[0].id;
      alert("owner es:", this.data.owner);
      axios
        .post("http://localhost:1337/analista", this.data)
        .then((res) => {
          //Perform Success Action
          console.log("mission acomplished");
          console.log("respuesta post id objeto registrad", res.data.id);

          //this.$store.commit("getRegUserEmprs", res.data);
          alert("Analista registrado con exito");
          this.$router.push({
            name: "Home2",
          });
          console.log("llego hasta aquilani en AnalistaFormReg");
        })
        .catch((error) => {
          // error.response.status Check status code
          console.log("mission pelaste bolas");
          console.log(error);
        })
        .finally(() => {
          //Perform action in always
        });
    },
  },
  data() {
    return {
      data: {
        nombreAnalist: "",
        apellidoAnalist: "",
        emailAnalist: "",
        cargoAnalist: "",
        passwAnalist: "",
        rolAnalist: "",
        estado: "",
        owner: null,
      },
    };
  },
};
</script>