<template >
  <div
    class="
      p-4
      bg-white
      shadow-xl
      max-w-full
      rounded-xl
      flex
      justify-start
      dark:bg-gray-800
      md:flex-row
      flex-col
      gap-4
    "
  >
    <div class="flex flex-col justify-between w-screen">
      <div
        class="
          flex
          items-start
          justify-between
          text-gray-700
          dark:text-white
          my-2
          md:m-0
        "
      >
        <h1
          v-if="assets"
          class="title-font font-semibold text-xl anuncio.id text-gray-900"
        >
          {{ assets.tituloAnunc }}
        </h1>
        <div class="flex">
          <button class="hidden text-red-400 hover:text-red-600">
            <svg
              width="20"
              height="20"
              fill="currentColor"
              viewBox="0 0 1792 1792"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1664 596q0-81-21.5-143t-55-98.5-81.5-59.5-94-31-98-8-112 25.5-110.5 64-86.5 72-60 61.5q-18 22-49 22t-49-22q-24-28-60-61.5t-86.5-72-110.5-64-112-25.5-98 8-94 31-81.5 59.5-55 98.5-21.5 143q0 168 187 355l581 560 580-559q188-188 188-356zm128 0q0 221-229 450l-623 600q-18 18-44 18t-44-18l-624-602q-10-8-27.5-26t-55.5-65.5-68-97.5-53.5-121-23.5-138q0-220 127-344t351-124q62 0 126.5 21.5t120 58 95.5 68.5 76 68q36-36 76-68t95.5-68.5 120-58 126.5-21.5q224 0 351 124t127 344z"
              ></path>
            </svg>
          </button>
          <button
            type="submit"
            @click="onSubmit2"
            class="
              py-1.5
              px-4
              ml-2
              bg-green-400
              hover:bg-green-800
              focus:ring-green-600 focus:ring-offset-green-300
              text-white
              w-full
              transition
              ease-in
              duration-200
              text-center text-sm
              font-semibold
              shadow-md
              focus:outline-none focus:ring-2 focus:ring-offset-2
              rounded-lg
            "
          >
            Editar
          </button>
        </div>

        <!-- <div class="has-tooltip">
                <span class="tooltip rounded shadow-lg p-1 bg-red-600"
                  >Some Nice Tooltip Text</span
                >
                No style
              </div> -->

        <button class="text-red-400 hover:text-red-600 hidden">
          <svg
            width="25"
            height="25"
            fill="currentColor"
            viewBox="0 0 1792 1792"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1664 596q0-81-21.5-143t-55-98.5-81.5-59.5-94-31-98-8-112 25.5-110.5 64-86.5 72-60 61.5q-18 22-49 22t-49-22q-24-28-60-61.5t-86.5-72-110.5-64-112-25.5-98 8-94 31-81.5 59.5-55 98.5-21.5 143q0 168 187 355l581 560 580-559q188-188 188-356zm128 0q0 221-229 450l-623 600q-18 18-44 18t-44-18l-624-602q-10-8-27.5-26t-55.5-65.5-68-97.5-53.5-121-23.5-138q0-220 127-344t351-124q62 0 126.5 21.5t120 58 95.5 68.5 76 68q36-36 76-68t95.5-68.5 120-58 126.5-21.5q224 0 351 124t127 344z"
            ></path>
          </svg>
        </button>
      </div>

      <div class="flex mt-1">
        <div class="flex-shrink-0">
          <a href="#" class="block relative">
            <img
              alt="profil"
              src="./img/img-profile.jpg"
              class="mx-auto object-cover rounded-md h-8 w-8"
            />
          </a>
        </div>
        <h3 class="ml-1.5 mt-1 font-semibold" v-if="assets.owner">
          {{ this.$store.state.regUserEmprs.empresa[0].nombreEmpr }}
        </h3>
      </div>

      <div
        class="
          flex
          items-center
          text-gray-500
          dark:text-gray-400
          text-sm
          md:mt-2 md:m-0
        "
      >
        <svg
          width="10"
          height="10"
          fill="currentColor"
          viewBox="0 0 1792 1792"
          xmlns="http://www.w3.org/2000/svg"
          class="mr-2 hidden"
        >
          <path
            d="M1664 960q-152-236-381-353 61 104 61 225 0 185-131.5 316.5t-316.5 131.5-316.5-131.5-131.5-316.5q0-121 61-225-229 117-381 353 133 205 333.5 326.5t434.5 121.5 434.5-121.5 333.5-326.5zm-720-384q0-20-14-34t-34-14q-125 0-214.5 89.5t-89.5 214.5q0 20 14 34t34 14 34-14 14-34q0-86 61-147t147-61q20 0 34-14t14-34zm848 384q0 34-20 69-140 230-376.5 368.5t-499.5 138.5-499.5-139-376.5-368q-20-35-20-69t20-69q140-229 376.5-368t499.5-139 499.5 139 376.5 368q20 35 20 69z"
          ></path>
        </svg>
        <p class="hidden">1.320.644 han visto este anuncio</p>

        <svg
          width="10"
          height="10"
          fill="currentColor"
          viewBox="0 0 1792 1792"
          xmlns="http://www.w3.org/2000/svg"
          class="ml-6 mr-2 hidden"
        >
          <path
            d="M896 1664q-26 0-44-18l-624-602q-10-8-27.5-26t-55.5-65.5-68-97.5-53.5-121-23.5-138q0-220 127-344t351-124q62 0 126.5 21.5t120 58 95.5 68.5 76 68q36-36 76-68t95.5-68.5 120-58 126.5-21.5q224 0 351 124t127 344q0 221-229 450l-623 600q-18 18-44 18z"
          ></path>
        </svg>
      </div>
      <div class="flex items-center">
        <span class="">
          <svg
            id="Capa_1"
            enable-background="new 0 0 512 512"
            height="20"
            viewBox="0 0 512 512"
            width="20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g>
              <path
                d="m75 .008c-3.903.001-7.739 1.517-10.606 4.386l-60 60c-2.814 2.813-4.394 6.628-4.394 10.607v421.999c0 4.142 1.679 7.892 4.393 10.607l80.151-66.107c3.455-2.85 5.456-7.094 5.456-11.572v-414.92c0-8.284-6.716-15-15-15z"
                fill="#ffcb00"
              />
              <path
                d="m75 437-70.607 70.607c2.715 2.714 6.465 4.393 10.607 4.393h382c3.978 0 7.794-1.58 10.607-4.394l60-60c2.869-2.869 4.384-6.704 4.385-10.606 0-8.284-6.716-15-15-15h-366.992c-8.284 0-15 6.716-15 15z"
                fill="#daaf00"
              />
              <path
                d="m467.606 447.606c2.869-2.869 4.384-6.704 4.385-10.606 0-8.284-6.716-15-15-15h-200.991v90h140.999c3.978 0 7.794-1.58 10.607-4.394z"
                fill="#cb9b03"
              />
              <path d="m75 0h397v437h-397z" fill="#ffd845" />
              <path d="m256 0h216v437h-216z" fill="#ffcb00" />
              <path
                d="m496.653 390h-366.653c-6.457 0-12.188-4.131-14.23-10.257-27.053-81.159-40.77-165.686-40.77-251.234v-128.509h397v205.558c0 56.197 13.284 112.47 38.417 162.734 2.869 5.737 1.819 12.803-2.981 17.492-2.859 2.792-6.787 4.216-10.783 4.216z"
                fill="#ffe278"
              />
              <path
                d="m496.653 390c3.996 0 7.923-1.424 10.782-4.216 4.801-4.688 5.85-11.755 2.981-17.492-25.132-50.265-38.416-106.537-38.416-162.734v-205.558h-216v390z"
                fill="#ffd845"
              />
              <g fill="#556e82">
                <path
                  d="m403.5 90h-261c-8.284 0-15-6.716-15-15s6.716-15 15-15h261c8.284 0 15 6.716 15 15s-6.716 15-15 15z"
                />
                <path
                  d="m403.5 150h-261c-8.284 0-15-6.716-15-15s6.716-15 15-15h261c8.284 0 15 6.716 15 15s-6.716 15-15 15z"
                />
                <path
                  d="m403.5 210h-261c-8.284 0-15-6.716-15-15s6.716-15 15-15h261c8.284 0 15 6.716 15 15s-6.716 15-15 15z"
                />
                <path
                  d="m403.5 270h-240c-8.284 0-15-6.716-15-15s6.716-15 15-15h240c8.284 0 15 6.716 15 15s-6.716 15-15 15z"
                />
                <path
                  d="m408.5 330h-230c-8.284 0-15-6.716-15-15s6.716-15 15-15h230c8.284 0 15 6.716 15 15s-6.716 15-15 15z"
                />
              </g>
              <path
                d="m403.5 60h-147.5v30h147.5c8.284 0 15-6.716 15-15s-6.716-15-15-15z"
                fill="#3c4655"
              />
              <path
                d="m403.5 120h-147.5v30h147.5c8.284 0 15-6.716 15-15s-6.716-15-15-15z"
                fill="#3c4655"
              />
              <path
                d="m403.5 180h-147.5v30h147.5c8.284 0 15-6.716 15-15s-6.716-15-15-15z"
                fill="#3c4655"
              />
              <path
                d="m403.5 240h-147.5v30h147.5c8.284 0 15-6.716 15-15s-6.716-15-15-15z"
                fill="#3c4655"
              />
              <path
                d="m408.5 300h-152.5v30h152.5c8.284 0 15-6.716 15-15s-6.716-15-15-15z"
                fill="#3c4655"
              />
            </g>
          </svg>
        </span>
        <p class="text-md text-gray-700 text-xs dark:text-gray-50 ml-1">
          <strong> Publicado: </strong> {{ assets.createdAt | formatedTime }}
        </p>
        <span class="ml-4 rounded-full relative">
          <svg
            xmlns:dc="http://purl.org/dc/elements/1.1/"
            xmlns:cc="http://creativecommons.org/ns#"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
            xmlns:svg="http://www.w3.org/2000/svg"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            width="24"
            height="24"
            viewBox="0 0 6.3499999 6.3500002"
            version="1.1"
            id="svg8"
            inkscape:version="0.92.4 (5da689c313, 2019-01-14)"
            sodipodi:docname="5. Briefcase.svg"
          >
            <defs id="defs2">
              <pattern
                y="0"
                x="0"
                height="6"
                width="6"
                patternUnits="userSpaceOnUse"
                id="EMFhbasepattern"
              />
              <pattern
                y="0"
                x="0"
                height="6"
                width="6"
                patternUnits="userSpaceOnUse"
                id="EMFhbasepattern-3"
              />
              <pattern
                y="0"
                x="0"
                height="6"
                width="6"
                patternUnits="userSpaceOnUse"
                id="EMFhbasepattern-2"
              />
              <pattern
                y="0"
                x="0"
                height="6"
                width="6"
                patternUnits="userSpaceOnUse"
                id="EMFhbasepattern-1"
              />
            </defs>
            <sodipodi:namedview
              id="base"
              pagecolor="#ffffff"
              bordercolor="#666666"
              borderopacity="1.0"
              inkscape:pageopacity="0.0"
              inkscape:pageshadow="2"
              inkscape:zoom="11.313708"
              inkscape:cx="2.3577775"
              inkscape:cy="11.444671"
              inkscape:document-units="px"
              inkscape:current-layer="layer1"
              showgrid="false"
              units="px"
              inkscape:window-width="1280"
              inkscape:window-height="658"
              inkscape:window-x="-8"
              inkscape:window-y="-8"
              inkscape:window-maximized="1"
              showguides="true"
              guidecolor="#af0000"
              guideopacity="0.49803922"
              guidehicolor="#ff4b4b"
              guidehiopacity="0.49803922"
              inkscape:snap-global="false"
            >
              <inkscape:grid
                type="xygrid"
                id="grid815"
                empspacing="1"
                originx="0"
                originy="0"
                spacingx="0"
                spacingy="0"
                snapvisiblegridlinesonly="true"
                visible="true"
                enabled="true"
                dotted="false"
              />
            </sodipodi:namedview>
            <metadata id="metadata5">
              <rdf:RDF>
                <cc:Work rdf:about="">
                  <dc:format>image/svg+xml</dc:format>
                  <dc:type
                    rdf:resource="http://purl.org/dc/dcmitype/StillImage"
                  />
                  <dc:title />
                </cc:Work>
              </rdf:RDF>
            </metadata>
            <g
              inkscape:label="Guides"
              inkscape:groupmode="layer"
              id="layer1"
              transform="translate(0,-290.64999)"
            >
              <path
                style="
                  color: #000000;
                  font-style: normal;
                  font-variant: normal;
                  font-weight: normal;
                  font-stretch: normal;
                  font-size: medium;
                  line-height: normal;
                  font-family: sans-serif;
                  font-variant-ligatures: normal;
                  font-variant-position: normal;
                  font-variant-caps: normal;
                  font-variant-numeric: normal;
                  font-variant-alternates: normal;
                  font-feature-settings: normal;
                  text-indent: 0;
                  text-align: start;
                  text-decoration: none;
                  text-decoration-line: none;
                  text-decoration-style: solid;
                  text-decoration-color: #000000;
                  letter-spacing: normal;
                  word-spacing: normal;
                  text-transform: none;
                  writing-mode: lr-tb;
                  direction: ltr;
                  text-orientation: mixed;
                  dominant-baseline: auto;
                  baseline-shift: baseline;
                  text-anchor: start;
                  white-space: normal;
                  shape-padding: 0;
                  clip-rule: nonzero;
                  display: inline;
                  overflow: visible;
                  visibility: visible;
                  opacity: 1;
                  isolation: auto;
                  mix-blend-mode: normal;
                  color-interpolation: sRGB;
                  color-interpolation-filters: linearRGB;
                  solid-color: #000000;
                  solid-opacity: 1;
                  vector-effect: none;
                  fill: #cfa15a;
                  fill-opacity: 1;
                  fill-rule: nonzero;
                  stroke: none;
                  stroke-width: 0.26458335;
                  stroke-linecap: round;
                  stroke-linejoin: round;
                  stroke-miterlimit: 4;
                  stroke-dasharray: none;
                  stroke-dashoffset: 0;
                  stroke-opacity: 1;
                  color-rendering: auto;
                  image-rendering: auto;
                  shape-rendering: auto;
                  text-rendering: auto;
                  enable-background: accumulate;
                "
                d="m 1.2277276,292.20097 c -0.23703028,0 -0.43164058,0.19461 -0.43164058,0.43164 v 2.83985 c 0,0.23038 0.18831097,0.43164 0.43164058,0.43164 h 3.8945313 c 0.2433296,0 0.4316406,-0.20126 0.4316406,-0.43164 v -2.83985 c 0,-0.23703 -0.1946103,-0.43164 -0.4316406,-0.43164 z"
                id="path1278"
                inkscape:connector-curvature="0"
                sodipodi:nodetypes="sssssssss"
              />
              <path
                style="
                  color: #000000;
                  font-style: normal;
                  font-variant: normal;
                  font-weight: normal;
                  font-stretch: normal;
                  font-size: medium;
                  line-height: normal;
                  font-family: sans-serif;
                  font-variant-ligatures: normal;
                  font-variant-position: normal;
                  font-variant-caps: normal;
                  font-variant-numeric: normal;
                  font-variant-alternates: normal;
                  font-feature-settings: normal;
                  text-indent: 0;
                  text-align: start;
                  text-decoration: none;
                  text-decoration-line: none;
                  text-decoration-style: solid;
                  text-decoration-color: #000000;
                  letter-spacing: normal;
                  word-spacing: normal;
                  text-transform: none;
                  writing-mode: lr-tb;
                  direction: ltr;
                  text-orientation: mixed;
                  dominant-baseline: auto;
                  baseline-shift: baseline;
                  text-anchor: start;
                  white-space: normal;
                  shape-padding: 0;
                  clip-rule: nonzero;
                  display: inline;
                  overflow: visible;
                  visibility: visible;
                  opacity: 1;
                  isolation: auto;
                  mix-blend-mode: normal;
                  color-interpolation: sRGB;
                  color-interpolation-filters: linearRGB;
                  solid-color: #000000;
                  solid-opacity: 1;
                  vector-effect: none;
                  fill: #615535;
                  fill-opacity: 1;
                  fill-rule: nonzero;
                  stroke: none;
                  stroke-width: 0.26458335;
                  stroke-linecap: round;
                  stroke-linejoin: round;
                  stroke-miterlimit: 4;
                  stroke-dasharray: none;
                  stroke-dashoffset: 0;
                  stroke-opacity: 1;
                  color-rendering: auto;
                  image-rendering: auto;
                  shape-rendering: auto;
                  text-rendering: auto;
                  enable-background: accumulate;
                "
                d="m 2.7609308,291.74589 c -0.1090662,0 -0.2089012,0.03 -0.2890626,0.0879 -0.080161,0.0579 -0.1425781,0.15136 -0.1425781,0.25977 0,0.10999 0.059751,0.20886 0.140625,0.26953 0.080874,0.0607 0.181939,0.0898 0.2910157,0.0898 h 0.828125 c 0.109066,0 0.2101356,-0.0292 0.2910156,-0.0898 0.08088,-0.0607 0.140625,-0.15954 0.140625,-0.26953 0,-0.10841 -0.062423,-0.20186 -0.1425782,-0.25977 -0.080155,-0.0579 -0.1799858,-0.0879 -0.2890624,-0.0879 z m 0,0.26368 h 0.828125 c 0.05865,0 0.1070963,0.0191 0.1347656,0.0391 0.027669,0.02 0.03125,0.0335 0.03125,0.0449 0,0.0218 -0.00626,0.0364 -0.033203,0.0566 -0.026944,0.0202 -0.074152,0.0391 -0.1328124,0.0391 H 2.760931 c -0.058651,0 -0.1058618,-0.0188 -0.1328126,-0.0391 -0.026951,-0.0202 -0.033203,-0.0349 -0.033203,-0.0566 0,-0.0114 0.00359,-0.0249 0.03125,-0.0449 0.027663,-0.02 0.076105,-0.0391 0.1347654,-0.0391 z"
                id="path1280"
                inkscape:connector-curvature="0"
              />
              <path
                style="
                  color: #000000;
                  font-style: normal;
                  font-variant: normal;
                  font-weight: normal;
                  font-stretch: normal;
                  font-size: medium;
                  line-height: normal;
                  font-family: sans-serif;
                  font-variant-ligatures: normal;
                  font-variant-position: normal;
                  font-variant-caps: normal;
                  font-variant-numeric: normal;
                  font-variant-alternates: normal;
                  font-feature-settings: normal;
                  text-indent: 0;
                  text-align: start;
                  text-decoration: none;
                  text-decoration-line: none;
                  text-decoration-style: solid;
                  text-decoration-color: #000000;
                  letter-spacing: normal;
                  word-spacing: normal;
                  text-transform: none;
                  writing-mode: lr-tb;
                  direction: ltr;
                  text-orientation: mixed;
                  dominant-baseline: auto;
                  baseline-shift: baseline;
                  text-anchor: start;
                  white-space: normal;
                  shape-padding: 0;
                  clip-rule: nonzero;
                  display: inline;
                  overflow: visible;
                  visibility: visible;
                  opacity: 1;
                  isolation: auto;
                  mix-blend-mode: normal;
                  color-interpolation: sRGB;
                  color-interpolation-filters: linearRGB;
                  solid-color: #000000;
                  solid-opacity: 1;
                  vector-effect: none;
                  fill: #c18538;
                  fill-opacity: 1;
                  fill-rule: nonzero;
                  stroke: none;
                  stroke-width: 0.26458335;
                  stroke-linecap: round;
                  stroke-linejoin: round;
                  stroke-miterlimit: 4;
                  stroke-dasharray: none;
                  stroke-dashoffset: 0;
                  stroke-opacity: 1;
                  color-rendering: auto;
                  image-rendering: auto;
                  shape-rendering: auto;
                  text-rendering: auto;
                  enable-background: accumulate;
                "
                d="m 1.2280776,292.2006 c -0.23712144,0 -0.43149819,0.19514 -0.43149819,0.43201 v 0.43925 c 4.922e-5,0.023 0.006105,0.0456 0.01757,0.0656 0.0491911,0.0862 0.0963664,0.16837 0.11058758,0.19224 -0.004686,-0.008 0.01757,0.031 0.01757,0.031 0.0234826,0.0415 0.0675175,0.0672 0.11523852,0.0672 h 0.042375 l 2.0257162,0.77256 c 0.029922,0.0114 0.062972,0.0116 0.093018,5.1e-4 l 2.1182169,-0.78134 c 0.00441,-0.002 0.00872,-0.004 0.012919,-0.006 l 0.1307414,-0.0651 c 0.044919,-0.0223 0.073336,-0.0682 0.073381,-0.11834 v -0.5979 c 0,-0.23714 -0.1948936,-0.43201 -0.4320151,-0.43201 z m 1.9456175,1.73527 c -2.1163221,2.04261 -1.058161,1.02131 0,0 z"
                id="path1282"
                inkscape:connector-curvature="0"
                sodipodi:nodetypes="csccccccccccccscccc"
              />
              <path
                style="
                  color: #000000;
                  font-style: normal;
                  font-variant: normal;
                  font-weight: normal;
                  font-stretch: normal;
                  font-size: medium;
                  line-height: normal;
                  font-family: sans-serif;
                  font-variant-ligatures: normal;
                  font-variant-position: normal;
                  font-variant-caps: normal;
                  font-variant-numeric: normal;
                  font-variant-alternates: normal;
                  font-feature-settings: normal;
                  text-indent: 0;
                  text-align: start;
                  text-decoration: none;
                  text-decoration-line: none;
                  text-decoration-style: solid;
                  text-decoration-color: #000000;
                  letter-spacing: normal;
                  word-spacing: normal;
                  text-transform: none;
                  writing-mode: lr-tb;
                  direction: ltr;
                  text-orientation: mixed;
                  dominant-baseline: auto;
                  baseline-shift: baseline;
                  text-anchor: start;
                  white-space: normal;
                  shape-padding: 0;
                  clip-rule: nonzero;
                  display: inline;
                  overflow: visible;
                  visibility: visible;
                  opacity: 1;
                  isolation: auto;
                  mix-blend-mode: normal;
                  color-interpolation: sRGB;
                  color-interpolation-filters: linearRGB;
                  solid-color: #000000;
                  solid-opacity: 1;
                  vector-effect: none;
                  fill: #9a6a44;
                  fill-opacity: 1;
                  fill-rule: nonzero;
                  stroke: none;
                  stroke-width: 0.26458335;
                  stroke-linecap: round;
                  stroke-linejoin: round;
                  stroke-miterlimit: 4;
                  stroke-dasharray: none;
                  stroke-dashoffset: 0;
                  stroke-opacity: 1;
                  color-rendering: auto;
                  image-rendering: auto;
                  shape-rendering: auto;
                  text-rendering: auto;
                  enable-background: accumulate;
                "
                d="m 3.0734308,293.51933 c -0.2370356,0 -0.4316407,0.19461 -0.4316407,0.43164 v 0.20313 c 0,0.23704 0.1946104,0.43164 0.4316407,0.43164 H 3.264837 c 0.2370302,0 0.4316406,-0.1946 0.4316406,-0.43164 v -0.20313 c 0,-0.23703 -0.1946051,-0.43164 -0.4316406,-0.43164 z"
                id="path1286"
                inkscape:connector-curvature="0"
                sodipodi:nodetypes="sssssssss"
              />
            </g>
          </svg>
        </span>
        <p class="text-md text-gray-700 dark:text-gray-50 text-xs ml-1">
          <strong> Modalidad de trabajo:</strong> {{ assets.modalidtrabj }}
        </p>
        <span class="ml-4 rounded-full relative">
          <svg
            width="22"
            height="22"
            viewBox="0 0 48 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M38 7H10C7.79086 7 6 8.79086 6 11V38C6 40.2091 7.79086 42 10 42H38C40.2091 42 42 40.2091 42 38V11C42 8.79086 40.2091 7 38 7Z"
              fill="#EAEFF0"
            />
            <path
              d="M7.19 8.15723C6.81274 8.5283 6.51319 8.97083 6.30887 9.45896C6.10455 9.9471 5.99955 10.4711 6 11.0002V38.0002C6 39.0611 6.42143 40.0785 7.17157 40.8287C7.92172 41.5788 8.93914 42.0002 10 42.0002H38C39.0527 42.0009 40.0629 41.5849 40.81 40.8432L7.19 8.15723Z"
              fill="#D9E1E2"
            />
            <path
              d="M38 7H10C8.93913 7 7.92172 7.42143 7.17157 8.17157C6.42143 8.92172 6 9.93913 6 11V16H42V11C42 9.93913 41.5786 8.92172 40.8284 8.17157C40.0783 7.42143 39.0609 7 38 7Z"
              fill="#009AE0"
            />
            <path
              d="M7.19 8.15723C6.81274 8.5283 6.51319 8.97083 6.30887 9.45896C6.10455 9.9471 5.99955 10.4711 6 11.0002V16.0002H15.257L7.19 8.15723Z"
              fill="#0081BD"
            />
            <path
              d="M36 21H33C32.4477 21 32 21.4477 32 22V25C32 25.5523 32.4477 26 33 26H36C36.5523 26 37 25.5523 37 25V22C37 21.4477 36.5523 21 36 21Z"
              fill="#8FA5A5"
            />
            <path
              d="M25.5 21H22.5C21.9477 21 21.5 21.4477 21.5 22V25C21.5 25.5523 21.9477 26 22.5 26H25.5C26.0523 26 26.5 25.5523 26.5 25V22C26.5 21.4477 26.0523 21 25.5 21Z"
              fill="#8FA5A5"
            />
            <path
              d="M21.5 22.0688V24.9998C21.5 25.2651 21.6054 25.5194 21.7929 25.707C21.9804 25.8945 22.2348 25.9998 22.5 25.9998H25.5C25.513 25.9998 25.523 25.9928 25.535 25.9928L21.5 22.0688Z"
              fill="#7B8C8C"
            />
            <path
              d="M25.5 31H22.5C21.9477 31 21.5 31.4477 21.5 32V35C21.5 35.5523 21.9477 36 22.5 36H25.5C26.0523 36 26.5 35.5523 26.5 35V32C26.5 31.4477 26.0523 31 25.5 31Z"
              fill="#7B8C8C"
            />
            <path
              d="M15 21H12C11.4477 21 11 21.4477 11 22V25C11 25.5523 11.4477 26 12 26H15C15.5523 26 16 25.5523 16 25V22C16 21.4477 15.5523 21 15 21Z"
              fill="#7B8C8C"
            />
            <path
              d="M15 31H12C11.4477 31 11 31.4477 11 32V35C11 35.5523 11.4477 36 12 36H15C15.5523 36 16 35.5523 16 35V32C16 31.4477 15.5523 31 15 31Z"
              fill="#7B8C8C"
            />
            <path
              d="M17 5C17 3.89543 16.1046 3 15 3C13.8954 3 13 3.89543 13 5V9C13 10.1046 13.8954 11 15 11C16.1046 11 17 10.1046 17 9V5Z"
              fill="#2D4A60"
            />
            <path
              d="M35 5C35 3.89543 34.1046 3 33 3C31.8954 3 31 3.89543 31 5V9C31 10.1046 31.8954 11 33 11C34.1046 11 35 10.1046 35 9V5Z"
              fill="#2D4A60"
            />
            <path
              d="M35 44C39.9706 44 44 39.9706 44 35C44 30.0294 39.9706 26 35 26C30.0294 26 26 30.0294 26 35C26 39.9706 30.0294 44 35 44Z"
              fill="#EAEFF0"
            />
            <path
              d="M37.2502 40.5002C35.5701 40.501 33.9354 39.9556 32.5925 38.9461C31.2496 37.9366 30.2714 36.5178 29.8053 34.9037C29.3393 33.2896 29.4107 31.5678 30.0088 29.9978C30.6069 28.4279 31.6993 27.095 33.1212 26.2002C31.5375 26.5379 30.0742 27.2966 28.8856 28.3964C27.6971 29.4961 26.8273 30.8962 26.3678 32.449C25.9084 34.0017 25.8765 35.6497 26.2753 37.2191C26.6742 38.7885 27.4891 40.2213 28.6341 41.3663C29.7791 42.5113 31.2118 43.3262 32.7813 43.725C34.3507 44.1239 35.9986 44.0919 37.5514 43.6325C39.1042 43.1731 40.5042 42.3033 41.604 41.1147C42.7038 39.9262 43.4625 38.4629 43.8002 36.8792C43.1038 37.9875 42.1376 38.901 40.9921 39.5343C39.8465 40.1675 38.5591 40.4999 37.2502 40.5002V40.5002Z"
              fill="#D9E1E2"
            />
            <path
              d="M15 20H12C11.4696 20 10.9609 20.2107 10.5858 20.5858C10.2107 20.9609 10 21.4696 10 22V25C10 25.5304 10.2107 26.0391 10.5858 26.4142C10.9609 26.7893 11.4696 27 12 27H15C15.5304 27 16.0391 26.7893 16.4142 26.4142C16.7893 26.0391 17 25.5304 17 25V22C17 21.4696 16.7893 20.9609 16.4142 20.5858C16.0391 20.2107 15.5304 20 15 20ZM12 25V22H15V25H12Z"
              fill="black"
            />
            <path
              d="M15 30H12C11.4696 30 10.9609 30.2107 10.5858 30.5858C10.2107 30.9609 10 31.4696 10 32V35C10 35.5304 10.2107 36.0391 10.5858 36.4142C10.9609 36.7893 11.4696 37 12 37H15C15.5304 37 16.0391 36.7893 16.4142 36.4142C16.7893 36.0391 17 35.5304 17 35V32C17 31.4696 16.7893 30.9609 16.4142 30.5858C16.0391 30.2107 15.5304 30 15 30ZM12 35V32H15V35H12Z"
              fill="black"
            />
            <path
              d="M22.5 27H25.5C26.0304 27 26.5391 26.7893 26.9142 26.4142C27.2893 26.0391 27.5 25.5304 27.5 25V22C27.5 21.4696 27.2893 20.9609 26.9142 20.5858C26.5391 20.2107 26.0304 20 25.5 20H22.5C21.9696 20 21.4609 20.2107 21.0858 20.5858C20.7107 20.9609 20.5 21.4696 20.5 22V25C20.5 25.5304 20.7107 26.0391 21.0858 26.4142C21.4609 26.7893 21.9696 27 22.5 27ZM22.5 22H25.5V25H22.5V22Z"
              fill="black"
            />
            <path
              d="M43 29.026V11C42.9984 9.6744 42.4711 8.40356 41.5338 7.46622C40.5964 6.52888 39.3256 6.00159 38 6H36V5C36 4.20435 35.6839 3.44129 35.1213 2.87868C34.5587 2.31607 33.7956 2 33 2C32.2044 2 31.4413 2.31607 30.8787 2.87868C30.3161 3.44129 30 4.20435 30 5V6H18V5C18 4.20435 17.6839 3.44129 17.1213 2.87868C16.5587 2.31607 15.7956 2 15 2C14.2044 2 13.4413 2.31607 12.8787 2.87868C12.3161 3.44129 12 4.20435 12 5V6H10C8.6744 6.00159 7.40356 6.52888 6.46622 7.46622C5.52888 8.40356 5.00159 9.6744 5 11V38C5.00159 39.3256 5.52888 40.5964 6.46622 41.5338C7.40356 42.4711 8.6744 42.9984 10 43H29.026C30.9478 44.4444 33.3264 45.1465 35.7245 44.9773C38.1226 44.8081 40.379 43.7789 42.079 42.079C43.7789 40.379 44.8081 38.1226 44.9773 35.7245C45.1465 33.3264 44.4444 30.9478 43 29.026ZM32 5C32 4.73478 32.1054 4.48043 32.2929 4.29289C32.4804 4.10536 32.7348 4 33 4C33.2652 4 33.5196 4.10536 33.7071 4.29289C33.8946 4.48043 34 4.73478 34 5V9C34 9.26522 33.8946 9.51957 33.7071 9.70711C33.5196 9.89464 33.2652 10 33 10C32.7348 10 32.4804 9.89464 32.2929 9.70711C32.1054 9.51957 32 9.26522 32 9V5ZM14 5C14 4.73478 14.1054 4.48043 14.2929 4.29289C14.4804 4.10536 14.7348 4 15 4C15.2652 4 15.5196 4.10536 15.7071 4.29289C15.8946 4.48043 16 4.73478 16 5V9C16 9.26522 15.8946 9.51957 15.7071 9.70711C15.5196 9.89464 15.2652 10 15 10C14.7348 10 14.4804 9.89464 14.2929 9.70711C14.1054 9.51957 14 9.26522 14 9V5ZM10 8H12V9C12 9.79565 12.3161 10.5587 12.8787 11.1213C13.4413 11.6839 14.2044 12 15 12C15.7956 12 16.5587 11.6839 17.1213 11.1213C17.6839 10.5587 18 9.79565 18 9V8H30V9C30 9.79565 30.3161 10.5587 30.8787 11.1213C31.4413 11.6839 32.2044 12 33 12C33.7956 12 34.5587 11.6839 35.1213 11.1213C35.6839 10.5587 36 9.79565 36 9V8H38C38.7956 8 39.5587 8.31607 40.1213 8.87868C40.6839 9.44129 41 10.2044 41 11V15H7V11C7 10.2044 7.31607 9.44129 7.87868 8.87868C8.44129 8.31607 9.20435 8 10 8V8ZM7 38V17H41V27.019C40.0808 26.3213 39.0474 25.7884 37.946 25.444C37.9808 25.2985 37.9989 25.1496 38 25V22C38 21.4696 37.7893 20.9609 37.4142 20.5858C37.0391 20.2107 36.5304 20 36 20H33C32.4696 20 31.9609 20.2107 31.5858 20.5858C31.2107 20.9609 31 21.4696 31 22V25C31.0001 25.2647 31.0528 25.5268 31.155 25.771C29.1227 26.6255 27.4277 28.1245 26.331 30.037C26.2219 30.0156 26.1112 30.0032 26 30H23C22.4696 30 21.9609 30.2107 21.5858 30.5858C21.2107 30.9609 21 31.4696 21 32V35C21 35.5304 21.2107 36.0391 21.5858 36.4142C21.9609 36.7893 22.4696 37 23 37H25.2C25.4996 38.4522 26.1205 39.8189 27.017 41H10C9.20435 41 8.44129 40.6839 7.87868 40.1213C7.31607 39.5587 7 38.7956 7 38ZM33 25V22H36V25H33ZM25 35H23V32H25.461C25.1554 32.9707 24.9999 33.9824 25 35ZM35 43C33.4177 43 31.871 42.5308 30.5554 41.6518C29.2398 40.7727 28.2145 39.5233 27.609 38.0615C27.0035 36.5997 26.845 34.9911 27.1537 33.4393C27.4624 31.8874 28.2243 30.462 29.3431 29.3431C30.462 28.2243 31.8874 27.4624 33.4393 27.1537C34.9911 26.845 36.5997 27.0035 38.0615 27.609C39.5233 28.2145 40.7727 29.2398 41.6518 30.5554C42.5308 31.871 43 33.4177 43 35C42.9976 37.121 42.154 39.1544 40.6542 40.6542C39.1544 42.154 37.121 42.9976 35 43V43Z"
              fill="black"
            />
            <path
              d="M38 34H36V30C36 29.7348 35.8946 29.4804 35.7071 29.2929C35.5196 29.1054 35.2652 29 35 29C34.7348 29 34.4804 29.1054 34.2929 29.2929C34.1054 29.4804 34 29.7348 34 30V35C34 35.2652 34.1054 35.5196 34.2929 35.7071C34.4804 35.8946 34.7348 36 35 36H38C38.2652 36 38.5196 35.8946 38.7071 35.7071C38.8946 35.5196 39 35.2652 39 35C39 34.7348 38.8946 34.4804 38.7071 34.2929C38.5196 34.1054 38.2652 34 38 34Z"
              fill="black"
            />
          </svg>
        </span>
        <p class="text-md text-gray-700 dark:text-gray-50 text-xs ml-1">
          <strong> Horario: </strong> {{ assets.tipoempleo }}
        </p>
        <span class="ml-4 relative">
          <svg
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            width="24"
            version="1.1"
            xmlns:cc="http://creativecommons.org/ns#"
            xmlns:dc="http://purl.org/dc/elements/1.1/"
          >
            <g transform="translate(0 -1028.4)">
              <g>
                <rect height="14" width="24" y="1031.4" x="0" fill="#16a085" />
                <rect
                  height="14"
                  width="24"
                  y="1032.4"
                  x="-1.0962e-8"
                  fill="#1abc9c"
                />
                <path
                  d="m5 1033.4c0.0001 0 0 0 0 0 0 2.2-1.7909 4-4 4v3.9c2.2091 0 4 1.8 4 4.1h14v-0.1c0-2.2 1.791-4 4-4v-3.9c-2.209 0-4-1.8-4-4h-14z"
                  fill="#ecf0f1"
                />
                <path
                  d="m16 11c0 2.761-1.791 5-4 5-2.2091 0-4-2.239-4-5 0-2.7614 1.7909-5 4-5 2.209 0 4 2.2386 4 5z"
                  transform="translate(0 1028.4)"
                  fill="#1abc9c"
                />
              </g>
              <path
                d="m10.281 1037.1 2.472-0.7h0.247v5c0 0.3 0.022 0.5 0.067 0.6 0.05 0.1 0.15 0.1 0.3 0.2h0.914v0.2h-3.82v-0.2h0.929c0.139-0.1 0.237-0.1 0.292-0.2s0.082-0.3 0.082-0.6v-3.2c0-0.5-0.025-0.7-0.075-0.9-0.035-0.1-0.1-0.1-0.195-0.2h-0.329c-0.185 0-0.442 0-0.772 0.1l-0.112-0.1"
                fill="#ecf0f1"
              />
              <g
                transform="matrix(1.9176 0 0 1.1179 18.509 -118.14)"
                fill="#ecf0f1"
              >
                <g transform="translate(-18.773 13.418)">
                  <path
                    d="m40 5c-0.875 0-1.642 0.2021-2.188 0.5h-0.812v0.2812 0.1563 0.0625 0.0625 0.4375c0 0.8285 1.343 1.5 3 1.5s3-0.6715 3-1.5v-0.4375-0.0625-0.0625-0.1563-0.2812h-0.812c-0.546-0.2979-1.313-0.5-2.188-0.5z"
                    transform="matrix(.52148 0 0 .89455 -9.6523 1024.7)"
                    fill="#f39c12"
                  />
                  <path
                    d="m42 7.5c0 0.8284-1.343 1.5-3 1.5s-3-0.6716-3-1.5 1.343-1.5 3-1.5 3 0.6716 3 1.5z"
                    transform="matrix(.52148 0 0 .89455 -9.1309 1022.9)"
                    fill="#f1c40f"
                  />
                </g>
                <g fill="#ecf0f1">
                  <g transform="translate(-18.773 11.629)">
                    <path
                      d="m40 5c-0.875 0-1.642 0.2021-2.188 0.5h-0.812v0.2812 0.1563 0.0625 0.0625 0.4375c0 0.8285 1.343 1.5 3 1.5s3-0.6715 3-1.5v-0.4375-0.0625-0.0625-0.1563-0.2812h-0.812c-0.546-0.2979-1.313-0.5-2.188-0.5z"
                      transform="matrix(.52148 0 0 .89455 -9.6523 1024.7)"
                      fill="#f39c12"
                    />
                    <path
                      d="m42 7.5c0 0.8284-1.343 1.5-3 1.5s-3-0.6716-3-1.5 1.343-1.5 3-1.5 3 0.6716 3 1.5z"
                      transform="matrix(.52148 0 0 .89455 -9.1309 1022.9)"
                      fill="#f1c40f"
                    />
                  </g>
                  <g transform="translate(-18.773 9.8401)">
                    <path
                      d="m40 5c-0.875 0-1.642 0.2021-2.188 0.5h-0.812v0.2812 0.1563 0.0625 0.0625 0.4375c0 0.8285 1.343 1.5 3 1.5s3-0.6715 3-1.5v-0.4375-0.0625-0.0625-0.1563-0.2812h-0.812c-0.546-0.2979-1.313-0.5-2.188-0.5z"
                      transform="matrix(.52148 0 0 .89455 -9.6523 1024.7)"
                      fill="#f39c12"
                    />
                    <path
                      d="m42 7.5c0 0.8284-1.343 1.5-3 1.5s-3-0.6716-3-1.5 1.343-1.5 3-1.5 3 0.6716 3 1.5z"
                      transform="matrix(.52148 0 0 .89455 -9.1309 1022.9)"
                      fill="#f1c40f"
                    />
                  </g>
                  <g transform="translate(-18.773 8.0509)">
                    <path
                      d="m40 5c-0.875 0-1.642 0.2021-2.188 0.5h-0.812v0.2812 0.1563 0.0625 0.0625 0.4375c0 0.8285 1.343 1.5 3 1.5s3-0.6715 3-1.5v-0.4375-0.0625-0.0625-0.1563-0.2812h-0.812c-0.546-0.2979-1.313-0.5-2.188-0.5z"
                      transform="matrix(.52148 0 0 .89455 -9.6523 1024.7)"
                      fill="#f39c12"
                    />
                    <path
                      d="m42 7.5c0 0.8284-1.343 1.5-3 1.5s-3-0.6716-3-1.5 1.343-1.5 3-1.5 3 0.6716 3 1.5z"
                      transform="matrix(.52148 0 0 .89455 -9.1309 1022.9)"
                      fill="#f1c40f"
                    />
                  </g>
                  <g transform="translate(-15.123 13.418)">
                    <path
                      d="m40 5c-0.875 0-1.642 0.2021-2.188 0.5h-0.812v0.2812 0.1563 0.0625 0.0625 0.4375c0 0.8285 1.343 1.5 3 1.5s3-0.6715 3-1.5v-0.4375-0.0625-0.0625-0.1563-0.2812h-0.812c-0.546-0.2979-1.313-0.5-2.188-0.5z"
                      transform="matrix(.52148 0 0 .89455 -9.6523 1024.7)"
                      fill="#f39c12"
                    />
                    <path
                      d="m42 7.5c0 0.8284-1.343 1.5-3 1.5s-3-0.6716-3-1.5 1.343-1.5 3-1.5 3 0.6716 3 1.5z"
                      transform="matrix(.52148 0 0 .89455 -9.1309 1022.9)"
                      fill="#f1c40f"
                    />
                  </g>
                  <g transform="translate(-14.08 12.524)">
                    <path
                      d="m40 5c-0.875 0-1.642 0.2021-2.188 0.5h-0.812v0.2812 0.1563 0.0625 0.0625 0.4375c0 0.8285 1.343 1.5 3 1.5s3-0.6715 3-1.5v-0.4375-0.0625-0.0625-0.1563-0.2812h-0.812c-0.546-0.2979-1.313-0.5-2.188-0.5z"
                      transform="matrix(.52148 0 0 .89455 -9.6523 1024.7)"
                      fill="#f39c12"
                    />
                    <path
                      d="m42 7.5c0 0.8284-1.343 1.5-3 1.5s-3-0.6716-3-1.5 1.343-1.5 3-1.5 3 0.6716 3 1.5z"
                      transform="matrix(.52148 0 0 .89455 -9.1309 1022.9)"
                      fill="#f1c40f"
                    />
                  </g>
                  <g transform="translate(-18.773 6.2618)">
                    <path
                      d="m40 5c-0.875 0-1.642 0.2021-2.188 0.5h-0.812v0.2812 0.1563 0.0625 0.0625 0.4375c0 0.8285 1.343 1.5 3 1.5s3-0.6715 3-1.5v-0.4375-0.0625-0.0625-0.1563-0.2812h-0.812c-0.546-0.2979-1.313-0.5-2.188-0.5z"
                      transform="matrix(.52148 0 0 .89455 -9.6523 1024.7)"
                      fill="#f39c12"
                    />
                    <path
                      d="m42 7.5c0 0.8284-1.343 1.5-3 1.5s-3-0.6716-3-1.5 1.343-1.5 3-1.5 3 0.6716 3 1.5z"
                      transform="matrix(.52148 0 0 .89455 -9.1309 1022.9)"
                      fill="#f1c40f"
                    />
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </span>
        <p class="text-md text-gray-700 dark:text-gray-50 text-xs ml-1">
          <strong> Paquete salarial:</strong> {{ assets.ofertsalarl
          }}<span class="text-xs">$</span>
        </p>
      </div>

      <div class="flex mt-2">
        <div id="readmore">
          <p class="text-justify text-xs">
            {{ displayText }}
          </p>
        </div>
      </div>

      <div class="flex">
        <a
          href="javascript:void(0)"
          class="
            ml-auto
            md:block
            text-xs text-gray-500
            dark:text-gray-300
            underline
          "
          @click="toggle"
        >
          Ver {{ toggled ? "menos" : "más" }}
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      toggled: false,
      limit: 300,
      personas: [],
      nombrEmprs: "",
    };
  },
  props: {
    assets: {},
  },
  computed: {
    displayText() {
      return this.toggled
        ? this.assets.descrpAnunc
        : this.truncate(this.assets.descrpAnunc);
    },
  },
  filters: {
    empresaName: function (value) {
      //http://localhost:1337/empresa/618ece67b315950ce01c0e59/owner
      const empre = value + "XX";
      var empresa = axios
        .get(
          `http://localhost:1337/empresa/${value}/owner`
          //   `http://localhost:1337/empresa/${value}/owner`
        ) //http://localhost:1337/anuncio?owner=${this.$store.state.regEmprs.id}
        .then((res) => {
          //Perform Success Action
          //alert("Usuario no encontrado, debe registrarse");
          if (!res) {
            return (empresa = "No disponible");
          }
          console.log("respuesta obtenida", res.data);
          console.log(
            "nombre es: ",
            res.data.nombreUserEmprs + " " + res.data.apellidoUserEmprs
          );
          return (empresa =
            res.data.nombreUserEmprs + " " + res.data.apellidoUserEmprs);
        })
        .catch((error) => {
          //this.errors.push(e);
          console.log("mission pelaste bolas");
          console.log(error);
        });
      console.log("empresa es: ", empresa);
      return empre;
    },
    formatedTime: function (value) {
      var date = new Date(value);

      return (
        date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear() // +
        // " " +
        //date.getHours() +
        //":" +
        // date.getMinutes() +
        //":" +
        //date.getSeconds()
      );
      //console.log(formatedTime);
    },
  },
  // created() {

  // },
  methods: {
    onSubmit2() {
      console.log("id de anuncio", this.assets.id);
      axios
        .get(
          `http://localhost:1337/anuncio/${this.assets.id}`
          //   `http://localhost:1337/anuncio/this.assets.id`
        ) //http://localhost:1337/anuncio?owner=${this.$store.state.regEmprs.id}
        .then((res) => {
          //Perform Success Action
          console.log("respuesta obtenida", res.data);
          this.$store.commit("getAnuncsByEmpresa", res.data);
          this.$router.push({
            name: "AnunciosEditarByEmprs",
          });
        })
        .catch((error) => {
          //this.errors.push(e);
          console.log("mission pelaste bolas");
          console.log(error);
        });
    },
    onSubmit() {
      console.log("id de anuncio", this.assets.id);
      if (!this.$store.state.regUserEmprs) {
        if (this.$store.state.regUser) {
          alert("Debe completar sus datos para poder postularse a un anuncio");
          this.$router.push({
            name: "DatosCv",
          });
        } else {
          alert("Debe iniciar sesión para poder postularse a un anuncio");
          this.$router.push({
            name: "Login",
          });
        }
      } else {
        if (!this.$store.state.userData.id) {
          alert(
            "Debe completar su registro de datos para postularse a un anuncio"
          );
          this.$router.push({
            name: "DatosCv",
          });
          return;
        }
        console.log("id de persona", this.$store.state.regUser.id);

        axios({
          method: "post",
          url: "http://localhost:1337/updatePersonsAnuncio",
          headers: {
            "Content-Type": "application/json",
          },
          data: {
            idAnunc: this.assets.id,
            idPerson: this.$store.state.regUser.id,
          },
        })
          .then((res) => {
            //this.$store.commit("getReguser", res.data);
            //Perform Success Action
            console.log("mission acomplished");
            alert("Postulado exitosamente");
            console.log("respuesta post id objeto registrad", res.data);
          })
          .catch((error) => {
            // error.response.status Check status code
            console.log("mission pelaste bolas");
            console.log(error);
          });
      }
      //console.log("personas tiene", this.personas.data);
    },
    toggle() {
      console.log("tog");
      this.toggled = !this.toggled;
    },
    truncate(text) {
      if (text.length > this.limit) {
        for (let i = this.limit; i > 0; i--) {
          const currChar = text.charAt(i);
          const prevChar = text.charAt(i - 1);
          const prevCharNotPuncuation =
            prevChar != "," || prevChar != "." || prevChar != ".";
          if (currChar === " " && prevCharNotPuncuation) {
            return text.substring(0, i) + "...";
          }
        }
      } else {
        return text;
      }
    },
  },
};
</script>
