<template>
  <div class="w-full">
    <div class="shadow-md w-full relative rounded-lg">
      <CuadroAnuncio></CuadroAnuncio>
    </div>
  </div>
</template>
<script>

import CuadroAnuncio from "./CuadroAnuncio.vue";

export default {
  name: "App",

  components: {
    CuadroAnuncio,
  },
  data() {
    return {};
  },
};
</script>
