<template>
  <div class="flex-col bg-gray-200 rounded-lg dark:bg-gray-800">
    <div
      class="
        self-center
        mb-4
        text-lg
        font-bold
        text-gray-800
        sm:text-md
        dark:text-white
        w-full
        text-left
      "
    >
      Nombre del anuncio: {{ this.dataAnuncio.tituloAnunc }}
    </div>

    <div class="flex flex-col">
      <form @submit.stop.prevent="onSubmit">
        <div class="flex gap-2 mb-2">
          <div class="relative">
            <label
              for="price"
              class="block text-xs font-medium text-gray-700 text-left ml-1"
            >
              <strong> Nombre del anuncio</strong>
            </label>
            <input
              type="text"
              class="
                w-96
                max-w-lg
                rounded-lg
                border border-gray-300
                py-2
                px-4
                bg-white
                text-gray-700
                placeholder-gray-400
                shadow-sm
                text-sm
                focus:outline-none
                focus:ring-2
                focus:ring-purple-600
                focus:border-transparent
              "
              name="nombreaviso"
              v-model.trim="dataAnuncio.tituloAnunc"
              placeholder="Puesto / Titulo del aviso"
            />
          </div>
          <div class="relative">
            <input
              hidden
              type="text"
              class="
                rounded-lg
                border-transparent
                appearance-none
                border border-gray-300
                w-full
                py-2
                px-4
                bg-white
                text-gray-700
                placeholder-gray-400
                shadow-sm
                text-sm
                focus:outline-none
                focus:ring-2
                focus:ring-purple-600
                focus:border-transparent
              "
              name="vacantes"
              placeholder="Vacantes disponibles"
            />
          </div>
          <div class="relative">
            <label
              for="price"
              class="block text-xs font-medium text-gray-700 text-left ml-1"
            >
              <strong> Finaliza el</strong>
            </label>
            <input
              class="
                rounded-lg
                border-transparent
                appearance-none
                border border-gray-300
                w-full
                py-2
                px-4
                bg-white
                text-gray-700
                placeholder-gray-400
                shadow-sm
                text-sm
                focus:outline-none
                focus:ring-2
                focus:ring-purple-600
                focus:border-transparent
              "
              type="text"
              name="fechaNacimientUser"
              placeholder="Fecha de finalización"
              onfocus="(this.type='date')"
              onblur="(this.type='text')"
              v-model.lazy.trim="dataAnuncio.fechFinalzcn"
            />
          </div>
        </div>

        <div class="flex flex-col mb-2">
          <div class="relative">

            <label
              for="price"
              class="block text-xs font-medium text-gray-700 text-left ml-1"
            >
              <strong> Descripción del cargo </strong>
            </label>
              <textarea
                class="
                  flex-1
                  appearance-none
                  border border-gray-300
                  w-full
                  py-2
                  px-4
                  bg-white
                  text-gray-700
                  placeholder-gray-400
                  rounded-lg
                  text-sm
                  focus:outline-none
                  focus:ring-2
                  focus:ring-purple-600
                  focus:border-transparent
                "
                placeholder="Breve descripción del anuncio y labores asociadas a ejecutar."
                v-model.lazy.trim="dataAnuncio.descrpAnunc"
                name="comment"
                rows="3"
                cols="40"
              >
              </textarea>
          </div>
        </div>

        <div class="hidden flex flex-wrap -mx-3 mt-5 mb-2">
          <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <div class="relative">
              <select
                class="
                  block
                  appearance-none
                  w-full
                  bg-gray-100
                  border border-gray-200
                  text-gray-700
                  py-3
                  px-4
                  pr-8
                  rounded
                  leading-tight
                  focus:outline-none focus:bg-white focus:border-gray-500
                  text-sm
                "
                name="pais"
                placeholder="País"
                v-model.lazy.trim="dataLocalidadAnunc.pais"
              >
                <option disabled value="">País</option>
                <option>Venezuela</option>
              </select>
              <div
                class="
                  pointer-events-none
                  absolute
                  inset-y-0
                  right-0
                  flex
                  items-center
                  px-2
                  text-gray-700
                "
              >
                <svg
                  class="fill-current h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>
          </div>

          <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <div class="relative">
              <select
                class="
                  block
                  appearance-none
                  w-full
                  bg-gray-100
                  border border-gray-200
                  text-gray-700
                  py-3
                  px-4
                  pr-8
                  rounded
                  leading-tight
                  focus:outline-none focus:bg-white focus:border-gray-500
                  text-sm
                "
                name="estado"
                aria-placeholder="Estado"
                v-model.lazy.trim="dataLocalidadAnunc.estado"
              >
                <option disabled value="">Estado</option>
                <option>Dtto Capital</option>
                <option>Miranda</option>
              </select>
              <div
                class="
                  pointer-events-none
                  absolute
                  inset-y-0
                  right-0
                  flex
                  items-center
                  px-2
                  text-gray-700
                "
              >
                <svg
                  class="fill-current h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>
          </div>
          <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <div class="relative">
              <select
                class="
                  block
                  appearance-none
                  w-full
                  bg-gray-100
                  border border-gray-200
                  text-gray-700
                  py-3
                  px-4
                  pr-8
                  rounded
                  leading-tight
                  focus:outline-none focus:bg-white focus:border-gray-500
                  text-sm
                "
                name="ciudad"
                v-model.lazy.trim="dataLocalidadAnunc.ciudad"
              >
                <option disabled value="">Ciudad</option>
                <option>Dtto Capital</option>
                <option>Miranda</option>
              </select>
              <div
                class="
                  pointer-events-none
                  absolute
                  inset-y-0
                  right-0
                  flex
                  items-center
                  px-2
                  text-gray-700
                "
              >
                <svg
                  class="fill-current h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="hidden flex flex-col mb-1">
          <div class="relative">
            <label class="text-gray-700" for="name">
              <textarea
                class="
                  flex-1
                  appearance-none
                  border border-gray-300
                  w-full
                  py-2
                  px-4
                  bg-white
                  text-gray-700
                  placeholder-gray-400
                  rounded-lg
                  text-sm
                  focus:outline-none
                  focus:ring-2
                  focus:ring-purple-600
                  focus:border-transparent
                "
                placeholder="Dirección"
                v-model.lazy.trim="dataLocalidadAnunc.direccion"
                name="comment"
                rows="2"
                cols="40"
              >
              </textarea>
            </label>
          </div>
        </div>

        <div class="flex flex-wrap -mx-3 mt-2 mb-2">
          <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <div class="relative">

              <label
                for="price"
                class="block text-xs font-medium text-gray-700 text-left ml-1"
              >
                <strong> Area </strong>
              </label>
              <select
                class="
                  block
                  appearance-none
                  w-full
                  bg-gray-100
                  border border-gray-200
                  text-gray-700
                  py-3
                  px-4
                  pr-8
                rounded-lg
                  leading-tight
                  focus:outline-none focus:bg-white focus:border-gray-500
                  text-sm
                "
                name="areapuesto"
                v-model.lazy.trim="dataAnuncio.area"
              >
                <option disabled value="">Area</option>
                <option>Abastecimiento y Logística</option>
                <option>Administración, Contabilidad y Finanzas</option>
                <option>Aduana y Comercio Exterior</option>
                <option>
                  Atención al Cliente, Call Center y Telemarketing
                </option>
                <option>Comercial, Ventas y Negocios</option>
                <option>
                  Comunicación, Relaciones Institucionales y Públicas
                </option>
                <option>Diseño</option>
                <option>Educación, Docencia e Investigación</option>
                <option>Enfermería</option>
                <option>Gastronomía y Turismo</option>
                <option>Gerencia y Dirección General</option>
                <option>Ingeniería Civil y Construcción</option>
                <option>Ingenierías</option>
                <option>Jóvenes Profesionales</option>
                <option>Legales</option>
                <option>Marketing y Publicidad</option>
                <option>Minería, Petróleo y Gas</option>
                <option>Oficios y Otros</option>
                <option>Pasantía / Trainee</option>
                <option>Producción y Manufactura</option>
                <option>Recursos Humanos y Capacitación</option>
                <option>Salud, Medicina y Farmacia</option>
                <option>Secretarias y Recepción</option>
                <option>Seguros</option>
                <option>Tecnología, Sistemas y Telecomunicaciones</option>
              </select>
              <div
                class="
                  pointer-events-none
                  absolute
                  inset-y-0
                  right-0
                  flex
                  items-center
                  pt-4
                  px-2
                  text-gray-700
                "
              >
                <svg
                  class="fill-current h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>
          </div>

          <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <div class="relative">
              <label
                for="price"
                class="block text-xs font-medium text-gray-700 text-left ml-1"
              >
                <strong> Jerarquía </strong>
              </label>
              <select
                class="
                  block
                  appearance-none
                  w-full
                  bg-gray-100
                  border border-gray-200
                  text-gray-700
                  py-3
                  px-4
                  pr-8
                rounded-lg
                  leading-tight
                  focus:outline-none focus:bg-white focus:border-gray-500
                  text-sm
                "
                name="jerarquia"
                v-model.lazy.trim="dataAnuncio.jerarquia"
              >
                <option disabled value="" class="text-gray-800">Jerarquía</option>

                <option value="1">Senior / Semi-Senior</option>

                <option value="2">Junior</option>

                <option value="3">Gerencia / Alta Gerencia / Dirección</option>

                <option value="4">Jefe / Supervisor / Responsable</option>

                <option value="5">Otro</option>

                <option value="6">Primer Empleo</option>
              </select>
              <div
                class="pointer-events-none
                  absolute
                  inset-y-0
                  right-0
                  flex
                  items-center
                  pt-4
                  px-2
                  text-gray-700
                "
              >
                <svg
                  class="fill-current h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>
          </div>
          <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0 hidden">
            <div class="relative">
              <select
                class="
                  block
                  appearance-none
                  w-full
                  bg-gray-100
                  border border-gray-200
                  text-gray-700
                  py-3
                  px-4
                  pr-8
                rounded-lg
                  leading-tight
                  focus:outline-none focus:bg-white focus:border-gray-500
                  text-sm
                "
                id="jerarquia"
              >
                <option>Jerarquía</option>
                <option>Missouri</option>
                <option>Texas</option>
              </select>
              <div
                class="
                  pointer-events-none
                  absolute
                  inset-y-0
                  right-0
                  flex
                  items-center
                  px-2
                  text-gray-700
                "
              >
                <svg
                  class="fill-current h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-wrap -mx-3 mb-2">
          <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <div class="relative">
              <label
                for="price"
                class="block text-xs font-medium text-gray-700 text-left ml-1"
              >
                <strong> Tipo de empleo </strong>
              </label>
              <select
                class="
                  block
                  appearance-none
                  w-full
                  bg-gray-100
                  border border-gray-200
                  text-gray-700
                  py-3
                  px-4
                  pr-8
                rounded-lg
                  leading-tight
                  focus:outline-none focus:bg-white focus:border-gray-500
                  text-sm
                "
                name="tipoempleo"
                v-model.lazy.trim="dataAnuncio.tipoempleo"
              >
                <option disabled value="">Tipo de empleo</option>
                <option>Full-time</option>
                <option>Part-time</option>
                <option>Temporario</option>
                <option>Pasantia</option>
                <option>Por Contrato</option>
                <option>Voluntario</option>
                <option>Primer empleo</option>
                <option>Por Horas</option>
                <option>Fines de Semana</option>
              </select>
              <div
                class="
                  pointer-events-none
                  absolute
                  inset-y-0
                  right-0
                  flex
                  items-center
                  pt-4
                  px-2
                  text-gray-700
                "
              >
                <svg
                  class="fill-current h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>
          </div>

          <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <div class="relative">
              <label
                class="block text-xs font-medium text-gray-700 text-left ml-1"
              >
                <strong> Modalidad laboral </strong>
              </label>
              <select
                class="
                  block
                  appearance-none
                  w-full
                  bg-gray-100
                  border border-gray-200
                  text-gray-700
                  py-3
                  px-4
                  pr-8
                rounded-lg
                  leading-tight
                  focus:outline-none focus:bg-white focus:border-gray-500
                  text-sm
                "
                name="modalidadtrabajo"
                v-model.lazy.trim="dataAnuncio.modalidtrabj"
              >
                <option disabled value="">Modalidad laboral</option>
                <option>Presencial</option>
                <option>Desde casa</option>
                <option>Presencial y desde casa</option>
                <option>Desde cualquier lugar del mundo</option>
              </select>
              <div
                class="
                  pointer-events-none
                  absolute
                  inset-y-0
                  right-0
                  flex
                  items-center
                  pt-4
                  px-2
                  text-gray-700
                "
              >
                <svg
                  class="fill-current h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>
          </div>
          <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <div class="relative">
              <label
                for="price"
                class="block text-xs font-medium text-gray-700 text-left ml-1"
              >
                <strong> Oferta salarial </strong>
              </label>
              <input
                type="text"
                class="
                  block
                  appearance-none
                  w-full
                  bg-white
                  border border-gray-200
                  text-gray-700
                  py-3
                  px-4
                  pr-8
                rounded-lg
                  leading-tight
                  focus:outline-none focus:bg-white focus:border-gray-500
                  text-sm
                "
                name="ofertsalarl"
                v-model.lazy.trim="dataAnuncio.ofertsalarl"
                placeholder="Oferta Salarial"
              />
            </div>
          </div>
        </div>

        <div class="mt-5 mb-3">
          <div class="relative mr-2 select-none">
            <div class="flex gap-8">
              <p class="text-sm">Trabajo apto para discapacitados</p>
              <label class="inline-flex items-center">
                <input
                  type="radio"
                  value="true"
                  name="discap"
                  v-model="dataAnuncio.pDiscapacitds"
                  class="h-5 w-5 text-red-600"
                />
                <span class="ml-2 text-gray-700"> Si </span>
              </label>
              <label class="inline-flex items-center">
                <input
                  type="radio"
                  value="false"
                  name="discap"
                  v-model="dataAnuncio.pDiscapacitds"
                  class="h-5 w-5 text-red-600"
                />
                <span class="ml-2 text-gray-700"> No </span>
              </label>
            </div>
          </div>
        </div>

        <div class="mb-3 hidden">
          <div class="relative mr-2">
            <div class="flex items-center gap-8">
              <p class="text-sm">Recibir copia de CV via email</p>

              <label class="inline-flex items-center">
                <input
                  type="radio"
                  value="true"
                  name="cvemailcopy"
                  v-model="dataAnuncio.cvemailcopy"
                  class="h-5 w-5 text-red-600"
                />
                <span class="ml-2 text-gray-700"> Si </span>
              </label>
              <label class="inline-flex items-center">
                <input
                  type="radio"
                  value="false"
                  name="cvemailcopy"
                  v-model="dataAnuncio.cvemailcopy"
                  class="h-5 w-5 text-red-600"
                />
                <span class="ml-2 text-gray-700"> No </span>
              </label>
            </div>
          </div>
        </div>

        <div class="flex flex-wrap justify-end mt-8">
          <div class="my-1 mr-1 hidden">
            <button
              class="
                flex
                items-center
                p-3
                ml-2
                transition
                ease-in
                duration-200
                uppercase
                rounded-full
                bg-yellow-400
                hover:bg-gray-800 hover:text-white
                border-1 border-yellow-600
                focus:outline-none
              "
            >
              <svg
                width="20"
                height="20"
                fill=""
                viewBox="0 0 2304 1792"
                class=""
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1728 448l-384 704h768zm-1280 0l-384 704h768zm821-192q-14 40-45.5 71.5t-71.5 45.5v1291h608q14 0 23 9t9 23v64q0 14-9 23t-23 9h-1344q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h608v-1291q-40-14-71.5-45.5t-45.5-71.5h-491q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h491q21-57 70-92.5t111-35.5 111 35.5 70 92.5h491q14 0 23 9t9 23v64q0 14-9 23t-23 9h-491zm-181 16q33 0 56.5-23.5t23.5-56.5-23.5-56.5-56.5-23.5-56.5 23.5-23.5 56.5 23.5 56.5 56.5 23.5zm1088 880q0 73-46.5 131t-117.5 91-144.5 49.5-139.5 16.5-139.5-16.5-144.5-49.5-117.5-91-46.5-131q0-11 35-81t92-174.5 107-195.5 102-184 56-100q18-33 56-33t56 33q4 7 56 100t102 184 107 195.5 92 174.5 35 81zm-1280 0q0 73-46.5 131t-117.5 91-144.5 49.5-139.5 16.5-139.5-16.5-144.5-49.5-117.5-91-46.5-131q0-11 35-81t92-174.5 107-195.5 102-184 56-100q18-33 56-33t56 33q4 7 56 100t102 184 107 195.5 92 174.5 35 81z"
                ></path>
              </svg>
            </button>
            <label for="">Guardar</label>
          </div>

          <div class="my-1 mx-2">
            <button
              class="
                flex
                items-center
                ml-2
                p-3
                transition
                ease-in
                duration-200
                uppercase
                rounded-full
                bg-green-400
                hover:bg-gray-800 hover:text-white
                border-1 border-green-600
                focus:outline-none
              "
              type="submit"
            >
              <svg
                width="20"
                height="20"
                fill="currentColor"
                viewBox="0 0 2304 1792"
                class=""
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1728 448l-384 704h768zm-1280 0l-384 704h768zm821-192q-14 40-45.5 71.5t-71.5 45.5v1291h608q14 0 23 9t9 23v64q0 14-9 23t-23 9h-1344q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h608v-1291q-40-14-71.5-45.5t-45.5-71.5h-491q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h491q21-57 70-92.5t111-35.5 111 35.5 70 92.5h491q14 0 23 9t9 23v64q0 14-9 23t-23 9h-491zm-181 16q33 0 56.5-23.5t23.5-56.5-23.5-56.5-56.5-23.5-56.5 23.5-23.5 56.5 23.5 56.5 56.5 23.5zm1088 880q0 73-46.5 131t-117.5 91-144.5 49.5-139.5 16.5-139.5-16.5-144.5-49.5-117.5-91-46.5-131q0-11 35-81t92-174.5 107-195.5 102-184 56-100q18-33 56-33t56 33q4 7 56 100t102 184 107 195.5 92 174.5 35 81zm-1280 0q0 73-46.5 131t-117.5 91-144.5 49.5-139.5 16.5-139.5-16.5-144.5-49.5-117.5-91-46.5-131q0-11 35-81t92-174.5 107-195.5 102-184 56-100q18-33 56-33t56 33q4 7 56 100t102 184 107 195.5 92 174.5 35 81z"
                ></path>
              </svg>
            </button>
            <label for="">Publicar</label>
          </div>

          <div class="my-1 hidden">
            <button
              class="
                flex
                items-center
                p-3
                ml-3
                transition
                ease-in
                duration-200
                uppercase
                rounded-full
                hover:bg-gray-800 hover:text-white
                border-1 border-red-600
                focus:outline-none
                bg-red-400
              "
            >
              <svg
                width="20"
                height="20"
                fill="currentColor"
                viewBox="0 0 2304 1792"
                class=""
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1728 448l-384 704h768zm-1280 0l-384 704h768zm821-192q-14 40-45.5 71.5t-71.5 45.5v1291h608q14 0 23 9t9 23v64q0 14-9 23t-23 9h-1344q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h608v-1291q-40-14-71.5-45.5t-45.5-71.5h-491q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h491q21-57 70-92.5t111-35.5 111 35.5 70 92.5h491q14 0 23 9t9 23v64q0 14-9 23t-23 9h-491zm-181 16q33 0 56.5-23.5t23.5-56.5-23.5-56.5-56.5-23.5-56.5 23.5-23.5 56.5 23.5 56.5 56.5 23.5zm1088 880q0 73-46.5 131t-117.5 91-144.5 49.5-139.5 16.5-139.5-16.5-144.5-49.5-117.5-91-46.5-131q0-11 35-81t92-174.5 107-195.5 102-184 56-100q18-33 56-33t56 33q4 7 56 100t102 184 107 195.5 92 174.5 35 81zm-1280 0q0 73-46.5 131t-117.5 91-144.5 49.5-139.5 16.5-139.5-16.5-144.5-49.5-117.5-91-46.5-131q0-11 35-81t92-174.5 107-195.5 102-184 56-100q18-33 56-33t56 33q4 7 56 100t102 184 107 195.5 92 174.5 35 81z"
                ></path>
              </svg>
            </button>
            <label for="">Despublicar</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  name: "anuncio",
  created() {
    if (this.$store.state.regEmprs.id) {
      this.dataAnuncio.owner = this.$store.state.regEmprs.id;
      console.log("entro por el registro ", this.dataAnuncio.owner);
    } //regUserEmprs.empresa[0].id
    else {
      if (this.$store.state.regUserEmprs.empresa) {
        this.dataAnuncio.owner = this.$store.state.regUserEmprs.empresa[0].id;
        console.log("entro por el login ", this.dataAnuncio.owner);
      } else {
        alert("Debe iniciar sesión para crear un nuevo anuncio");
        this.$router.push({
          name: "loginEmprs",
        });
        return;
      }
    }
  },
  methods: {
    onSubmit() {
      axios
        .post("http://localhost:1337/anuncio", this.dataAnuncio)
        .then((res) => {
          //Perform Success Action
          console.log("mission acomplished");
          console.log(res.data.id);
          this.dataPostuldsAnuncio.owner = res.data.id;

          alert("Anuncio creada satisfactoriamente");
          this.$router.push({
            name: "Home2",
          });
        })
        .catch((error) => {
          // error.response.status Check status code
          console.log("mission pelaste bolas");
          console.log(error);
          alert("¡Error!");
          alert("¡Verifique la información ingresada y vuelva a intentarlo");
        })
        .finally(() => {
          //Perform action in always
          // axios
          //   .post(
          //     "http://localhost:1337/postulacnAnuncio",
          //     this.dataPostuldsAnuncio
          //   )
          //   .then((res) => {
          //     //Perform Success Action
          //     console.log(
          //       "mission acomplished tabla de postulaciones a este anuncio generada el id es ↓"
          //     );
          //     console.log(res.data.id);
          //   });
        });
    },
  },
  data() {
    return {
      dataPostuldsAnuncio: {
        owner: null,
      },
      dataAnuncio: {
        tituloAnunc: "",
        //cantVacnts: "",
        descrpAnunc: "",
        fechFinalzcn: "",
        area: "",
        jerarquia: "",
        tipoempleo: "",
        modalidtrabj: "",
        ofertsalarl: "",
        pDiscapacitds: "",
        cvemailcopy: "",
        anuncActivo: true,
        owner: null,
      },
      dataLocalidadAnunc: {
        pais: "",
        estado: "",
        ciudad: "",
        direccion: "",

        municipio: "",
      },
    };
  },
};
</script>
