<template>
  <div>
    <loader v-show="isLoading"/>
    <div v-show="!isLoading" class="mb-3" v-for="anuncio in assets" :key="anuncio.id" >
     <AnuncioCreado :assets = "anuncio" :key="anuncio.id"/> 
    </div>
  </div>
</template>

<script>
import AnuncioCreado from "@/components/AnuncioCreado.vue";
import loader from "@/components/shared/loader.vue";
import axios from "axios";

export default {
  name: "Home",
  components: {
    AnuncioCreado,
    loader
  },
  data() {
    return {
      assets: [],

      isLoading: false
    };
  },
  created() {
    this.isLoading = true ;
    axios
      .get(`http://localhost:1337/anuncio`)
      .then((res) => {
        // JSON responses are automatically parsed.
        this.isLoading = false ;
        this.assets = res.data;
        //console.log(this.assets);
            // id
            // anuncActivo
            // updatedAt
            // tituloAnunc
            // owner
            //     nombreEmpr
            //     rifEmpr
            // updatedAt
            // descrpAnunc
            // tipoempleo
            // modalidtrabj
            // ofertsalarl
            // cvemailcopy
        this.$store.commit('getAnuncs', res.data);
      })
      .catch((error) => {
        //this.errors.push(e);
        console.log("mission pelaste bolas");
        console.log(error);
      });
  },
};
</script>

<style>
</style>