<template>
  <div>
    <div>
      <div>
         <loader v-if="isLoading"></loader>
        <main
          class="bg-gray-100 dark:bg-gray-800 h-screen overflow-hidden relative"
        >
          <div class="flex items-start justify-between">
            <div class="h-screen hidden lg:block shadow-lg relative w-80">
          <div class="bg-white h-full dark:bg-gray-700">
            <div class="flex items-center justify-start pt-6 ml-8">
              <p class="font-bold dark:text-white text-xl">Menu</p>
            </div>
            <nav class="mt-6">
              <div>
                <router-link to="/home2">
                <a
                  class="
                    w-full
                    text-gray-800
                    dark:text-white
                    flex
                    items-center
                    pl-6
                    p-2
                    my-2
                    transition-colors
                    duration-200
                    justify-start
                  "
                >
                  <span class="text-left">
                    <svg
                      width="20"
                      height="20"
                      fill="currentColor"
                      viewBox="0 0 1792 1792"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1472 992v480q0 26-19 45t-45 19h-384v-384h-256v384h-384q-26 0-45-19t-19-45v-480q0-1 .5-3t.5-3l575-474 575 474q1 2 1 6zm223-69l-62 74q-8 9-21 11h-3q-13 0-21-7l-692-577-692 577q-12 8-24 7-13-2-21-11l-62-74q-8-10-7-23.5t11-21.5l719-599q32-26 76-26t76 26l244 204v-195q0-14 9-23t23-9h192q14 0 23 9t9 23v408l219 182q10 8 11 21.5t-7 23.5z"
                      ></path>
                    </svg>
                  </span>
                  <span class="mx-2 text-sm font-normal"> Inicio </span>
                </a>
                </router-link>

                  <a
                    class="
                    cursor-pointer
                      w-full
                      text-gray-400
                      flex
                      items-center
                      pl-6
                      p-2
                      my-2
                      transition-colors
                      duration-200
                      justify-start
                      hover:text-gray-800
                                          border-l-4 border-transparent

                    "
                  >
                    <span class="text-left">
                      <svg
                        width="20"
                        height="20"
                        fill="currentColor"
                        viewBox="0 0 2048 1792"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1070 1178l306-564h-654l-306 564h654zm722-282q0 182-71 348t-191 286-286 191-348 71-348-71-286-191-191-286-71-348 71-348 191-286 286-191 348-71 348 71 286 191 191 286 71 348z"
                        ></path>
                      </svg>
                    </span>
                    <span class="mx-2 text-sm font-normal">
                      Anuncios
                      <span
                        class="
                        hidden
                          p-1
                          ml-4
                          rounded-lg
                          w-4
                          h-2
                          bg-gray-200
                          text-gray-400 text-xs
                        "
                      >
                        0
                      </span>
                    </span>
                  </a>
                <router-link to="/anunReg">
                  <a
                    class="
                      w-full
                      text-gray-400
                      flex
                      items-center
                      pl-6
                      p-2
                      my-2
                      transition-colors
                      duration-200
                      justify-start
                      hover:text-gray-800
                    "
                    href="#"
                  >
                    <span class="text-left ml-3">
                      <svg
                        width="20"
                        height="20"
                        fill="currentColor"
                        viewBox="0 0 1792 1792"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1728 608v704q0 92-66 158t-158 66h-1216q-92 0-158-66t-66-158v-960q0-92 66-158t158-66h320q92 0 158 66t66 158v32h672q92 0 158 66t66 158z"
                        ></path>
                      </svg>
                    </span>
                    <span class="mx-4 text-sm font-normal"> Nuevo </span>
                  </a>
                </router-link>
                <router-link to="anunciosbyEmprs">
                <a
                  class="
                    w-full
                    text-gray-400
                    flex
                    items-center
                    pl-6
                    p-2
                    my-2
                    transition-colors
                    duration-200
                    justify-start
                    hover:text-gray-800
                  "
                  href="#"
                >
                  <span class="text-left ml-3">
                    <svg
                      width="20"
                      height="20"
                      fill="currentColor"
                      viewBox="0 0 1792 1792"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1728 608v704q0 92-66 158t-158 66h-1216q-92 0-158-66t-66-158v-960q0-92 66-158t158-66h320q92 0 158 66t66 158v32h672q92 0 158 66t66 158z"
                      ></path>
                    </svg>
                  </span>
                  <span class="mx-4 text-sm font-normal"> Consultar </span>
                </a>
                </router-link>

                <a
                  class="
                  cursor-default
                    w-full
                    text-gray-400
                    flex
                    items-center
                    pl-6
                    p-2
                    my-2
                    transition-colors
                    duration-200
                    justify-start
                    hover:text-gray-800
                    border-l-4 border-green-500

                  "
                >
                  <span class="text-left">
                    <svg
                      width="20"
                      height="20"
                      fill="currentColor"
                      viewBox="0 0 2048 1792"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1070 1178l306-564h-654l-306 564h654zm722-282q0 182-71 348t-191 286-286 191-348 71-348-71-286-191-191-286-71-348 71-348 191-286 286-191 348-71 348 71 286 191 191 286 71 348z"
                      ></path>
                    </svg>
                  </span>
                  <span class="mx-2 text-sm font-normal">
                    Postulados
                    <span
                      class="
                      hidden
                        p-1
                        ml-4
                        rounded-lg
                        w-4
                        h-2
                        bg-gray-200
                        text-gray-400 text-xs
                      "
                    >
                      0
                    </span>
                  </span>
                </a>
                <router-link to="/anuncioPostulds">
                <a
                  class="
                    w-full
                    text-gray-400
                    flex
                    items-center
                    pl-6
                    p-2
                    my-2
                    transition-colors
                    duration-200
                    justify-start
                    hover:text-gray-800
                                        border-r-2 border-green-500

                  "
                >
                  <span class="text-left ml-3">
                    <svg
                      width="20"
                      height="20"
                      fill="currentColor"
                      viewBox="0 0 1792 1792"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1728 608v704q0 92-66 158t-158 66h-1216q-92 0-158-66t-66-158v-960q0-92 66-158t158-66h320q92 0 158 66t66 158v32h672q92 0 158 66t66 158z"
                      ></path>
                    </svg>
                  </span>
                  <span class="mx-4 text-sm font-normal"> Ver por anuncio </span>
                </a>
                </router-link>
                <router-link to="/anuncioPostulds">
                <a
                  class="
                    w-full
                    text-gray-400
                    flex
                    items-center
                    pl-6
                    p-2
                    my-2
                    transition-colors
                    duration-200
                    justify-start
                    hover:text-gray-800
                    border-l-4 border-transparent
                  "
                >
                  <span class="text-left ml-3">
                    <svg
                      width="20"
                      height="20"
                      fill="currentColor"
                      viewBox="0 0 2048 1792"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M580 461q0-41-25-66t-66-25q-43 0-76 25.5t-33 65.5q0 39 33 64.5t76 25.5q41 0 66-24.5t25-65.5zm743 507q0-28-25.5-50t-65.5-22q-27 0-49.5 22.5t-22.5 49.5q0 28 22.5 50.5t49.5 22.5q40 0 65.5-22t25.5-51zm-236-507q0-41-24.5-66t-65.5-25q-43 0-76 25.5t-33 65.5q0 39 33 64.5t76 25.5q41 0 65.5-24.5t24.5-65.5zm635 507q0-28-26-50t-65-22q-27 0-49.5 22.5t-22.5 49.5q0 28 22.5 50.5t49.5 22.5q39 0 65-22t26-51zm-266-397q-31-4-70-4-169 0-311 77t-223.5 208.5-81.5 287.5q0 78 23 152-35 3-68 3-26 0-50-1.5t-55-6.5-44.5-7-54.5-10.5-50-10.5l-253 127 72-218q-290-203-290-490 0-169 97.5-311t264-223.5 363.5-81.5q176 0 332.5 66t262 182.5 136.5 260.5zm592 561q0 117-68.5 223.5t-185.5 193.5l55 181-199-109q-150 37-218 37-169 0-311-70.5t-223.5-191.5-81.5-264 81.5-264 223.5-191.5 311-70.5q161 0 303 70.5t227.5 192 85.5 263.5z"
                      ></path>
                    </svg>
                  </span>
                  <span class="mx-4 text-sm font-normal"> Ver todos </span>
                </a>
                </router-link>
              </div>
            </nav>
          </div>
        </div>
            <div class="flex flex-col w-full bg-gray-50">
              <div
                class="
                  flex
                  items-center
                  space-x-4
                  font-light
                  w-full
                  text-center text-xl
                  sm:text-md
                  md:text-2xl
                  dark:text-white
                  text-gray-800
                  border-b border-gray-200
                  mt-4
                  mx-6
                "
              >
                Anuncios publicados
              </div>
              <div
                class="
                  mx-6
                  flex
                  items-center
                  font-light
                  w-1/6
                  text-center text-xs
                  sm:text-xs
                  md:text-xs
                  dark:text-white
                  text-blue-500
                "
              >
                <span @click="volver" class="cursor-pointer">￩ Volver</span>
              </div>
              <div class="grid grid-cols-4 md:grid-cols-5 sm:grid-cols-2">
                <div
                  v-for="(anuncio, index) in assets"
                  :key="anuncio.id"
                  class="bg-gray-200 mt-4 ml-4 mb-2 rounded-lg"
                >
                  <div class="relative m-1">
                    <div class="bg-white p-3 rounded-lg shadow-lg text-left">
                      <div class="flex items-baseline">
                        <span
                          class="
                            bg-teal-200
                            text-teal-800 text-xs
                            inline-block
                            rounded-full
                            uppercase
                            font-semibold
                            tracking-wide
                          "
                        >
                          {{ index + 1 }}.
                        </span>
                        <div
                          class="
                            ml-2
                            text-gray-600
                            uppercase
                            text-xs
                            font-semibold
                            tracking-wider
                          "
                        >
                          <!--2 baths   &bull; 3 rooms -->
                          <span class="text-gray-400 text-xs">
                            Inicio:
                            <span class="text-green-400">{{
                              anuncio.createdAt | formatedTime
                            }}</span>
                          </span>
                          <span class="text-gray-400 text-xs">
                            Fin:
                            <span class="text-red-400 text-xs">{{
                              anuncio.fechFinalzcn
                            }}</span>
                          </span>
                        </div>
                      </div>

                      <h4
                        class="
                          mt-1
                          text-lg
                          font-semibold
                          uppercase
                          leading-tight
                        "
                      >
                        {{ anuncio.tituloAnunc }}
                      </h4>

                      <div class="flex mt-1 text-sm">
                        <svg
                          class="mr-2"
                          version="1.1"
                          id="Layer_1"
                          width="25"
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          x="0px"
                          y="0px"
                          viewBox="0 0 122.88 59.13"
                          style="enable-background: new 0 0 122.88 59.13"
                          xml:space="preserve"
                        >
                          <g>
                            <path
                              class="st0"
                              d="M74.19,17.43c0.65,0.19,1.13,0.57,1.43,1.15c0.46,0.93,0.29,2.3-0.58,4.26l0,0c-0.02,0.04-0.04,0.08-0.06,0.1 l-3.07,5.06c-1.19,1.96-2.4,3.93-4.02,5.44c-1.69,1.59-3.78,2.64-6.63,2.63c-2.66-0.01-4.67-1.03-6.31-2.53 c-1.58-1.45-2.78-3.29-3.92-5.11l-2.69-4.29c-1-1.49-1.52-2.87-1.56-4c-0.02-0.55,0.08-1.05,0.29-1.48 c0.22-0.47,0.54-0.86,0.99-1.15c0.22-0.15,0.47-0.28,0.74-0.37c-0.16-2.29-0.22-5.13-0.11-7.51c0.06-0.58,0.17-1.16,0.33-1.74 c0.68-2.46,2.42-4.44,4.55-5.8c0.75-0.48,1.58-0.87,2.45-1.19c5.17-1.87,12.04-0.85,15.71,3.13c1.49,1.62,2.43,3.77,2.63,6.6 L74.19,17.43L74.19,17.43L74.19,17.43z M106.12,43.78c-2.2,6.45-11.4,6.71-13.47,0c-0.49,0.44-1.17,0.81-1.97,1.13 c1.79,3.78,2.04,8.82,2.65,12.95h5.86h21.11c1.62-0.12,2.44-0.95,2.58-2.4c0-2.94-0.23-5.2-4.45-7.56 C115.76,46.41,108.55,45.98,106.12,43.78L106.12,43.78L106.12,43.78z M89.39,27.22c-0.5,0.15-0.88,0.44-1.1,0.89 c-0.35,0.71-0.22,1.78,0.45,3.29l0,0c0.01,0.03,0.02,0.05,0.04,0.09l2.37,3.9c0.92,1.51,1.85,3.03,3.1,4.2 c1.3,1.23,2.92,2.04,5.12,2.03c2.06,0,3.61-0.79,4.88-1.95c1.22-1.12,2.15-2.54,3.03-3.95l2.08-3.31c0.78-1.16,1.17-2.21,1.21-3.09 c0.01-0.43-0.05-0.81-0.22-1.14c-0.16-0.36-0.42-0.66-0.77-0.89c-0.16-0.11-0.36-0.21-0.57-0.28c0.13-1.78,0.18-3.97,0.09-5.81 c-0.04-0.45-0.13-0.9-0.25-1.35c-0.54-1.9-1.86-3.43-3.52-4.48c-0.58-0.37-1.22-0.68-1.9-0.92c-4-1.45-9.29-0.66-12.13,2.41 c-1.15,1.25-1.89,2.9-2.04,5.1L89.39,27.22L89.39,27.22L89.39,27.22z M107.95,28.26c0.36,0.03,0.64,0.11,0.83,0.24 c0.11,0.08,0.2,0.17,0.25,0.28c0.06,0.13,0.09,0.31,0.09,0.49c-0.02,0.6-0.34,1.41-0.96,2.35l-0.01,0.02l0,0l-2.08,3.31 c-0.83,1.31-1.7,2.66-2.77,3.65c-1.02,0.93-2.26,1.57-3.9,1.57c-1.78,0-3.07-0.66-4.13-1.64c-1.11-1.04-1.98-2.47-2.85-3.89 l-2.33-3.85c-0.47-1.08-0.61-1.72-0.46-2.03c0.1-0.19,0.48-0.24,1.12-0.19c0.4,0.09,0.83,0.01,1.28-0.22l-1.17-3.51 c4.29-0.05,7.21-0.8,10.69-3.01c1.14-0.72,1.48-1.56,2.62-1.48c0.87,0.16,1.59,0.55,2.16,1.17c0.55,0.59,0.96,1.4,1.24,2.44 l-0.69,4.2C107.21,28.39,107.58,28.42,107.95,28.26L107.95,28.26L107.95,28.26z M90.46,56.05c-0.18,1.85-1.25,2.93-3.33,3.08H61.47 H35.38c-2.09-0.16-3.16-1.24-3.33-3.11l0.72-3.03c0.2-2.64,0.94-4.73,2.15-6.33c0.8-1.06,1.79-1.83,2.88-2.44 c3.47-1.93,11.57-2.5,14.72-5.33c2.85,8.4,14.76,8.67,17.43,0c3.15,2.83,11.26,3.4,14.72,5.33c1.09,0.61,2.09,1.39,2.88,2.44 C89.65,49.42,89.85,52.6,90.46,56.05L90.46,56.05z M16.76,42.57c2.2,6.45,11.4,6.71,13.47,0c0.49,0.44,1.17,0.81,1.97,1.13 c-1.79,3.78-2.04,8.82-2.65,12.95h-5.86H2.58c-1.62-0.12-2.44-0.95-2.58-2.4c0-2.94,0.23-5.21,4.45-7.56 C7.13,45.2,14.33,44.76,16.76,42.57L16.76,42.57L16.76,42.57z M33.49,26c0.5,0.15,0.88,0.44,1.1,0.89 c0.35,0.71,0.22,1.78-0.45,3.29l0,0c-0.01,0.03-0.02,0.05-0.04,0.09l-2.37,3.9c-0.92,1.51-1.85,3.02-3.1,4.2 c-1.3,1.23-2.92,2.04-5.12,2.03c-2.06,0-3.61-0.79-4.88-1.95c-1.22-1.12-2.15-2.54-3.02-3.95l-2.08-3.31 c-0.78-1.16-1.17-2.21-1.21-3.09c-0.01-0.43,0.05-0.81,0.22-1.14c0.16-0.36,0.42-0.66,0.77-0.89c0.17-0.11,0.36-0.21,0.57-0.28 c-0.13-1.78-0.18-3.97-0.09-5.81c0.04-0.45,0.13-0.9,0.25-1.35c0.54-1.9,1.86-3.43,3.52-4.48c0.58-0.37,1.22-0.68,1.9-0.92 c4-1.45,9.29-0.66,12.13,2.41c1.15,1.25,1.88,2.9,2.04,5.1L33.49,26L33.49,26L33.49,26z M14.93,27.05 c-0.36,0.03-0.64,0.11-0.83,0.24c-0.11,0.08-0.2,0.18-0.25,0.29c-0.07,0.13-0.09,0.31-0.09,0.49c0.02,0.6,0.34,1.41,0.96,2.35 l0.01,0.02l0,0l2.08,3.31c0.83,1.32,1.7,2.66,2.77,3.65c1.02,0.93,2.26,1.57,3.9,1.57c1.78,0,3.07-0.66,4.13-1.64 c1.11-1.04,1.98-2.47,2.85-3.89l2.33-3.85c0.47-1.07,0.61-1.72,0.46-2.03c-0.1-0.19-0.48-0.24-1.12-0.19 c-0.41,0.09-0.83,0.01-1.28-0.22l1.17-3.51c-4.29-0.05-7.21-0.8-10.69-3.01c-1.14-0.72-1.48-1.56-2.62-1.48 c-0.87,0.16-1.59,0.55-2.16,1.17c-0.55,0.59-0.96,1.4-1.24,2.44l0.69,4.2C15.67,27.18,15.3,27.2,14.93,27.05L14.93,27.05 L14.93,27.05z M50.04,18.79c-0.4,0.05-0.71,0.15-0.94,0.3c-0.14,0.1-0.26,0.23-0.32,0.37c-0.08,0.17-0.11,0.39-0.11,0.64 c0.02,0.79,0.44,1.83,1.26,3.02l0.02,0.02l0,0l2.69,4.29c1.07,1.71,2.2,3.45,3.58,4.72c1.32,1.21,2.93,2.03,5.04,2.04 c2.3,0.01,3.97-0.85,5.34-2.12c1.44-1.34,2.58-3.19,3.7-5.04l3.03-4.98c0.61-1.39,0.8-2.22,0.6-2.62 c-0.12-0.26-0.66-0.31-1.55-0.23c-0.07,0.01-0.13,0.01-0.2,0c-0.37,0-0.77-0.1-1.21-0.3l1.36-4.54c-5.55-0.07-9.35-1.04-13.83-3.91 C57,9.5,56.56,8.43,55.08,8.53c-1.11,0.22-2.05,0.71-2.8,1.51c-0.71,0.77-1.26,1.82-1.61,3.16l0.96,5.5 C51.07,18.99,50.54,19.01,50.04,18.79L50.04,18.79L50.04,18.79z"
                            />
                          </g>
                        </svg>
                        <span>
                          Postulados:
                          <strong>{{
                            anuncio.registroPrimarioUsers.length
                          }}</strong>
                        </span>
                      </div>
                      <div class="mt-2 hidden">
                        <span class="text-teal-600 text-md font-semibold"
                          >4/5 ratings
                        </span>
                        <span class="text-sm text-gray-600"
                          >(based on 234 ratings)</span
                        >
                      </div>
                      <div class="mt-1 text-right">
                        <span class="hidden text-gray-600 text-sm"> /wk</span>
                        <button
                          @click="
                            tomo(
                              anuncio.registroPrimarioUsers,
                              anuncio.tituloAnunc,
                              anuncio
                            )
                          "
                          class="
                            flex-shrink-0
                            px-2
                            py-1
                            text-xs
                            font-semibold
                            text-white
                            bg-blue-600
                            rounded-lg
                            shadow-md
                            hover:bg-blue-700
                            focus:outline-none
                            focus:ring-2
                            focus:ring-blue-500
                            focus:ring-offset-2
                            focus:ring-offset-blue-200
                          "
                        >
                          Ver más
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</template>

<script>
//import api from '@/services/api.js'}


import loader from "@/components/shared/loader.vue";

import axios from "axios";

export default {
  name: "postulados",
  components: {
    loader,
  },
  data() {
    return {
      hidePane2: "",
      assets: [],
      postulads: [],
      idAnuncio: "",
      anuncio: {},
      nmbre: "",
      isLoading: false,
      uri: "data:application/vnd.ms-excel;base64,",
      template:
        '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>',
      base64: function (s) {
        return window.btoa(unescape(encodeURIComponent(s)));
      },
      format: function (s, c) {
        return s.replace(/{(\w+)}/g, function (m, p) {
          return c[p];
        });
      },
    };
  },
  methods: {
    volver() {
      this.$router.push({
        name: "Home2",
      });
    },
    tableToExcel(table, name) {
      if (!table.nodeType) table = this.$refs.table;
      var ctx = { worksheet: name || "Prueba1", table: table.innerHTML };
      window.location.href =
        this.uri + this.base64(this.format(this.template, ctx));
    },
    tomo(value, value2, value3) {
      this.postulads = value;
      this.idAnuncio = value2;
      this.anuncio = value3;

      //console.log("postulados: ", this.postulads);
      //console.log("anuncio Titulo: ", value2);
      //console.log("anuncio : ", this.anuncio);

      this.$store.commit('getAnuncs', this.anuncio);

      this.$router.push({
          name: "anuncioListPostulads",
        });
    },
  },
  filters: {
    formatedTime: function (value) {
      var date = new Date(value);

      return (
        date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate() // +
        // " " +
        //date.getHours() +
        //":" +
        // date.getMinutes() +
        //":" +
        //date.getSeconds()
      );
      //console.log(formatedTime);
    },
    formatedAnuncActivo: function (value) {
      //var date = new Date(value);
      if (value == true) {
        return "Activo";
      } else {
        return "Inactivo";
      }
      //res.data[0].nombreUser+res.data[0].apellidoUser console.log(formatedTime) http://localhost:1337/registroPrimarioUser?id=;
    },
    consultPerson: function (value) {
      try {
        const res = axios({
          method: "get",
          url: `http://localhost:1337/anuncio/${value}/registroPrimarioUsers`,
          headers: {
            "Content-Type": "application/json",
          },
          data: { value },
        }).then((res) => {
          //Perform Success Action
          //alert("Usuario no encontrado, debe registrarse");
          console.log("respuesta obtenida", res.data);
          return res;
        });
        //Perform Success Actiona.al
        return res.data.nombreUser + " " + res.data.apellidoUser;
      } catch (error) {
        // error.response.status Check status code
        console.log("mission pelaste bolas in get papu");
        console.log(error);
      }
    },
  },
  mounted() {
    this.isLoading = true;
    if (this.$store.state.regEmprs.id) {
      axios
        .get(
          `http://localhost:1337/anuncio?owner=${this.$store.state.regEmprs.id}`
          //`http://localhost:1337/empresa/${this.$store.state.regEmprs.id}/anuncios`
        ) //http://localhost:1337/anuncio?owner=61781688ef98528f16173d8c
        .then((res) => {
          //Perform Success Action
          this.isLoading = false;
          this.assets = res.data;
          console.log("assets", this.assets);
        })
        .catch((error) => {
          // error.response.status Check status code
          console.log("mission pelaste bolas");
          console.log(error);
        })
        .finally(() => {
          //Perform action in always
        });
    } else {
      if (this.$store.state.regUserEmprs.empresa) {
        axios
          .get(
            `http://localhost:1337/anuncio?owner=${this.$store.state.regUserEmprs.empresa[0].id}`
            //   `http://localhost:1337/empresa/${this.$store.state.regUserEmprs.empresa[0].id}/anuncios`
          ) //http://localhost:1337/anuncio?owner=${this.$store.state.regEmprs.id}
          .then((res) => {
            //Perform Success Action
            //alert("Usuario no encontrado, debe registrarse");
            //console.log("respuesta obtenida", res.data);
            this.isLoading = false;
            this.assets = res.data;
            //console.log("assets", this.assets);
          })
          .catch((error) => {
            // error.response.status Check status code
            console.log("mission pelaste bolas");
            console.log(error);
          })
          .finally(() => {
            //Perform action in always
          });
      } else {
        alert("Debe iniciar sesión o registrarse para ver esta información");
        this.$router.push({
          name: "loginEmprs",
        });
      }
    }
  },
};
</script>

<style>
</style>
