<template>
  <div
    class="flex-col bg-gray-100 rounded-lg dark:bg-gray-800" style="padding:100px!important"
  >
    <div
      class="
        self-center
        mb-5
        text-xl
        font-bold
        text-gray-800
        sm:text-2xl
        dark:text-white
        w-full
        text-center
      "
    >
      Educación
    </div>

    <div class="flex flex-col">
      <form action="#">
        

        <div class="flex flex-wrap -mx-3 mb-2">
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <input
              type="text"
              id="create-account-first-name"
              class="
                rounded-lg
                border-transparent
                flex-1
                appearance-none
                border border-gray-300
                w-full
                py-2
                px-4
                bg-white
                text-gray-700
                placeholder-gray-400
                shadow-sm
                text-base
                focus:outline-none
                focus:ring-2 
                focus:border-transparent
              "
              name="tlf1"
              placeholder="Telefono 1"
            />
          </div>
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <div class="relative">
              <select
                class="
                  block
                  appearance-none
                  w-full
                  bg-gray-200
                  border border-gray-200
                  text-gray-700
                  py-3
                  px-4
                  pr-8
                  rounded
                  leading-tight
                  focus:outline-none
                  focus:bg-white
                  focus:ring-2
                  
                "
                id="grid-state"
                placeholder="País"
              >
                <option>País</option>
                <option>Venezuela</option>
              </select>
              <div
                class="
                  pointer-events-none
                  absolute
                  inset-y-0
                  right-0
                  flex
                  items-center
                  px-2
                  text-gray-700">
                <svg
                  class="fill-current h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20">
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-wrap -mx-3 mb-2">
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <div class="relative">
              <select
                class="
                  block
                  appearance-none
                  w-full
                  bg-gray-200
                  border border-gray-200
                  text-gray-700
                  py-3
                  px-4
                  pr-8
                  rounded
                  leading-tight
                  focus:outline-none
                  focus:bg-white
                  focus:ring-2
                  
                "
                id="grid-state"
                placeholder="País"
              >
                <option>Nivel de Estudios</option>
                <option></option>
              </select>
              <div
                class="
                  pointer-events-none
                  absolute
                  inset-y-0
                  right-0
                  flex
                  items-center
                  px-2
                  text-gray-700">
                <svg
                  class="fill-current h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20">
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                </svg>
              </div>
            </div>
          </div>

          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <div class="relative">
              <select
                class="
                  block
                  appearance-none
                  w-full
                  bg-gray-200
                  border border-gray-200
                  text-gray-700
                  py-3
                  px-4
                  pr-8
                  rounded
                  leading-tight
                  focus:outline-none
                  focus:bg-white
                  focus:ring-2
                "
                id="grid-state"
              >
                <option>Área de estudios</option>
                <option></option>
              </select>
              <div
                class="
                  pointer-events-none
                  absolute
                  inset-y-0
                  right-0
                  flex
                  items-center
                  px-2
                  text-gray-700
                "
              >
                <svg
                  class="fill-current h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>

      <div
          class="
            self-center
            mt-3
            mb-2
            font-semibold
            text-gray-600
            sm:text-sm
            dark:text-white
            w-full
          "
        >
          Estado
        </div>

        <hr class="mt-2 mb-2 w-1/3" />

        <div class="flex gap-2 mb-1">
          <div class="relative">
            <div class="flex items-center gap-8">
              <label class="inline-flex items-center">
                <input type="radio" name="gener" class="h-5 w-5 text-red-600" />
                <span class="ml-2 text-gray-700 text-sm"> Culminado </span>
              </label>
              <label class="inline-flex items-center">
                <input type="radio" name="gener" class="h-5 w-5 text-red-600" />
                <span class="ml-2 text-gray-700 text-sm"> Cursando </span>
              </label>
              <label class="inline-flex items-center">
                <input type="radio" name="gener" class="h-5 w-5 text-red-600" />
                <span class="ml-2 text-gray-700 text-sm"> Abandonado / Aplazado </span>
              </label>
            </div>
          </div>

          <div class="relative"></div>
        </div>

        <div class="flex flex-wrap justify-end mt-6">
          <div class="flex flex-wrap justify-end mt-1">
          <button
                  type="button"
                  class="
                    py-2
                    px-4
                    bg-blue-500
                    hover:bg-blue-500
                    focus:ring-blue-500 focus:ring-offset-indigo-200
                    text-white
                    w-full
                    transition
                    ease-in
                    duration-200
                    text-center text-base
                    font-semibold
                    shadow-md
                    focus:outline-none
                    focus:ring-2 focus:ring-offset-2
                    rounded-lg
                  "
                >
                  Guardar
                </button>

          
        </div>          
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {};
</script>
