<template>
  <div
    class="flex-col bg-gray-100 rounded-lg dark:bg-gray-800"
    style="padding: 50px !important"
  >
    <div
      class="
        self-center
        mb-5
        text-xl
        font-bold
        text-gray-800
        sm:text-2xl
        dark:text-white
        w-full
        text-center
      "
    >
      Datos personales
    </div>

    <div class="flex flex-col">
      <form @submit.stop.prevent="onSubmit">
        <div
          class="
            self-center
            mb-2
            font-semibold
            text-gray-800
            sm:text-lg
            dark:text-white
            w-full
          "
        >
          Información de usuario
        </div>

        <hr class="mt-1 mb-1" />

        <div class="grid grid-rows-2 grid-flow-col max-w-full">
          <div class="row-span-full">
            <div class="p-2">
              <div class="flex-col flex justify-center items-center">
                <div class="flex-shrink-0">
                  <a href="#" class="block relative">
                    <img
                      alt="profil"
                      src="./img/picture1.jpg"
                      class="mx-auto object-cover rounded-full h-20 w-20"
                    />
                  </a>
                </div>
                <div class="mt-1 text-center flex flex-col place-items-center">
                  <span
                    class="text-gray-900 dark:text-white text-md font-medium"
                  >
                    {{
                      $store.state.regUser.nombreUser +
                      " " +
                      $store.state.regUser.apellidoUser
                    }}
                  </span>

                  <button
                    type="button"
                    class="
                      py-1
                      px-2
                      flex
                      justify-center
                      items-center
                      bg-green-500
                      hover:bg-green-700
                      focus:ring-green-400 focus:ring-offset-green-300
                      text-white
                      w-32
                      transition
                      ease-in
                      duration-200
                      text-center text-xs
                      font-semibold
                      shadow-md
                      focus:outline-none focus:ring-2 focus:ring-offset-2
                      rounded-lg
                    "
                  >
                    <svg
                      width="20"
                      height="20"
                      fill="currentColor"
                      class="mr-2"
                      viewBox="0 0 1792 1792"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1344 1472q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm256 0q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm128-224v320q0 40-28 68t-68 28h-1472q-40 0-68-28t-28-68v-320q0-40 28-68t68-28h427q21 56 70.5 92t110.5 36h256q61 0 110.5-36t70.5-92h427q40 0 68 28t28 68zm-325-648q-17 40-59 40h-256v448q0 26-19 45t-45 19h-256q-26 0-45-19t-19-45v-448h-256q-42 0-59-40-17-39 14-69l448-448q18-19 45-19t45 19l448 448q31 30 14 69z"
                      ></path>
                    </svg>
                    Subir imagen
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="row-span-auto p-1">
            <div class="flex gap-2 pt-4">
              <div class="w-full md:w-1/3 px-2 mb-4 md:mb-0">
                <label
                  for="price"
                  class="block text-xs font-medium text-gray-700 text-left ml-1"
                >
                  <strong> Nombres</strong>
                </label>
                <input
                  class="
                    rounded-lg
                    border-transparent
                    flex-1
                    appearance-none
                    border border-gray-300
                    w-full
                    py-2
                    px-4
                    pr-8
                    text-gray-700
                    placeholder-gray-400
                    shadow-sm
                    text-base
                    focus:outline-none focus:ring-2 focus:border-transparent
                    bg-gray-200
                    font-semibold
                  "
                  type="text"
                  name="nombre"
                  :placeholder="$store.state.regUser.nombreUser"
                  disabled
                />
              </div>
              <div class="w-full md:w-1/3 px-2 mb-4 md:mb-0">
                <label
                  for="price"
                  class="block text-xs font-medium text-gray-700 text-left ml-1"
                >
                  <strong> Apellidos</strong>
                </label>

                <input
                  class="
                    rounded-lg
                    border-transparent
                    flex-1
                    appearance-none
                    border border-gray-300
                    w-full
                    py-2
                    px-4
                    pr-8
                    bg-white
                    text-gray-700
                    placeholder-gray-400
                    shadow-sm
                    text-base
                    focus:outline-none focus:ring-2 focus:border-transparent
                    bg-gray-200
                    font-semibold
                  "
                  type="text"
                  name="apellidoUser"
                  :placeholder="$store.state.regUser.apellidoUser"
                  disabled
                />
              </div>
            </div>
          </div>

          <div class="row-span-auto p-1">
            <div class="flex gap-2">
              <div class="flex flex-wrap mb-1">
                <label
                  for="price"
                  class="block text-xs font-medium text-gray-700 text-left ml-2"
                >
                  <strong>Identificación</strong>
                  <select
                    class="
                      block
                      w-28
                      text-gray-700
                      py-2.5
                      px-2
                      border border-gray-300
                      bg-white
                      rounded-md
                      shadow-sm
                      text-sm
                      focus:outline-none focus:ring-2 focus:border-primary-500
                    "
                    name="tipoID"
                    v-model.lazy.trim="data.tipoDocument"
                  >
                    <option disabled value="">Tipo ID</option>
                    <option value="cedula">Cédula</option>
                    <option value="pasaporte">Pasaporte</option>
                  </select>
                </label>
              </div>

              <div class="relative">
                <label
                  for="price"
                  class="block text-xs font-medium text-gray-700 text-left ml-1"
                >
                  <strong> Nro. de identidad</strong>
                </label>
                <input
                  class="
                    rounded-lg
                    border-transparent
                    flex-1
                    appearance-none
                    border border-gray-300
                    w-full
                    py-2
                    px-4
                    pr-8
                    bg-white
                    text-gray-700
                    placeholder-gray-400
                    shadow-sm
                    text-base
                    focus:outline-none focus:ring-2 focus:border-transparent
                  "
                  type="text"
                  name="numeroID"
                  placeholder="Numero de identidad "
                  v-model.lazy.trim="data.nroDocument"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-wrap -mx-3 mb-2">
          <div class="w-full md:w-1/3 px-2 mb-4 md:mb-0">
            <label
              for="price"
              class="block text-xs font-medium text-gray-700 text-left ml-1"
            >
              <strong> Fecha de nacimiento</strong>
            </label>
            <input
              class="
                rounded-lg
                border-transparent
                flex-1
                appearance-none
                border border-gray-300
                w-full
                py-2
                px-4
                pr-8
                bg-white
                text-gray-700
                placeholder-gray-400
                shadow-sm
                text-base
                focus:outline-none focus:ring-2 focus:border-transparent
              "
              type="text"
              name="fechaNacimientUser"
              placeholder="Fecha de Nacimiento"
              onfocus="(this.type='date')"
              onblur="(this.type='text')"
              v-model.lazy.trim="data.fech_nacimnt"
            />
          </div>
          <div class="w-full md:w-1/3 px-2 mb-4 md:mb-0">
            <div class="relative">
              <label
                for="price"
                class="block text-xs font-medium text-gray-700 text-left ml-1"
              >
                <strong> Nacionalidad</strong>
                <select
                  class="
                    block
                    appearance-none
                    w-full
                    bg-gray-200
                    border border-gray-200
                    text-gray-700
                    py-3
                    px-4
                    pr-8
                    rounded
                    leading-tight
                    focus:outline-none focus:bg-white focus:ring-2
                  "
                  id="grid-state"
                  v-model.lazy.trim="data.nacionalidad"
                >
                  <option class="text-gray-300" disabled value="">
                    Nacionalidad
                  </option>

                  <option>Venezuela</option>
                </select>
              </label>
              <div
                class="
                  pointer-events-none
                  absolute
                  inset-y-0
                  right-0
                  flex
                  items-center
                  mt-4
                  px-2
                  text-gray-700
                "
              >
                <svg
                  class="fill-current h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>
          </div>
          <div class="w-full md:w-1/3 px-2 mb-4 md:mb-0">
            <div class="relative">
              <label
                for="price"
                class="block text-xs font-medium text-gray-700 text-left ml-1"
              >
                <strong> Estado civil</strong>
                <select
                  class="
                    block
                    appearance-none
                    w-full
                    bg-gray-200
                    border border-gray-200
                    text-gray-700
                    py-3
                    px-4
                    pr-8
                    rounded
                    leading-tight
                    focus:outline-none focus:bg-white focus:ring-2
                  "
                  id="grid-state"
                  v-model.lazy.trim="data.estadCivil"
                >
                  <option disabled value="" selected>Estado civil</option>
                  <option>Soltero</option>
                  <option>Casado</option>
                  <option>Divorciado</option>
                  <option>Viudo</option>
                </select>
              </label>
              <div
                class="
                  pointer-events-none
                  absolute
                  inset-y-0
                  right-0
                  flex
                  items-center
                  mt-4
                  px-2
                  text-gray-700
                "
              >
                <svg
                  class="fill-current h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>

        <hr class="mt-1 mb-2" />

        <div class="flex flex-wrap -mx-3 mb-2">
          <div class="w-full md:w-1/3 px-2 mb-4 md:mb-0">
            <div class="relative">
              <label
                for="price"
                class="block text-xs font-medium text-gray-700 text-left ml-1"
              >
                <strong> Género</strong>
                <select
                  class="
                    block
                    appearance-none
                    w-full
                    bg-gray-200
                    border border-gray-200
                    text-gray-700
                    py-3
                    px-4
                    pr-8
                    rounded
                    leading-tight
                    focus:outline-none focus:bg-white focus:ring-2
                  "
                  id="grid-state"
                  v-model.lazy.trim="data.genero"
                >
                  <option disabled value="" selected>Genero</option>
                  <option>Femenino</option>
                  <option>Masculino</option>
                </select>
              </label>
              <div
                class="
                  pointer-events-none
                  absolute
                  inset-y-0
                  right-0
                  flex
                  items-center
                  mt-4
                  px-2
                  text-gray-700
                "
              >
                <svg
                  class="fill-current h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>
          </div>
          <div class="w-full md:w-1/3 px-2 mb-4 md:mb-0">
            <div class="relative">
              <label
                for="price"
                class="block text-xs font-medium text-gray-700 text-left ml-1"
              >
                <strong> Discapacidad</strong>
                <select
                  class="
                    block
                    appearance-none
                    w-full
                    bg-gray-200
                    border border-gray-200
                    text-gray-700
                    py-3
                    px-4
                    pr-8
                    rounded
                    leading-tight
                    focus:outline-none focus:bg-white focus:ring-2
                  "
                  id="grid-state"
                  v-model.lazy.trim="data.discapacitad"
                >
                  <option disabled value="" selected>Discapacidad</option>
                  <option>Si</option>
                  <option>No</option>
                </select>
              </label>
              <div
                class="
                  pointer-events-none
                  absolute
                  inset-y-0
                  right-0
                  flex
                  items-center
                  mt-4
                  px-2
                  text-gray-700
                "
              >
                <svg
                  class="fill-current h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>
          </div>
          <div class="w-full md:w-1/3 px-2 mb-4 md:mb-0">
            <div class="relative">
              <label
                for="price"
                class="block text-xs font-medium text-gray-700 text-left ml-1"
              >
                <strong> Licencia de conducir</strong>
                <select
                  class="
                    block
                    appearance-none
                    w-full
                    bg-gray-200
                    border border-gray-200
                    text-gray-700
                    py-3
                    px-4
                    pr-8
                    rounded
                    leading-tight
                    focus:outline-none focus:bg-white focus:ring-2
                  "
                  id="grid-state"
                  v-model.lazy.trim="data.licencia"
                >
                  <option disabled value="" selected>
                    Licencia de conducir
                  </option>
                  <option>Si</option>
                  <option>No</option>
                </select>
              </label>
              <div
                class="
                  pointer-events-none
                  absolute
                  inset-y-0
                  right-0
                  flex
                  items-center
                  mt-4
                  px-2
                  text-gray-700
                "
              >
                <svg
                  class="fill-current h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-col mb-2">
          <div class="relative">
            <label
              for="price"
              class="block text-xs font-medium text-gray-700 text-left ml-1"
            >
              <strong> Dirección</strong>
            </label>
            <textarea
              class="
                flex-1
                appearance-none
                border border-gray-300
                w-full
                py-2
                px-4
                bg-white
                text-gray-700
                placeholder-gray-400
                rounded-lg
                text-base
                focus:outline-none focus:ring-2 focus:border-transparent
              "
              id="comment"
              placeholder="Dirección"
              name="comment"
              rows="2"
              cols="40"
              v-model.lazy.trim="data.direccion"
            >
            </textarea>
          </div>
        </div>
        <div class="flex flex-wrap justify-end mt-6">
          <div class="flex flex-wrap justify-end mt-1">
            <button
              type="submit"
              class="
                py-2
                px-4
                bg-blue-500
                hover:bg-blue-500
                focus:ring-blue-500 focus:ring-offset-indigo-200
                text-white
                w-full
                transition
                ease-in
                duration-200
                text-center text-base
                font-semibold
                shadow-md
                focus:outline-none focus:ring-2 focus:ring-offset-2
                rounded-lg
              "
            >
              Guardar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "datosPersonales",

  methods: {
    onSubmit() {
      //let dataUser = this.data;
      this.data.owner = this.$store.state.regUser.id;
      axios
        .post("http://localhost:1337/persona", this.data)
        .then((res) => {
          //Perform Success Action
          console.log("mission acomplished en datapersona");
          console.log(
            "respuesta post id objeto registrad en datapersona",
            res.data.id
          );
          alert("Usuario registrado satisfactoriamente");
          this.$store.commit("getUserData", res.data);
          this.$router.push({
            name: "EmpleosHome",
          });

          // this.$router.push({
          //   name: "DatosCv",
          //   params: { dataUser },
          // });
          console.log("llego hasta aquilani en datapersonas");
        })
        .catch((error) => {
          // error.response.status Check status code
          console.log("mission pelaste bolas en data personas");
          console.log(error);
        })
        .finally(() => {
          //Perform action in always
        });
    },
    envioData() {
      this.$bus.$emit("userdata", this.data);
    },
  },
  created() {
    if (!this.$store.state.regUser.id) {
      alert("Redireccionando a fase de registro inicial");
      this.$router.push({
        name: "RegistrarPerson",
      });
    }
  },
  data() {
    return {
      tieneDiscp: false,
      tieneLicencia: false,

      data: {
        tipoDocument: "",
        nroDocument: "",
        fech_nacimnt: "",
        nacionalidad: "",
        estadCivil: "",
        genero: "",
        licencia: "",
        discapacitad: "",
        owner: null,
        direccion:""
      },
    };
  },
};
</script>