<template>
  <section class="text-gray-600 body-font">
    

    <div class="container px-5 mx-auto flex flex-wrap">
      <div class="container px-5 mx-auto">
        <h1
          class="
            sm:text-3xl
            text-2xl
            font-medium
            title-font
            text-center text-gray-900
            mb-20
          "
          style="padding-top: 40px"
        >
          Anuncios publicados
        </h1>
      </div>


      <div class="flex-wrap md:w-auto lg:w-3/4 mx-auto bg-gray-200 rounded-lg p-6">
          <anunciosLanding class=""></anunciosLanding>
      </div>

    </div>
  </section>
</template>
<script>
import anunciosLanding from "@/components/AnunciosLanding.vue";

export default {
  name: "empleosHome",
  components: {
    anunciosLanding,
  },
};
</script>