<template>
  <div>

    <div class="flex flex-row items-start gap shadow-md rounded-xl p-2 bg-gray-100 dark:bg-gray-800">
      <div class="w-full flex flex-col items-center my-2.5">
        <img
          :src="require('./img/img-profile.jpg').default"
          class="w-24 h-24 rounded-lg"
        />
        <button
          class="
            flex
            text-xs
            items-center
            px-2
            py-1
            my-1
            transition
            ease-in
            duration-200
            uppercase
            rounded-lg
            hover:bg-gray-800
            hover:text-white
            border-2 border-gray-900
            focus:outline-none
          "
        >
          <svg
            width="14"
            height="14"
            fill="currentColor"
            class="mr-2"
            viewBox="0 0 1792 1792"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1344 1472q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm256 0q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm128-224v320q0 40-28 68t-68 28h-1472q-40 0-68-28t-28-68v-320q0-40 28-68t68-28h427q21 56 70.5 92t110.5 36h256q61 0 110.5-36t70.5-92h427q40 0 68 28t28 68zm-325-648q-17 40-59 40h-256v448q0 26-19 45t-45 19h-256q-26 0-45-19t-19-45v-448h-256q-42 0-59-40-17-39 14-69l448-448q18-19 45-19t45 19l448 448q31 30 14 69z"
            ></path>
          </svg>
          Cambiar
        </button>
      </div>

      <div class="h-36 w-full flex flex-col justify-between">
        <div>
          <p class="text-gray-800 dark:text-white text-xl font-medium">
            Felicia Alegro
          </p>
          <p class="text-gray-400 text-xs">Analista de Comunicaciones</p>
        </div>
        <div class="rounded-lg bg-blue-100 dark:bg-white p-2 w-full">
          <div
            class="flex items-center justify-between text-xs dark:text-black"
          >
            <p class="flex flex-col text-black font-medium">
              Comunicaciones Lambda Enterprise S.A.
              <span class="text-black dark:text-indigo-500 font-bold">
                J-1234567-8
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>