<template>
  <div>
    <hr />

    <div
      class="flex-col bg-gray-100 rounded-lg dark:bg-gray-800"
      style="padding: 100px !important"
    >
      <div
        class="
          self-center
          mb-5
          text-xl
          font-bold
          text-gray-800
          sm:text-2xl
          dark:text-white
          w-full
          text-center
        "
      >
        Experiencia laboral
      </div>

      <div class="flex flex-col">
        <form @submit.stop.prevent="onSubmit">
          <div class="flex flex-wrap -mx-3 mb-2">
            <div class="w-full md:w-1/3 px-2 mb-4 md:mb-0">
              <input
                class="
                  rounded-lg
                  border-transparent
                  flex-1
                  appearance-none
                  border border-gray-300
                  w-full
                  py-2
                  px-4
                  pr-8
                  bg-white
                  text-gray-700
                  placeholder-gray-400
                  shadow-sm
                  text-base
                  focus:outline-none focus:ring-2 focus:border-transparent
                "
                type="text"
                name="nacimientotitular"
                placeholder="Nombre de la empresa"
                v-model.lazy.trim="data.nombEmprs"
              />
            </div>
            <div class="w-full md:w-1/3 px-2 mb-4 md:mb-0">
              <input
                class="
                  rounded-lg
                  border-transparent
                  flex-1
                  appearance-none
                  border border-gray-300
                  w-full
                  py-2
                  px-4
                  pr-8
                  bg-white
                  text-gray-700
                  placeholder-gray-400
                  shadow-sm
                  text-base
                  focus:outline-none focus:ring-2 focus:border-transparent
                "
                type="text"
                name="nacimientotitular"
                placeholder="Actividad de la empresa"
                v-model.lazy.trim="data.idActvdEmprs"
              />
            </div>
            <div class="w-full md:w-1/3 px-2 mb-4 md:mb-0">
              <div class="relative">
                <select
                  class="
                    block
                    appearance-none
                    w-full
                    bg-gray-200
                    border border-gray-200
                    text-gray-700
                    py-3
                    px-4
                    pr-8
                    rounded
                    leading-tight
                    focus:outline-none focus:bg-white focus:ring-2
                  "
                  id="grid-state"
                  v-model.lazy.trim="data.idPais"
                >
                  <option disabled selected>País</option>

                  <option>Venezuela</option>
                </select>
                <div
                  class="
                    pointer-events-none
                    absolute
                    inset-y-0
                    right-0
                    flex
                    items-center
                    px-2
                    text-gray-700
                  "
                >
                  <svg
                    class="fill-current h-4 w-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-wrap -mx-3 mb-2">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <input
                type="text"
                id="create-account-first-name"
                class="
                  rounded-lg
                  border-transparent
                  flex-1
                  appearance-none
                  border border-gray-300
                  w-full
                  py-2
                  px-4
                  bg-white
                  text-gray-700
                  placeholder-gray-400
                  shadow-sm
                  text-base
                  focus:outline-none focus:ring-2 focus:border-transparent
                "
                name="tlf1"
                placeholder="Ocupación o Cargo"
                v-model.lazy.trim="data.cargo"
              />
            </div>
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <input
                type="text"
                id="create-account-first-name"
                class="
                  rounded-lg
                  border-transparent
                  flex-1
                  appearance-none
                  border border-gray-300
                  w-full
                  py-2
                  px-4
                  bg-white
                  text-gray-700
                  placeholder-gray-400
                  shadow-sm
                  text-base
                  focus:outline-none focus:ring-2 focus:border-transparent
                "
                name="tlf1"
                placeholder="Personas a cargo"
                v-model.lazy.trim="data.persnsaCargo"
              />
            </div>
          </div>

          <div class="flex flex-wrap -mx-3 mb-2">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <div class="relative">
                <select
                  class="
                    block
                    appearance-none
                    w-full
                    bg-gray-200
                    border border-gray-200
                    text-gray-700
                    py-3
                    px-4
                    pr-8
                    rounded
                    leading-tight
                    focus:outline-none focus:bg-white focus:ring-2
                  "
                  id="nvlExperiencia"
                  placeholder="Personas a cargo"
                  v-model.lazy.trim="data.nivlExpernc"
                >
                  <option class="text-gray-300" disabled value="">
                    Nivel de experiencia
                  </option>
                  <option value="Basico">Basico</option>
                  <option value="Intermedio">Intermedio</option>
                  <option value="Avanzado">Avanzado</option>
                </select>
                <div
                  class="
                    pointer-events-none
                    absolute
                    inset-y-0
                    right-0
                    flex
                    items-center
                    px-2
                    text-gray-700
                  "
                >
                  <svg
                    class="fill-current h-4 w-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                    />
                  </svg>
                </div>
              </div>
            </div>

            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <div class="relative">
                <select
                  class="
                    block
                    appearance-none
                    w-full
                    bg-gray-200
                    border border-gray-200
                    text-gray-700
                    py-3
                    px-4
                    pr-8
                    rounded
                    leading-tight
                    focus:outline-none focus:bg-white focus:ring-2
                  "
                  id="grid-state"
                  v-model.lazy.trim="data.areaCargo"
                >
                  <option class="text-gray-300" disabled value="">
                    Area del puesto
                  </option>
                  <option value="Gerencia">Gerencia</option>
                  <option value="Administrativo">Administrativo</option>
                  <option value="Operaciones">Operaciones</option>
                </select>
                <div
                  class="
                    pointer-events-none
                    absolute
                    inset-y-0
                    right-0
                    flex
                    items-center
                    px-2
                    text-gray-700
                  "
                >
                  <svg
                    class="fill-current h-4 w-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-wrap -mx-3 mb-2">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <input
                class="
                  rounded-lg
                  border-transparent
                  flex-1
                  appearance-none
                  border border-gray-300
                  w-full
                  py-2
                  px-4
                  pr-8
                  bg-white
                  text-gray-700
                  placeholder-gray-400
                  shadow-sm
                  text-base
                  focus:outline-none focus:ring-2 focus:border-transparent
                "
                type="text"
                name="nacimientotitular"
                placeholder="Fecha de ingreso"
                onfocus="(this.type='date')"
                onblur="(this.type='text')"
                v-model.lazy.trim="data.fechDesd"
              />
            </div>

            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <input
                class="
                  rounded-lg
                  border-transparent
                  flex-1
                  appearance-none
                  border border-gray-300
                  w-full
                  py-2
                  px-4
                  pr-8
                  bg-white
                  text-gray-700
                  placeholder-gray-400
                  shadow-sm
                  text-base
                  focus:outline-none focus:ring-2 focus:border-transparent
                "
                type="text"
                name="nacimientotitular"
                placeholder="Fecha de egreso"
                onfocus="(this.type='date')"
                onblur="(this.type='text')"
                v-model.lazy.trim="data.fechHast"
              />
            </div>
          </div>

          <div class="flex flex-col mb-1">
            <div class="relative">
              <label class="text-gray-700" for="name">
                <textarea
                  class="
                    flex-1
                    appearance-none
                    border border-gray-300
                    w-full
                    py-2
                    px-4
                    bg-white
                    text-gray-700
                    placeholder-gray-400
                    rounded-lg
                    text-base
                    focus:outline-none focus:ring-2 focus:border-transparent
                  "
                  id="comment"
                  placeholder="Descripción del cargo"
                  name="comment"
                  rows="3"
                  cols="40"
                  v-model.lazy.trim="data.descrpRespnsabld"
                >
                </textarea>
              </label>
            </div>
          </div>

          <div class="flex flex-wrap justify-end mt-6">
            <div class="flex flex-wrap justify-end mt-1">
              <button
                type="submit"
                class="
                  py-2
                  px-4
                  bg-blue-500
                  hover:bg-blue-500
                  focus:ring-blue-500 focus:ring-offset-indigo-200
                  text-white
                  w-full
                  transition
                  ease-in
                  duration-200
                  text-center text-base
                  font-semibold
                  shadow-md
                  focus:outline-none focus:ring-2 focus:ring-offset-2
                  rounded-lg
                "
              >
                Guardar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  name: "expLaboral",

  methods: {
    onSubmit() {
      //let dataUser = this.data;
      this.data.owner = this.$store.state.userData.id;
      console.log("llegando ando",this.data);
      axios
        .post("http://localhost:1337/experncLabor", this.data)
        .then((res) => {
          //Perform Success Action
          console.log("mission acomplished en datapersona localidad");
          console.log(
            "respuesta post id objeto registrad en datapersona",
            res.data
          );
          alert("Experiencia laboral registrada satisfactoriamente");
          //this.$store.commit("getUserData", res.data);

          // this.$router.push({
          //   name: "DatosCv",
          //   params: { dataUser },
          // });
          //console.log("llego hasta aquilani en datapersonas");
        })
        .catch((error) => {
          // error.response.status Check status code
          console.log("mission pelaste bolas en localidad");
          console.log(error);
        })
        .finally(() => {
          //Perform action in always
        });
    },
    envioData() {
      this.$bus.$emit("userdata", this.data);
    },
  },
  created() {
    if (!this.$store.state.regUser.id) {
      alert("Debe iniciar sesion");
      this.$router.push({
        name: "RegistrarPerson",
      });
    }
  },
  data() {
    return {
      data: {
        nombEmprs: "",
        idActvdEmprs: "",
        cargo: "",
        idPais: "",
        fechDesd: "",
        fechHast: "",
        alPresent: "",
        areaCargo: "",
        nivlExpernc: "",
        descrpRespnsabld: "",
        persnsaCargo: "",
        owner: null,
      },
    };
  },
};
</script>