<template>
  <section
    class="
      text-gray-600
      body-font
      items-center items-center
      justify-center
      place-items-center
    "
  >
    <div class="relative">
      <img
              class="w-full -mb-1 text-white" src="./img/home_asista.jpg"
              alt="content"
            />

      <EmpleosHome></EmpleosHome>
    </div>
  </section>
</template>

<script>
import EmpleosHome from "./EmpleosHome";

export default {
  name: "App",
  components: {
    EmpleosHome,
  },
};
</script>
