<template>
  <div @mouseleave="sugerencia = false" class="font-sans antialiased" id="app">
    <nav class="flex items-center justify-between flex-wrap bg-teal p-6">
      <div class="flex items-center flex-no-shrink text-white mr-6">
        <a class="flex-shrink-0">
          <!-- <img class="h-8 w-8" src="/icons/rocket.svg" alt="Workflow" /> -->
          <img
            @click="$router.push('HeaderHome')"
            src="./img/asista-logo.png"
            alt="Logo"
            class="cursor-pointer h-8 w-auto"
          />
        </a>
      </div>
      <div class="block sm:hidden">
        <button
          @click="toggle()"
          class="
            flex
            items-center
            px-3
            py-2
            border
            rounded
            text-teal-lighter
            border-teal-light
            hover:text-white hover:border-white
          "
        >
          <svg
            class="fill-current h-3 w-3"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
      <div
        :class="open ? 'block' : 'hidden'"
        class="w-full flex-grow sm:flex sm:items-center sm:w-auto"
      >
        <div class="text-sm sm:flex-grow">
          <a
            @click="$router.push('HeaderHome')"
            class="
              cursor-pointer
              no-underline
              block
              mt-4
              sm:inline-block sm:mt-0
              text-teal-lighter
              hover:text-gray-500
              mr-5
            "
          >
            Inicio
          </a>

          <a
            @click="$router.push('EmpleosHome')"
            class="
              cursor-pointer
              no-underline
              block
              mt-4
              sm:inline-block sm:mt-0
              text-teal-lighter
              hover:text-gray-500
              mr-5
            "
          >
            Ver empleos
          </a>
          <a
            @click="$router.push('home2')"
            class="
              cursor-pointer
              no-underline
              block
              mt-4
              sm:inline-block sm:mt-0
              text-teal-lighter
              hover:text-gray-500
              md:
              mr-5
            "
          >
            Empresas
          </a>
          <a
                      @click="$router.push('anunReg')"

            class="
              cursor-pointer
              no-underline
              block
              mt-4
              sm:inline-block sm:mt-0
              text-teal-lighter
              hover:text-gray-500
              mr-5
            "
          >
            Publicar
          </a>
          <a
            @click="$router.push('homec')"
            class="
              cursor-pointer
              no-underline
              block
              mt-4
              sm:inline-block sm:mt-0
              text-teal-lighter
              hover:text-gray-500
              md:
            "
          >
            Contáctanos
          </a>
        </div>
        <div
          v-if="this.$store.state.regUser.id"
          class="flex-row gap-4 flex justify-center items-center"
        >
          <div class="flex-shrink-0 ">
            <a
              v-if="this.$store.state.regUserEmprs.empresa "
              @click="goTo"
              class="block relative hidden "
            >
              <img
                alt="profil"
                src="./img/edificio.png"
                class="
                  mx-auto
                  object-cover
                  rounded-full
                  h-10
                  w-10
                  cursor-pointer
                "
              />
            </a>

            <a
              v-if="this.$store.state.userData.genero === 'Femenino'"
              @click="goTo"
              class="block relative "
            >
              <img
                alt="profil"
                src="./img/img-profile.jpg"
                class="
                  mx-auto
                  object-cover
                  rounded-full
                  h-10
                  w-10
                  cursor-pointer
                "
              />
            </a>

            <a v-else @click="goTo" class="block relative cursor-pointer">
              <img
                alt="profil"
                src="./img/prfImgMale.jpg"
                class="mx-auto object-cover rounded-full h-10 w-10"
              />
            </a>
          </div>
          <div @click="goTo" class="flex flex-col cursor-pointer">
            <span class="text-gray-600 dark:text-white text-sm font-medium">
              {{ this.$store.state.regUser.nombreUser }}
            </span>
            <span class="text-gray-400 text-xs"> CTO </span>
          </div>
          <button
            @click="reloaded()"
            class="
              py-1.5
              px-2
              bg-red-300
              hover:bg-red-600
              focus:ring-red-500 focus:ring-offset-red-200
              text-white
              w-full
              transition
              ease-in
              duration-200
              text-center text-xs
              font-semibold
              shadow-md
              focus:outline-none focus:ring-2 focus:ring-offset-2
              rounded-lg
            "
          >
            Salir
          </button>
        </div>
        <div v-if="!this.$store.state.regUser.id" class="">
          <a
            @click="$router.push('homec')"
            class="
              cursor-pointer
              no-underline
              inline-block
              text-sm
              px-4
              py-2
              leading-none
              border
              rounded
              text-black
              hover:bg-gray-600 hover:text-white
              border-white
              hover:border-transparent hover:text-teal
              mt-4
              sm:mt-0
            "
            >Ingresar</a
          >
        </div>
      </div>
    </nav>
    <nav
      class="relative flex flex-wrap items-center justify-between px-2 py-3 bg-gray-200"
      
    >
      <div class="px-4 mx-auto flex flex-wrap items-center justify-between">
        <div
          class="lg:flex flex flex-grow items-center"
          id="example-navbar-warning"
          style="justify-content: center !important"
        >
          <div
            class="
              relative
              flex
              w-full
              sm:w-7/12
              md:w-5/12
              px-4
              flex-wrap
              items-stretch
            "
          >
            <form
              class="
                flex flex-col
                md:flex-row
                w-3/4
                md:w-full
                max-w-lg
                md:space-x-3
                space-y-3
                md:space-y-0
                justify-center
              "
            >
              <div class="flex relative">
                <button
                  class="
                    rounded-l-md
                    inline-flex
                    items-center
                    px-3
                    border-t
                    bg-white
                    border-l border-b border-gray-300
                    text-gray-500
                    shadow-sm
                    text-sm
                  "
                >
                  <svg
                    class="
                      transition
                      duration-500
                      ease-in-out
                      transform
                      hover:-translate-y-0.5 hover:scale-110
                    "
                    width="20"
                    heigth="20"
                    version="1.1"
                    id="Layer_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 78.667 78.67"
                    style="enable-background: new 0 0 78.667 78.67"
                    xml:space="preserve"
                  >
                    <g>
                      <path
                        style="fill: #231f20"
                        d="M55.182,24.972c-1.219-1.218-3.191-1.217-4.408,0L39.335,36.411L27.9,24.972
		c-1.218-1.217-3.19-1.218-4.408,0c-1.217,1.217-1.217,3.19,0,4.408l11.436,11.439L23.492,52.253c-1.217,1.218-1.217,3.19,0,4.408
		c0.608,0.608,1.406,0.912,2.204,0.912c0.797,0,1.595-0.304,2.204-0.912l11.435-11.435l11.431,11.434
		c0.608,0.609,1.406,0.913,2.204,0.913s1.595-0.304,2.203-0.912c1.218-1.217,1.218-3.19,0.001-4.407L43.742,40.819l11.44-11.44
		C56.399,28.163,56.399,26.189,55.182,24.972z"
                      />
                      <path
                        style="fill: #231f20"
                        d="M39.34,0C17.648,0,0,17.648,0,39.34C0,61.027,17.648,78.67,39.34,78.67
		c21.685,0,39.327-17.644,39.327-39.331C78.667,17.648,61.025,0,39.34,0z M39.34,72.438c-18.255,0-33.106-14.848-33.106-33.098
		c0-18.255,14.852-33.106,33.106-33.106c18.249,0,33.094,14.852,33.094,33.106C72.434,57.59,57.588,72.438,39.34,72.438z"
                      />
                    </g>
                  </svg>
                </button>
                <input
                  autocomplete="off"
                  v-model="searchQuery"
                  v-bind:class="{ active: isActive }"
                  id="buscarempleo"
                  class="
                    cursor-pointer
                    rounded-r-md
                    border-transparent
                    flex-1
                    appearance-none
                    border border-gray-300
                    w-96
                    py-2
                    px-4
                    bg-white
                    text-gray-700
                    placeholder-gray-400
                    shadow-sm
                    text-base
                    focus:outline-none
                    focus:ring-1
                    focus:ring-yellow-500
                    focus:border-transparent
                    focus:ring-offset-1
                    focus:ring-offset-yellow-300
                  "
                  placeholder="Buscar empleo"
                />
                <div
                  v-show="sugerencia"
                  class="
                    absolute
                    mt-11
                    w-full
                    z-10
                    rounded-md
                    bg-white
                    shadow-lg
                  "
                >
                  <ul
                    tabindex="-1"
                    role="listbox"
                    aria-labelledby="listbox-label"
                    aria-activedescendant="listbox-item-3"
                    class="
                      max-h-56
                      rounded-md
                      py-1
                      text-base
                      ring-1 ring-black ring-opacity-5
                      overflow-auto
                      focus:outline-none
                      sm:text-sm
                    "
                  >
                    <li
                      v-for="anuncio in this.responseQuery"
                      :key="anuncio.id"
                      id="listbox-item-0 tituloAnunc"
                      role="option"
                      class="
                        text-gray-900
                        cursor-pointer
                        hover:bg-indigo-500 hover:text-white
                        select-none
                        relative
                        py-2
                        pl-3
                        pr-9
                      "
                    >
                      <a @click="anuncioId(anuncio.id)">
                        <div class="flex items-center">
                          <span class="ml-3 block font-normal truncate">
                            {{ anuncio.tituloAnunc }}
                          </span>
                        </div>
                      </a>
                      <span
                        class="
                          hidden
                          absolute
                          inset-y-0
                          right-0
                          flex
                          items-center
                          pr-4
                        "
                      >
                        <svg
                          class="h-5 w-5"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                          aria-hidden="true"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                            clip-rule="evenodd"
                          ></path>
                        </svg>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>

              <button
                class="
                  flex-shrink-0
                  px-6
                  py-2
                  text-base
                  font-semibold
                  text-white
                  bg-green-600
                  rounded-lg
                  shadow-md
                  hover:bg-green-700
                  focus:outline-none
                  focus:ring-2
                  focus:ring-green-600
                  focus:ring-offset-2
                  focus:ring-offset-green-400
                "
                @click.prevent="search"
              >
                Buscar
              </button>
            </form>
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      sugerencia: false,
      searchQuery: "",
      responseQuery: [],
      isActive: true,
      open: false,
    };
  },
  methods: {
    goTo: function () {
      this.$router.push({
        name: "personLandin",
      });
    },
    reloaded: function () {
      this.$router.push({
        name: "homec",
      });
      this.$router.go();

      //location.reload();
    },
    borradorQuery: function () {
      this.sugerencia = false;
      this.searchQuery = null;
      this.responseQuery = null;
    },
    anuncioId: function (elId) {
      this.sugerencia = false;
      console.log("anuncio es: ", elId);
      this.$store.commit({
        type: "getAnuncsByPalabra",
        searchQuery: this.searchQuery,
        responseQuery: this.responseQuery,
      });
      this.$router.push({
        name: "pivot",
      });

      this.searchQuery = null;
      this.responseQuery = [];
    },
  },
  watch: {
    searchQuery: function () {
      if (this.searchQuery) {
        if (this.searchQuery.length == 0) this.sugerencia = false;
        else this.sugerencia = true;
      } else {
        this.sugerencia = false;
      }
      axios
        .get(
          `http://localhost:1337/searchAnuncio?palabra=${this.searchQuery}`
          // http://localhost:1337/searchAnuncio?palabra=${this.searchQuery}
          //`http://localhost:1337/empresa/${this.$store.state.regUserEmprs.empresa[0].id}/anuncios`
        )
        .then((res) => {
          //Perform Success Action
          //alert("Usuario no encontrado, debe registrarse");
          this.sugerencia = true;
          this.responseQuery = res.data.anunciosBypalabra;
          console.log("query buscado", this.searchQuery);
          console.log("respuesta obtenida", this.responseQuery);
          //this.isLoading = false;
          //this.assets = res.data;
          //console.log("assets", this.assets);
        })
        .catch((error) => {
          // error.response.status Check status code
          console.log("mission pelaste bolas");
          console.log(error);
        })
        .finally(() => {
          //Perform action in always
        });
    },
    search() {
      console.log("busqueda por barra es: ", this.searchQuery);
    },
    toggle() {
      this.open = !this.open;
    },
  },
};
</script>