<template>
  <section
    class="
      text-gray-600
      body-font
      items-center
      justify-center
      place-items-center
    "
  >
    <img
      class="w-full hidden -mb-1 text-white"
      src="./img/asista-logo.png"
      alt="content"
    />
    <div
      class="
        container
        px-5
        py-10
        mx-auto
        items-center
        justify-center
        place-items-center
      "
    >
      <div
        class="
          flex flex-wrap
          w-full
          mb-10
          flex-col
          items-center
          justify-center
          place-items-center
          text-center
        "
      >
        <h1
          class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900"
        >
          Bienvenido a TuEmpleo ideal
        </h1>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">
          Hacemos la busqueda de trabajo ideal para ti mientras ayudamos a miles
          de empresas a crecer con tu apoyo.
        </p>
      </div>
      <div class="flex flex-wrap -m-2">
        <div class="xl:w-1/2 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img
              class="h-40 rounded w-full object-cover object-center mb-6"
              src="./img/office_img.jpg"
              alt="content"
            />
            <h2 class="text-xl text-gray-900 font-bold title-font mb-4">
              Empresas
            </h2>
            <p class="leading-relaxed text-base">
              Regístrate ya y ten al alcance todo lo que necesitas para hacer tu
              empresa mas grande.
            </p>
            <div class="flex items-center justify-between gap-4 w-full mt-8">
              <button
                @click="$router.push('RegistrarEmprs')"
                type="button"
                class="
                  py-2
                  px-4
                  bg-blue-500
                  hover:bg-blue-800
                  focus:ring-indigo-500 focus:ring-offset-indigo-200
                  text-white
                  w-full
                  transition
                  ease-in
                  duration-200
                  text-center text-base
                  font-semibold
                  shadow-md
                  focus:outline-none focus:ring-2 focus:ring-offset-2
                  rounded-lg
                "
              >
                Registro
              </button>
              <button
                @click="$router.push('loginEmprs')"
                type="button"
                class="
                  py-2
                  px-4
                  bg-white
                  hover:bg-gray-200 hover:ring-offset-blue-200
                  focus:ring-blue-600 focus:ring-offset-blue-200
                  text-blue-500 text-white
                  w-full
                  transition
                  ease-in
                  duration-200
                  text-center text-base
                  font-semibold
                  shadow-md
                  focus:outline-none focus:ring-2 focus:ring-offset-2
                  rounded-lg
                "
              >
                Iniciar sesión
              </button>
              <button
                @click="$router.push('loginAnalista')"
                type="button"
                class="
                  py-2
                  px-4
                  bg-white
                  hover:bg-gray-200 hover:ring-offset-blue-200
                  focus:ring-blue-600 focus:ring-offset-blue-200
                  text-blue-500 text-white
                  w-full
                  transition
                  ease-in
                  duration-200
                  text-center text-base
                  font-semibold
                  shadow-md
                  focus:outline-none focus:ring-2 focus:ring-offset-2
                  rounded-lg
                "
              >
                Soy analista
              </button>
            </div>
          </div>
        </div>

        <div class="xl:w-1/2 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img
              class="h-40 rounded w-full object-cover object-center mb-6"
              src="./img/interview.jpg"
              alt="content"
            />
            <h2 class="text-xl text-gray-900 font-bold title-font mb-4">
              Personas
            </h2>
            <p class="leading-relaxed text-base">
              Completa los datos y en 2 simples pasos podras empezar a buscar tu
              puesto de trabajo ideal.
            </p>
            <div class="flex items-center justify-between gap-4 w-full mt-8">
              <button
                @click="$router.push('RegistroPerson')"
                type="button"
                class="
                  py-2
                  px-4
                  bg-indigo-500
                  hover:bg-indigo-800
                  focus:ring-indigo-500 focus:ring-offset-indigo-200
                  text-white
                  w-full
                  transition
                  ease-in
                  duration-200
                  text-center text-base
                  font-semibold
                  shadow-md
                  focus:outline-none focus:ring-2 focus:ring-offset-2
                  rounded-lg
                "
              >
                Registro
              </button>
              <button
                @click="$router.push('login')"
                type="button"
                class="
                  py-2
                  px-4
                  bg-white
                  hover:bg-gray-200
                  focus:ring-blue-500 focus:ring-offset-indigo-200
                  text-blue-500 text-white
                  w-full
                  transition
                  ease-in
                  duration-200
                  text-center text-base
                  font-semibold
                  shadow-md
                  focus:outline-none focus:ring-2 focus:ring-offset-2
                  rounded-lg
                "
              >
                Iniciar sesión
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name: "homeProvis",
  data() {
    return {
      data: {
        imgEmpr: "./img/office_img.jpg",
      },
    };
  },
};
</script>