<template>
  <div>
    <main
      class="bg-gray-100 dark:bg-gray-800 h-screen overflow-hidden relative"
    >
      <div class="flex items-start justify-between">
        <div class="h-screen hidden lg:block shadow-lg relative w-80">
          <div class="bg-white h-full dark:bg-gray-700">
            <div class="flex items-center justify-start pt-6 ml-8">
              <p class="font-bold dark:text-white text-xl">Menu</p>
            </div>
            <nav class="mt-6">
              <div>
                <a
                  class="
                    w-full
                    text-gray-800
                    dark:text-white
                    flex
                    items-center
                    pl-6
                    p-2
                    my-2
                    transition-colors
                    duration-200
                    justify-start
                    border-l-4 border-r-2 border-green-500
                  "
                  href="#"
                >
                  <span class="text-left">
                    <svg
                      width="20"
                      height="20"
                      fill="currentColor"
                      viewBox="0 0 1792 1792"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1472 992v480q0 26-19 45t-45 19h-384v-384h-256v384h-384q-26 0-45-19t-19-45v-480q0-1 .5-3t.5-3l575-474 575 474q1 2 1 6zm223-69l-62 74q-8 9-21 11h-3q-13 0-21-7l-692-577-692 577q-12 8-24 7-13-2-21-11l-62-74q-8-10-7-23.5t11-21.5l719-599q32-26 76-26t76 26l244 204v-195q0-14 9-23t23-9h192q14 0 23 9t9 23v408l219 182q10 8 11 21.5t-7 23.5z"
                      ></path>
                    </svg>
                  </span>
                  <span class="mx-2 text-sm font-normal"> Inicio </span>
                </a>

                <a
                  class="
                    cursor-default
                    w-full
                    text-gray-400
                    flex
                    items-center
                    pl-6
                    p-2
                    my-2
                    transition-colors
                    duration-200
                    justify-start
                    hover:text-gray-800
                    border-l-4 border-transparent
                  "
                >
                  <span class="text-left">
                    <svg
                      width="20"
                      height="20"
                      fill="currentColor"
                      viewBox="0 0 2048 1792"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1070 1178l306-564h-654l-306 564h654zm722-282q0 182-71 348t-191 286-286 191-348 71-348-71-286-191-191-286-71-348 71-348 191-286 286-191 348-71 348 71 286 191 191 286 71 348z"
                      ></path>
                    </svg>
                  </span>
                  <span class="mx-2 text-sm font-normal">
                    Anuncios
                    <span
                      class="
                        hidden
                        p-1
                        ml-4
                        rounded-lg
                        w-4
                        h-2
                        bg-gray-200
                        text-gray-400 text-xs
                      "
                    >
                      0
                    </span>
                  </span>
                </a>
                <router-link to="/anunReg">
                  <a
                    class="
                      w-full
                      text-gray-400
                      flex
                      items-center
                      pl-6
                      p-2
                      my-2
                      transition-colors
                      duration-200
                      justify-start
                      hover:text-gray-800
                      border-l-4 border-transparent
                    "
                    href="#"
                  >
                    <span class="text-left ml-3">
                      <svg
                        width="20"
                        height="20"
                        fill="currentColor"
                        viewBox="0 0 1792 1792"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1728 608v704q0 92-66 158t-158 66h-1216q-92 0-158-66t-66-158v-960q0-92 66-158t158-66h320q92 0 158 66t66 158v32h672q92 0 158 66t66 158z"
                        ></path>
                      </svg>
                    </span>
                    <span class="mx-4 text-sm font-normal"> Nuevo </span>
                  </a>
                </router-link>
                <router-link to="anunciosbyEmprs">
                  <a
                    class="
                      w-full
                      text-gray-400
                      flex
                      items-center
                      pl-6
                      p-2
                      my-2
                      transition-colors
                      duration-200
                      justify-start
                      hover:text-gray-800
                      border-l-4 border-transparent
                    "
                    href="#"
                  >
                    <span class="text-left ml-3">
                      <svg
                        width="20"
                        height="20"
                        fill="currentColor"
                        viewBox="0 0 1792 1792"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1728 608v704q0 92-66 158t-158 66h-1216q-92 0-158-66t-66-158v-960q0-92 66-158t158-66h320q92 0 158 66t66 158v32h672q92 0 158 66t66 158z"
                        ></path>
                      </svg>
                    </span>
                    <span class="mx-4 text-sm font-normal"> Consultar </span>
                  </a>
                </router-link>

                <a
                  class="
                    cursor-default
                    w-full
                    text-gray-400
                    flex
                    items-center
                    pl-6
                    p-2
                    my-2
                    transition-colors
                    duration-200
                    justify-start
                    hover:text-gray-800
                    border-l-4 border-transparent
                  "
                >
                  <span class="text-left">
                    <svg
                      width="20"
                      height="20"
                      fill="currentColor"
                      viewBox="0 0 2048 1792"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1070 1178l306-564h-654l-306 564h654zm722-282q0 182-71 348t-191 286-286 191-348 71-348-71-286-191-191-286-71-348 71-348 191-286 286-191 348-71 348 71 286 191 191 286 71 348z"
                      ></path>
                    </svg>
                  </span>
                  <span class="mx-2 text-sm font-normal">
                    Postulados
                    <span
                      class="
                        hidden
                        p-1
                        ml-4
                        rounded-lg
                        w-4
                        h-2
                        bg-gray-200
                        text-gray-400 text-xs
                      "
                    >
                      0
                    </span>
                  </span>
                </a>
                <router-link to="/anuncioPostulds">
                  <a
                    class="
                      w-full
                      text-gray-400
                      flex
                      items-center
                      pl-6
                      p-2
                      my-2
                      transition-colors
                      duration-200
                      justify-start
                      hover:text-gray-800
                      border-l-4 border-transparent
                    "
                  >
                    <span class="text-left ml-3">
                      <svg
                        width="20"
                        height="20"
                        fill="currentColor"
                        viewBox="0 0 1792 1792"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1728 608v704q0 92-66 158t-158 66h-1216q-92 0-158-66t-66-158v-960q0-92 66-158t158-66h320q92 0 158 66t66 158v32h672q92 0 158 66t66 158z"
                        ></path>
                      </svg>
                    </span>
                    <span class="mx-4 text-sm font-normal">
                      Ver por anuncio
                    </span>
                  </a>
                </router-link>
                <router-link to="/anuncioPostulds">
                  <a
                    class="
                      w-full
                      text-gray-400
                      flex
                      items-center
                      pl-6
                      p-2
                      my-2
                      transition-colors
                      duration-200
                      justify-start
                      hover:text-gray-800
                      border-l-4 border-transparent
                    "
                  >
                    <span class="text-left ml-3">
                      <svg
                        width="20"
                        height="20"
                        fill="currentColor"
                        viewBox="0 0 2048 1792"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M580 461q0-41-25-66t-66-25q-43 0-76 25.5t-33 65.5q0 39 33 64.5t76 25.5q41 0 66-24.5t25-65.5zm743 507q0-28-25.5-50t-65.5-22q-27 0-49.5 22.5t-22.5 49.5q0 28 22.5 50.5t49.5 22.5q40 0 65.5-22t25.5-51zm-236-507q0-41-24.5-66t-65.5-25q-43 0-76 25.5t-33 65.5q0 39 33 64.5t76 25.5q41 0 65.5-24.5t24.5-65.5zm635 507q0-28-26-50t-65-22q-27 0-49.5 22.5t-22.5 49.5q0 28 22.5 50.5t49.5 22.5q39 0 65-22t26-51zm-266-397q-31-4-70-4-169 0-311 77t-223.5 208.5-81.5 287.5q0 78 23 152-35 3-68 3-26 0-50-1.5t-55-6.5-44.5-7-54.5-10.5-50-10.5l-253 127 72-218q-290-203-290-490 0-169 97.5-311t264-223.5 363.5-81.5q176 0 332.5 66t262 182.5 136.5 260.5zm592 561q0 117-68.5 223.5t-185.5 193.5l55 181-199-109q-150 37-218 37-169 0-311-70.5t-223.5-191.5-81.5-264 81.5-264 223.5-191.5 311-70.5q161 0 303 70.5t227.5 192 85.5 263.5z"
                        ></path>
                      </svg>
                    </span>
                    <span class="mx-4 text-sm font-normal"> Ver todos </span>
                  </a>
                </router-link>
                
                <a
                  class="
                    cursor-default
                    w-full
                    text-gray-400
                    flex
                    items-center
                    pl-6
                    p-2
                    my-2
                    transition-colors
                    duration-200
                    justify-start
                    hover:text-gray-800
                    border-l-4 border-transparent
                  "
                >
                  <span class="text-left">
                    <svg
                      width="20"
                      height="20"
                      fill="currentColor"
                      viewBox="0 0 2048 1792"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1070 1178l306-564h-654l-306 564h654zm722-282q0 182-71 348t-191 286-286 191-348 71-348-71-286-191-191-286-71-348 71-348 191-286 286-191 348-71 348 71 286 191 191 286 71 348z"
                      ></path>
                    </svg>
                  </span>
                  <span class="mx-2 text-sm font-normal">
                    Analistas
                    <span
                      class="
                        hidden
                        p-1
                        ml-4
                        rounded-lg
                        w-4
                        h-2
                        bg-gray-200
                        text-gray-400 text-xs
                      "
                    >
                      0
                    </span>
                  </span>
                </a>
                <router-link to="/anuncioPostulds">
                  <a
                    class="
                      w-full
                      text-gray-400
                      flex
                      items-center
                      pl-6
                      p-2
                      my-2
                      transition-colors
                      duration-200
                      justify-start
                      hover:text-gray-800
                      border-l-4 border-transparent
                    "
                  >
                    <span class="text-left ml-3">
                      <svg
                        width="20"
                        height="20"
                        fill="currentColor"
                        viewBox="0 0 1792 1792"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1728 608v704q0 92-66 158t-158 66h-1216q-92 0-158-66t-66-158v-960q0-92 66-158t158-66h320q92 0 158 66t66 158v32h672q92 0 158 66t66 158z"
                        ></path>
                      </svg>
                    </span>
                    <span class="mx-4 text-sm font-normal">
                      Crear nuevo
                    </span>
                  </a>
                </router-link>
                <router-link to="/anuncioPostulds">
                  <a
                    class="
                      w-full
                      text-gray-400
                      flex
                      items-center
                      pl-6
                      p-2
                      my-2
                      transition-colors
                      duration-200
                      justify-start
                      hover:text-gray-800
                      border-l-4 border-transparent
                    "
                  >
                    <span class="text-left ml-3">
                      <svg
                        width="20"
                        height="20"
                        fill="currentColor"
                        viewBox="0 0 2048 1792"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M580 461q0-41-25-66t-66-25q-43 0-76 25.5t-33 65.5q0 39 33 64.5t76 25.5q41 0 66-24.5t25-65.5zm743 507q0-28-25.5-50t-65.5-22q-27 0-49.5 22.5t-22.5 49.5q0 28 22.5 50.5t49.5 22.5q40 0 65.5-22t25.5-51zm-236-507q0-41-24.5-66t-65.5-25q-43 0-76 25.5t-33 65.5q0 39 33 64.5t76 25.5q41 0 65.5-24.5t24.5-65.5zm635 507q0-28-26-50t-65-22q-27 0-49.5 22.5t-22.5 49.5q0 28 22.5 50.5t49.5 22.5q39 0 65-22t26-51zm-266-397q-31-4-70-4-169 0-311 77t-223.5 208.5-81.5 287.5q0 78 23 152-35 3-68 3-26 0-50-1.5t-55-6.5-44.5-7-54.5-10.5-50-10.5l-253 127 72-218q-290-203-290-490 0-169 97.5-311t264-223.5 363.5-81.5q176 0 332.5 66t262 182.5 136.5 260.5zm592 561q0 117-68.5 223.5t-185.5 193.5l55 181-199-109q-150 37-218 37-169 0-311-70.5t-223.5-191.5-81.5-264 81.5-264 223.5-191.5 311-70.5q161 0 303 70.5t227.5 192 85.5 263.5z"
                        ></path>
                      </svg>
                    </span>
                    <span class="mx-4 text-sm font-normal"> Ver todos </span>
                  </a>
                </router-link>
              </div>
            </nav>
          </div>
        </div>

        <div class="flex flex-col w-full md:space-y-4 bg-gray-50">
          <header
            class="w-full h-16 z-40 flex items-center justify-between hidden"
          >
            <div class="block lg:hidden ml-6">
              <button
                class="
                  flex
                  p-2
                  items-center
                  rounded-full
                  bg-white
                  shadow
                  text-gray-500 text-md
                "
              >
                <svg
                  width="20"
                  height="20"
                  class="text-gray-400"
                  fill="currentColor"
                  viewBox="0 0 1792 1792"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1664 1344v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45z"
                  ></path>
                </svg>
              </button>
            </div>
            <div
              class="
                relative
                z-20
                flex flex-col
                justify-end
                h-full
                px-3
                md:w-full
              "
            >
              <div
                class="
                  relative
                  p-1
                  flex
                  items-center
                  w-full
                  space-x-4
                  justify-end
                "
              >
                <button
                  class="
                    flex
                    p-2
                    items-center
                    rounded-full
                    text-gray-400
                    hover:text-gray-700
                    bg-white
                    shadow
                    text-md
                  "
                >
                  <svg
                    width="20"
                    height="20"
                    class=""
                    fill="currentColor"
                    viewBox="0 0 1792 1792"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1520 1216q0-40-28-68l-208-208q-28-28-68-28-42 0-72 32 3 3 19 18.5t21.5 21.5 15 19 13 25.5 3.5 27.5q0 40-28 68t-68 28q-15 0-27.5-3.5t-25.5-13-19-15-21.5-21.5-18.5-19q-33 31-33 73 0 40 28 68l206 207q27 27 68 27 40 0 68-26l147-146q28-28 28-67zm-703-705q0-40-28-68l-206-207q-28-28-68-28-39 0-68 27l-147 146q-28 28-28 67 0 40 28 68l208 208q27 27 68 27 42 0 72-31-3-3-19-18.5t-21.5-21.5-15-19-13-25.5-3.5-27.5q0-40 28-68t68-28q15 0 27.5 3.5t25.5 13 19 15 21.5 21.5 18.5 19q33-31 33-73zm895 705q0 120-85 203l-147 146q-83 83-203 83-121 0-204-85l-206-207q-83-83-83-203 0-123 88-209l-88-88q-86 88-208 88-120 0-204-84l-208-208q-84-84-84-204t85-203l147-146q83-83 203-83 121 0 204 85l206 207q83 83 83 203 0 123-88 209l88 88q86-88 208-88 120 0 204 84l208 208q84 84 84 204z"
                    ></path>
                  </svg>
                </button>
                <button
                  class="
                    flex
                    p-2
                    items-center
                    rounded-full
                    bg-white
                    shadow
                    text-gray-400
                    hover:text-gray-700
                    text-md
                  "
                >
                  <svg
                    width="20"
                    height="20"
                    class="text-gray-400"
                    fill="currentColor"
                    viewBox="0 0 1792 1792"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M912 1696q0-16-16-16-59 0-101.5-42.5t-42.5-101.5q0-16-16-16t-16 16q0 73 51.5 124.5t124.5 51.5q16 0 16-16zm816-288q0 52-38 90t-90 38h-448q0 106-75 181t-181 75-181-75-75-181h-448q-52 0-90-38t-38-90q50-42 91-88t85-119.5 74.5-158.5 50-206 19.5-260q0-152 117-282.5t307-158.5q-8-19-8-39 0-40 28-68t68-28 68 28 28 68q0 20-8 39 190 28 307 158.5t117 282.5q0 139 19.5 260t50 206 74.5 158.5 85 119.5 91 88z"
                    ></path>
                  </svg>
                </button>
                <span class="w-1 h-8 rounded-lg bg-gray-200"> </span>
                <a href="#" class="block relative">
                  <img
                    alt="profil"
                    :src="require('./img/img-profile.jpg').default"
                    class="mx-auto object-cover rounded-full h-10 w-10"
                  />
                </a>
                <button
                  class="
                    flex
                    items-center
                    text-gray-500
                    dark:text-white
                    text-md
                  "
                >
                  Charlie R
                  <svg
                    width="20"
                    height="20"
                    class="ml-2 text-gray-400"
                    fill="currentColor"
                    viewBox="0 0 1792 1792"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1408 704q0 26-19 45l-448 448q-19 19-45 19t-45-19l-448-448q-19-19-19-45t19-45 45-19h896q26 0 45 19t19 45z"
                    ></path>
                  </svg>
                </button>
              </div>
            </div>
          </header>
          <div
            class="
              grid grid-cols-1
              md:grid-cols-2
              lg:grid-cols-2
              gap-4
              my-4
              mx-8
            "
          >
            <AnuncioDataTable></AnuncioDataTable>
            <PostuldDataTable></PostuldDataTable>
          </div>
          <div class="overflow-auto h-96 pb-24 px-4 md:px-6">
            <div class="flex items-center space-x-4 hidden">
              <button
                class="
                  flex
                  items-center
                  text-gray-400 text-md
                  border-gray-300 border
                  px-4
                  py-2
                  rounded-tl-sm rounded-bl-full rounded-r-full
                "
              >
                <svg
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="mr-2 text-gray-400"
                  viewBox="0 0 1792 1792"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M192 1664h288v-288h-288v288zm352 0h320v-288h-320v288zm-352-352h288v-320h-288v320zm352 0h320v-320h-320v320zm-352-384h288v-288h-288v288zm736 736h320v-288h-320v288zm-384-736h320v-288h-320v288zm768 736h288v-288h-288v288zm-384-352h320v-320h-320v320zm-352-864v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm736 864h288v-320h-288v320zm-384-384h320v-288h-320v288zm384 0h288v-288h-288v288zm32-480v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm384-64v1280q0 52-38 90t-90 38h-1408q-52 0-90-38t-38-90v-1280q0-52 38-90t90-38h128v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h384v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h128q52 0 90 38t38 90z"
                  ></path>
                </svg>
                Last month
                <svg
                  width="20"
                  height="20"
                  class="ml-2 text-gray-400"
                  fill="currentColor"
                  viewBox="0 0 1792 1792"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1408 704q0 26-19 45l-448 448q-19 19-45 19t-45-19l-448-448q-19-19-19-45t19-45 45-19h896q26 0 45 19t19 45z"
                  ></path>
                </svg>
              </button>
              <span class="text-sm text-gray-400">
                Compared to oct 1- otc 30, 2020
              </span>
            </div>

            <div
              class="
                grid grid-cols-1
                md:grid-cols-2
                lg:grid-cols-2
                gap-4
                my-4
                mx-auto
              "
            >
              <div class="w-full">
                <div
                  class="
                    shadow-lg
                    rounded-2xl
                    p-4
                    bg-white
                    dark:bg-gray-800
                    w-96
                    m-auto
                  "
                >
                  <div class="w-full h-full text-center">
                    <div class="flex h-full flex-col justify-between">
                      <svg
                        version="1.1"
                        id="Layer_1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        viewBox="0 0 111.1 122.9"
                        style="enable-background: new 0 0 111.1 122.9"
                        xml:space="preserve"
                        width="40"
                        height="40"
                        class="mt-3 w-12 h-12 m-auto"
                      >
                        <g>
                          <path
                            d="M45,28.7c-10.1,0-13.2,0.1-23.4,0.1c-1.2,0-2.3,0.1-3.3,0.3c-1.1,0.2-2.1,0.5-3,0.9c-1,0.4-1.9,0.9-2.8,1.5 c-0.9,0.6-1.7,1.3-2.5,2.1c-0.8,0.8-1.5,1.6-2.1,2.5c-0.6,0.9-1.1,1.8-1.5,2.8c-0.4,1-0.7,2-0.9,3c-0.2,1.1-0.3,2.2-0.3,3.3v33.3 c0,1.2,0.1,2.3,0.3,3.3c0.2,1.1,0.5,2.1,0.9,3c0.4,1,0.9,1.9,1.5,2.8c0.6,0.9,1.3,1.7,2.1,2.5l0,0c0.8,0.8,1.7,1.5,2.6,2.1 c0.9,0.6,1.8,1.1,2.8,1.5c1,0.4,2,0.7,3,0.9c1.1,0.2,2.2,0.3,3.3,0.3h12.6c0.4,0,0.8,0.1,1.1,0.3c0.3,0.2,0.6,0.4,0.9,0.7l0,0 c1,1.3,2,2.6,3.1,3.8c1.1,1.2,2.2,2.4,3.5,3.5c1.2,1.1,2.4,2.2,3.8,3.2c1.3,1,2.7,2,4,2.9c1.3,0.9,2.7,1.7,4.2,2.5 c1.4,0.8,2.9,1.5,4.4,2.2c0.2,0.1,0.4,0.1,0.5,0c0.3-0.2,0.4-0.5,0.2-0.8c-0.3-0.5-0.5-0.9-0.8-1.4c-0.2-0.5-0.5-0.9-0.7-1.4l0,0 c-0.4-1-0.8-1.9-1.2-2.9c-0.4-1-0.8-2-1.1-3.1c-0.3-1-0.7-2-1-3c-0.3-1-0.6-2-0.9-3.1c-0.1-0.3-0.1-0.6-0.1-0.9 c0-0.7,0.3-1.3,0.7-1.8l0,0c0.5-0.5,1.1-0.8,1.8-0.8h14.7c1.2,0,2.3-0.1,3.3-0.3c1-0.2,2-0.5,3-0.9l0,0c0.9-0.4,1.9-0.9,2.7-1.5 c0.9-0.6,1.8-1.3,2.6-2.2l0,0c0.8-0.8,1.5-1.6,2.1-2.5c0.6-0.9,1.1-1.8,1.5-2.8c0.4-1,0.7-2,0.9-3c0.2-1.1,0.3-2.2,0.3-3.3v-6.8 c0-3.4,4.4-3.4,5.2-1v7.8c0,1.5-0.1,2.9-0.4,4.3c-0.3,1.4-0.7,2.7-1.2,4.1c-0.5,1.3-1.2,2.5-2,3.7c-0.8,1.2-1.7,2.3-2.8,3.3 c-1,1.1-2.2,2-3.3,2.8c-1.2,0.8-2.4,1.4-3.6,2l0,0c-1.3,0.5-2.7,0.9-4,1.2c-1.4,0.3-2.8,0.4-4.3,0.4H61c-0.1,0-0.1,0-0.2,0 c-0.3,0.1-0.5,0.4-0.4,0.7l0,0c0.2,0.6,0.4,1.3,0.6,2l0,0c0.3,0.9,0.7,1.9,1.1,2.8c0.4,0.9,0.7,1.8,1.1,2.6c0,0,0,0.1,0,0.1 c0.4,0.9,0.8,1.7,1.3,2.6c0.5,0.8,1.1,1.7,1.7,2.5c0.6,0.8,1.3,1.6,2.1,2.5l0,0c0.8,0.8,1.6,1.7,2.6,2.4c0.5,0.5,0.8,1.1,0.9,1.8 c0,0.6-0.2,1.3-0.6,1.8c-0.3,0.4-0.7,0.6-1.2,0.7c-0.4,0.1-0.9,0.1-1.4,0c-1.9-0.5-3.8-1.1-5.6-1.7c-1.8-0.6-3.6-1.3-5.3-2.1 c-1.7-0.7-3.4-1.6-5-2.4c-1.6-0.9-3.2-1.8-4.7-2.8l0,0c-1.5-1-3-2-4.4-3.1c-1.4-1.1-2.8-2.3-4.1-3.5l0,0c-1.1-1-2.2-2.1-3.2-3.3 c-1-1.1-2.1-2.3-3-3.5c-0.1-0.2-0.3-0.3-0.5-0.3H21.6c-1.5,0-2.9-0.1-4.3-0.4c-1.4-0.3-2.7-0.7-4-1.2l0,0c-1.3-0.5-2.5-1.2-3.7-2 c-1.2-0.8-2.3-1.7-3.3-2.7c-1.1-1.1-2-2.2-2.8-3.3c-0.8-1.2-1.5-2.4-2-3.7c-0.5-1.3-0.9-2.6-1.2-4C0.1,81.4,0,80,0,78.5V45 c0-1.5,0.1-2.9,0.4-4.3c0.3-1.4,0.7-2.7,1.2-4c0.5-1.3,1.2-2.5,2-3.7c0.8-1.2,1.7-2.3,2.8-3.3c1.1-1.1,2.2-2,3.3-2.8 c1.2-0.8,2.4-1.4,3.6-2l0,0c1.3-0.5,2.7-0.9,4.1-1.2c1.4-0.3,2.8-0.4,4.3-0.4c10.5,0,14,0,24.5,0C48.7,24,48.8,28.7,45,28.7 L45,28.7L45,28.7z M58.1,33.9c-0.5,1-0.6,2.4-0.5,3.7c0.1,0.6,0.2,1.2,0.3,1.8c0.2,0.6,0.4,1.3,0.6,1.9c0.3,0.6,0.6,1.2,0.9,1.8 c0.3,0.5,0.7,1.1,1.1,1.5c1,1.1,2.1,2,3.4,2.3c2.3,0.7,6.3-1.3,8.4-2l0,0c0.4-0.1,0.9-0.1,1.2,0.1c0.4,0.2,0.7,0.5,0.9,0.9 c0,0.1,0,0.1,0.1,0.2c0.1,0.4,0.3,0.8,0.4,1.2c1,3,1.9,5.9,3,8.2c0.1,0.2,0.2,0.5,0.3,0.7l0,0.1c0.3,0.7,0.7,1.4,1.1,2.1 c0.4,0.7,0.7,1.2,1.1,1.6c0.2,0.2,0.5,0.4,0.8,0.4c0.3,0,0.7-0.2,1.3-0.7c0.2-0.3,0.5-0.5,0.8-0.8l0,0c0.2-0.2,0.5-0.5,0.9-0.9 c1.1-1,2.7-2.5,3.3-3.3l-0.3-0.1c-3.4-1.1-3.2-2.9-3-4.5l0,0c0.1-0.5,0.1-1,0-1.3l0,0c0-0.1-0.1,0-0.3-0.2 c-0.1-0.1-0.2-0.1-0.3-0.2c-0.5-0.4-0.8-0.8-1.1-1.3c-0.3-0.6-0.4-1.2-0.5-1.8c-0.1-0.6,0-1.3,0.1-1.9c0.1-0.8,0.3-1.5,0.5-2.1l0,0 c0.1-0.3,0.2-0.5,0.4-0.7c0.2-0.2,0.5-0.3,0.8-0.4l0,0c7-1.6,10.6-0.3,14,0.9c0.5,0.2,1.1,0.4,1.6,0.6c-1.5-1.5-2.8-3.2-4.1-5.1 c-2.1-3-3.9-6.3-5.4-9.7c-1.6-3.4-2.8-6.9-3.7-10.2c-0.6-2.3-1.1-4.6-1.3-6.6c-1.5,2.6-3.6,5.7-6.6,8.9 C75.5,21.6,59.2,31.4,58.1,33.9L58.1,33.9z M99.9,26.2c0.1,1.3-0.3,3.1-1,4.6c-0.5,1.1-1.1,2-1.7,2.5c1.3,2,2.8,3.9,4.3,5.5 c1.5,1.6,3,2.9,4.6,3.9l0.1,0c0,0,0.1,0,0.2,0l0,0c0.1,0,0.2,0,0.3-0.1c0.1,0,0.2-0.1,0.2-0.1c0.3-0.3,0.5-0.7,0.6-1.2 c0.2-0.6,0.3-1.2,0.3-1.9c0.1-2.2-0.3-4.9-1.1-7.9c-0.9-3.3-2.3-6.9-3.9-10.4c-1.6-3.4-3.5-6.8-5.4-9.6c-1.8-2.7-3.7-5-5.4-6.5 c-0.6-0.6-1.3-1-1.8-1.3c-0.5-0.3-0.9-0.4-1.3-0.4l-0.1,0c-0.1,0.1-0.2,0.2-0.3,0.4l0,0c-0.6,1.5-0.6,3.9-0.2,6.8 c0.4,2.9,1.3,6.2,2.5,9.6c0.3-0.1,0.5-0.1,0.9-0.1c1.1-0.1,2.5,0,3.9,0.5c1.4,0.5,2.8,1.4,3.6,2.9C99.5,24.1,99.8,25,99.9,26.2 L99.9,26.2z M106,46.1c-0.1,0-0.3,0-0.4,0c-0.1,0-0.3,0-0.4-0.1l-0.5-0.1c-1.2-0.1-2.5-0.4-3.8-0.6l-0.1,0 c-1.4-0.3-2.6-0.7-3.8-1.2c-2.8-1.1-5.8-2.3-11.5-1.1c-0.1,0.3-0.1,0.5-0.1,0.8c0,0.3-0.1,0.7,0,1c0,0.2,0.1,0.4,0.1,0.6 c0,0.1,0.1,0.2,0.1,0.2l0.1,0.1c0.8,0.6,1.2,0.9,1.5,1.7c0.3,0.7,0.2,1.4,0.2,2.1c-0.1,0.7-0.1,1.4,0.7,1.7l0,0c1,0.3,2,0.7,2.6,2 c0.1,0.1,0.1,0.3,0.2,0.4l0,0c0,0.1,0,0.3,0,0.4l0,0c-0.2,1.9-3,4.6-4.6,6.1c-0.3,0.3-0.6,0.6-0.8,0.8l-0.1,0.1 c-0.2,0.2-0.4,0.4-0.6,0.6L84.8,62c-1.3,1.3-2.6,1.8-3.7,1.8c-1.2,0-2.2-0.6-3.1-1.5c-0.6-0.6-1.1-1.4-1.6-2.2 c-0.4-0.8-0.8-1.6-1.2-2.5c-0.1-0.2-0.2-0.5-0.3-0.7c-1.1-2.4-2.1-5.2-3-8.2c-2.9,1.2-5.6,2.5-8.9,1.5c-1.9-0.6-3.5-1.8-4.9-3.3 l0,0c-0.5-0.6-1-1.3-1.4-2c-0.4-0.7-0.8-1.4-1.1-2.2c-0.3-0.8-0.6-1.5-0.8-2.3c-0.2-0.8-0.4-1.6-0.4-2.4c-0.2-2,0-3.9,0.7-5.5 c2.1-4.6,15.9-10.6,21.3-16.6c3.6-4.1,5.7-7.9,7.2-10.7l0-0.1c0.9-1.6,1.6-2.9,2.3-3.8c0.2-0.2,0.4-0.4,0.6-0.6 c0.2-0.2,0.4-0.3,0.7-0.5C87.5,0.2,87.7,0.1,88,0c0.3,0,0.6,0,0.9,0c0.8,0.1,1.6,0.3,2.5,0.7c0.9,0.4,1.7,1,2.6,1.8 c1.9,1.7,4,4.1,6,7c2.1,3,4,6.5,5.7,10.1c1.7,3.7,3.2,7.5,4.2,11.1c0.9,3.3,1.3,6.3,1.2,8.8l0,0c-0.1,1.1-0.3,2-0.6,2.9 c-0.3,0.9-0.7,1.6-1.3,2.3l-0.1,0.1L109,45c-0.4,0.3-0.8,0.5-1.2,0.7l0,0c-0.4,0.2-0.8,0.3-1.1,0.3l0,0c-0.1,0-0.3,0-0.4,0 L106,46.1L106,46.1z M65.7,80.1c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4l-25.7-0.4l-4.9-0.3c-1.3-0.1-2.5,0.9-2.6,2.3 c-0.1,1.3,0.9,2.5,2.3,2.6l4.9,0.3C39.8,79.7,63.5,80,65.7,80.1L65.7,80.1L65.7,80.1z M58,64.9c1.3,0,2.4-1.1,2.4-2.4 c0-1.3-1.1-2.4-2.4-2.4H23.3c-1.3,0-2.4,1.1-2.4,2.4c0,1.3,1.1,2.4,2.4,2.4H58L58,64.9L58,64.9z M47.2,50.4c1.3,0,2.4-1.1,2.4-2.4 s-1.1-2.4-2.4-2.4H23.3c-1.3,0-2.4,1.1-2.4,2.4c0,1.3,1.1,2.4,2.4,2.4H47.2L47.2,50.4L47.2,50.4z"
                          />
                        </g>
                      </svg>
                      <p
                        class="
                          text-gray-800
                          dark:text-gray-200
                          text-xl
                          font-bold
                          mt-4
                        "
                      >
                        Anuncios
                      </p>
                      <p
                        class="
                          text-gray-600
                          dark:text-gray-400
                          text-xs
                          py-2
                          px-6
                        "
                      >
                        Puedes generar un nuevo anuncio o verificar actividad de
                        los existentes
                      </p>
                      <div
                        class="
                          flex
                          items-center
                          justify-between
                          gap-4
                          w-full
                          mt-2
                        "
                      >
                        <button
                          @click="anuncioNuev"
                          type="button"
                          class="
                            py-1.5
                            px-3
                            focus:ring-gray-500 focus:ring-offset-indigo-200
                            text-gray-700
                            w-full
                            transition
                            ease-in
                            duration-200
                            text-center text-base
                            font-semibold
                            shadow-md
                            focus:outline-none focus:ring-2 focus:ring-offset-2
                            rounded-lg
                            hover:bg-gray-600 hover:text-white
                            border-2 border-gray-700
                          "
                        >
                          Nuevo
                        </button>
                        <button
                          @click="anuncioConsult"
                          type="button"
                          class="
                            py-2
                            px-4
                            bg-green-400
                            hover:bg-green-600
                            focus:ring-green-800 focus:ring-offset-indigo-200
                            text-white
                            w-full
                            transition
                            ease-in
                            duration-200
                            text-center text-base
                            font-semibold
                            shadow-md
                            focus:outline-none focus:ring-2 focus:ring-offset-2
                            rounded-lg
                          "
                        >
                          Consultar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-full">
                <div
                  class="
                    shadow-lg
                    rounded-2xl
                    p-4
                    bg-white
                    dark:bg-gray-800
                    w-96
                    m-auto
                  "
                >
                  <div class="w-full h-full text-center">
                    <div class="flex h-full flex-col justify-between">
                      <svg
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        viewBox="0 0 50 50"
                        style="enable-background: new 0 0 50 50"
                        xml:space="preserve"
                        class="mt-3 w-12 h-12 m-auto"
                      >
                        <g id="Layer_1">
                          <path
                            d="M18.899,25.091C19.578,24.237,20,23.172,20,22c0-2.757-2.243-5-5-5s-5,2.243-5,5c0,1.172,0.422,2.237,1.101,3.091
		C8.773,25.517,7,27.551,7,30v7h16v-7C23,27.551,21.227,25.517,18.899,25.091z M15,19c1.654,0,3,1.346,3,3s-1.346,3-3,3
		s-3-1.346-3-3S13.346,19,15,19z M21,35H9v-5c0-1.654,1.346-3,3-3h6c1.654,0,3,1.346,3,3V35z"
                          />
                          <rect x="26" y="20" width="7" height="2" />
                          <rect x="36" y="20" width="7" height="2" />
                          <rect x="26" y="25" width="3" height="2" />
                          <rect x="32" y="25" width="11" height="2" />
                          <rect x="26" y="30" width="8" height="2" />
                          <rect x="39" y="30" width="4" height="2" />
                          <rect x="26" y="35" width="2" height="2" />
                          <rect x="30" y="35" width="2" height="2" />
                          <rect x="34" y="35" width="2" height="2" />
                          <rect x="41" y="35" width="2" height="2" />
                          <path
                            d="M29,4h-8v6H1v36h48V10H29V4z M23,6h4v4v4h-4v-4V6z M47,12v32H3V12h18v4h8v-4H47z"
                          />
                        </g>
                        <g></g>
                      </svg>
                      <p
                        class="
                          text-gray-800
                          dark:text-gray-200
                          text-xl
                          font-bold
                          mt-4
                        "
                      >
                        Postulados
                      </p>
                      <p
                        class="
                          text-gray-600
                          dark:text-gray-400
                          text-xs
                          py-2
                          px-6
                        "
                      >
                        Puedes verificar las personas postuladas segun el
                        anuncio o listar todos los CV que han ingresado.
                      </p>
                      <div
                        class="
                          flex
                          items-center
                          justify-between
                          gap-4
                          w-full
                          mt-2
                        "
                      >
                        <button
                          @click="postuladsConsult"
                          type="button"
                          class="
                            py-2
                            px-4
                            bg-green-400
                            hover:bg-green-600
                            focus:ring-green-500 focus:ring-offset-indigo-200
                            text-white
                            w-full
                            transition
                            ease-in
                            duration-200
                            text-center text-base
                            font-semibold
                            shadow-md
                            focus:outline-none focus:ring-2 focus:ring-offset-2
                            rounded-lg
                          "
                        >
                          Consultar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-full">
                <div
                  class="
                    shadow-lg
                    rounded-2xl
                    p-4
                    bg-white
                    dark:bg-gray-800
                    w-96
                    m-auto
                  "
                >
                  <div class="w-full h-full text-center">
                    <div class="flex h-full flex-col justify-between">
                      <svg
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        viewBox="0 0 50 50"
                        style="enable-background: new 0 0 50 50"
                        xml:space="preserve"
                        class="mt-3 w-12 h-12 m-auto"
                      >
                        <g id="Layer_1">
                          <path
                            d="M18.899,25.091C19.578,24.237,20,23.172,20,22c0-2.757-2.243-5-5-5s-5,2.243-5,5c0,1.172,0.422,2.237,1.101,3.091
		C8.773,25.517,7,27.551,7,30v7h16v-7C23,27.551,21.227,25.517,18.899,25.091z M15,19c1.654,0,3,1.346,3,3s-1.346,3-3,3
		s-3-1.346-3-3S13.346,19,15,19z M21,35H9v-5c0-1.654,1.346-3,3-3h6c1.654,0,3,1.346,3,3V35z"
                          />
                          <rect x="26" y="20" width="7" height="2" />
                          <rect x="36" y="20" width="7" height="2" />
                          <rect x="26" y="25" width="3" height="2" />
                          <rect x="32" y="25" width="11" height="2" />
                          <rect x="26" y="30" width="8" height="2" />
                          <rect x="39" y="30" width="4" height="2" />
                          <rect x="26" y="35" width="2" height="2" />
                          <rect x="30" y="35" width="2" height="2" />
                          <rect x="34" y="35" width="2" height="2" />
                          <rect x="41" y="35" width="2" height="2" />
                          <path
                            d="M29,4h-8v6H1v36h48V10H29V4z M23,6h4v4v4h-4v-4V6z M47,12v32H3V12h18v4h8v-4H47z"
                          />
                        </g>
                        <g></g>
                      </svg>
                      <p
                        class="
                          text-gray-800
                          dark:text-gray-200
                          text-xl
                          font-bold
                          mt-4
                        "
                      >
                        Analistas
                      </p>
                      <p
                        class="
                          text-gray-600
                          dark:text-gray-400
                          text-xs
                          py-2
                          px-6
                        "
                      >
                        Panel de gestión de analistas, configuracion de nuevos
                        usuarios, asignación de perfiles, gestion de logs de
                        analistas
                      </p>
                      <div
                        class="
                          flex
                          items-center
                          justify-between
                          gap-4
                          w-full
                          mt-2
                        "
                      >
                        <button
                          @click="analistNuevo"
                          type="button"
                          class="
                            py-1.5
                            px-3
                            focus:ring-gray-500 focus:ring-offset-indigo-200
                            text-gray-700
                            w-full
                            transition
                            ease-in
                            duration-200
                            text-center text-base
                            font-semibold
                            shadow-md
                            focus:outline-none focus:ring-2 focus:ring-offset-2
                            rounded-lg
                            hover:bg-gray-600 hover:text-white
                            border-2 border-gray-700
                          "
                        >
                          Mi perfil
                        </button>
                        <button
                        @click="analistConsult"
                          type="button"
                          class="
                            py-2
                            px-4
                            bg-green-400
                            hover:bg-green-600
                            focus:ring-green-500 focus:ring-offset-indigo-200
                            text-white
                            w-full
                            transition
                            ease-in
                            duration-200
                            text-center text-base
                            font-semibold
                            shadow-md
                            focus:outline-none focus:ring-2 focus:ring-offset-2
                            rounded-lg
                          "
                        >
                          Evaluaciones
                        </button>

                        <button
                          type="button"
                          class="
                            hidden
                            py-2
                            px-4
                            bg-green-400
                            hover:bg-green-600
                            focus:ring-green-800 focus:ring-offset-indigo-200
                            text-white
                            w-full
                            transition
                            ease-in
                            duration-200
                            text-center text-base
                            font-semibold
                            shadow-md
                            focus:outline-none focus:ring-2 focus:ring-offset-2
                            rounded-lg
                          "
                        >
                          Consultar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
// import from

import AnuncioDataTable from "./AnuncioDataTable.vue";
import PostuldDataTable from "./PostuldDataTable.vue";
//import AnalistaFormReg from "./AnalistaFormReg.vue";

export default {
  name: "HomeAnalista",

  components: {
    AnuncioDataTable,
    PostuldDataTable,
  },
  data() {
    return {};
  },
  methods: {
    anuncioNuev() {
      this.$router.push({
        name: "anunreg",
      });
    },
    anuncioConsult() {
      this.$router.push({
        name: "AnunciosbyEmprs",
      });
    },
    postuladsConsult() {
      this.$router.push({
        name: "AnuncioPostulds",
      });
    },
    analistNuevo() {
      this.$router.push({
        name: "AnalistaCrear",
      });
    },
    analistConsult() {
      this.$router.push({
        name: "AnalistaConsultaTodos",
      });
    },
  },
};
</script>