<template>
  <div>
    <hr />

    <div class="flex justify-center">
      <div class="bg-green-800 p-6 rounded-md">
        <form action="">
          <div
            class="
              flex-col
              w-full
              px-0
              pt-8
              pb-4
              bg-white
              rounded-lg
              shadow
              dark:bg-gray-800
              sm:px-6
              md:px-8
              lg:px-18
              bg-grey-200
            "
          >
            <div
              class="
                self-center
                mb-5
                text-xl
                font-bold
                text-gray-800
                sm:text-2xl
                dark:text-white
                w-full
                text-center
              "
            >
              Agregar idioma
            </div>

            <div
              class="
                flex flex-wrap
                -mx-1
                overflow-hidden
                sm:-mx-3
                md:-mx-2
                lg:-mx-2
                xl:-mx-1
              "
            >
              <div
                class="
                  my-1
                  px-1
                  w-1/2
                  overflow-hidden
                  sm:my-3
                  sm:px-3
                  sm:w-1/2
                  md:my-2
                  md:px-2
                  md:w-1/2
                  lg:my-2
                  lg:px-2
                  lg:w-1/2
                  xl:my-1
                  xl:px-1
                  xl:w-1/2
                "
              >
                <div class="relative">
                  <select
                    class="
                      block
                      appearance-none
                      w-full
                      bg-gray-100
                      border border-gray-200
                      text-gray-700
                      py-3
                      px-4
                      pr-8
                      rounded
                      leading-tight
                      focus:outline-none
                      focus:bg-white
                      focus:border-gray-500
                    "
                    id="nvlExperiencia"
                  >
                    <option>Idioma</option>
                    <option>Inglés</option>
                    <option>Alemán</option>
                    <option>Portugués</option>
                    <option>Chino</option>
                    <option>Italiano</option>
                  </select>
                  <div
                    class="
                      pointer-events-none
                      absolute
                      inset-y-0
                      right-0
                      flex
                      items-center
                      px-2
                      text-gray-700
                    "
                  >
                    <svg
                      class="fill-current h-4 w-4"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                    >
                      <path
                        d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                      />
                    </svg>
                  </div>
                </div>
              </div>

              <div
                class="
                  my-1
                  px-1
                  w-1/2
                  overflow-hidden
                  sm:my-3
                  sm:px-3
                  sm:w-1/2
                  md:my-2
                  md:px-2
                  md:w-1/2
                  lg:my-2
                  lg:px-2
                  lg:w-1/2
                  xl:my-1
                  xl:px-1
                  xl:w-1/2
                "
              >
                <div class="relative">
                  <select
                    class="
                      block
                      appearance-none
                      w-full
                      bg-gray-100
                      border border-gray-200
                      text-gray-700
                      py-3
                      px-4
                      pr-8
                      rounded
                      leading-tight
                      focus:outline-none
                      focus:bg-white
                      focus:border-gray-500
                    "
                    id="grid-state"
                  >
                    <option>Nivel escrito</option>
                    <option>Basico</option>
                    <option>Intermedio</option>
                    <option>Avanzado</option>
                  </select>
                  <div
                    class="
                      pointer-events-none
                      absolute
                      inset-y-0
                      right-0
                      flex
                      items-center
                      px-2
                      text-gray-700
                    "
                  >
                    <svg
                      class="fill-current h-4 w-4"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                    >
                      <path
                        d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                      />
                    </svg>
                  </div>
                </div>
              </div>

              <div
                class="
                  my-1
                  px-1
                  w-1/2
                  overflow-hidden
                  sm:my-3
                  sm:px-3
                  sm:w-1/2
                  md:my-2
                  md:px-2
                  md:w-1/2
                  lg:my-2
                  lg:px-2
                  lg:w-1/2
                  xl:my-1
                  xl:px-1
                  xl:w-1/2
                "
              >
                <div class="relative">
                  <select
                    class="
                      block
                      appearance-none
                      w-full
                      bg-gray-100
                      border border-gray-200
                      text-gray-700
                      py-3
                      px-4
                      pr-8
                      rounded
                      leading-tight
                      focus:outline-none
                      focus:bg-white
                      focus:border-gray-500
                    "
                    id="grid-state"
                  >
                    <option>Nivel oral</option>
                    <option>Basico</option>
                    <option>Intermedio</option>
                    <option>Avanzado</option>
                  </select>
                  <div
                    class="
                      pointer-events-none
                      absolute
                      inset-y-0
                      right-0
                      flex
                      items-center
                      px-2
                      text-gray-700
                    "
                  >
                    <svg
                      class="fill-current h-4 w-4"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                    >
                      <path
                        d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex flex-wrap justify-end my-4">
              <div class="my-1 mr-1">
                <button
                  class="
                    flex
                    items-center
                    p-4
                    ml-1
                    transition
                    ease-in
                    duration-200
                    uppercase
                    rounded-full
                    bg-yellow-400
                    hover:bg-gray-800
                    hover:text-white
                    border-2 border-yellow-500
                    focus:outline-none
                  "
                >
                  <svg
                    width="20"
                    height="20"
                    fill=""
                    viewBox="0 0 2304 1792"
                    class=""
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1728 448l-384 704h768zm-1280 0l-384 704h768zm821-192q-14 40-45.5 71.5t-71.5 45.5v1291h608q14 0 23 9t9 23v64q0 14-9 23t-23 9h-1344q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h608v-1291q-40-14-71.5-45.5t-45.5-71.5h-491q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h491q21-57 70-92.5t111-35.5 111 35.5 70 92.5h491q14 0 23 9t9 23v64q0 14-9 23t-23 9h-491zm-181 16q33 0 56.5-23.5t23.5-56.5-23.5-56.5-56.5-23.5-56.5 23.5-23.5 56.5 23.5 56.5 56.5 23.5zm1088 880q0 73-46.5 131t-117.5 91-144.5 49.5-139.5 16.5-139.5-16.5-144.5-49.5-117.5-91-46.5-131q0-11 35-81t92-174.5 107-195.5 102-184 56-100q18-33 56-33t56 33q4 7 56 100t102 184 107 195.5 92 174.5 35 81zm-1280 0q0 73-46.5 131t-117.5 91-144.5 49.5-139.5 16.5-139.5-16.5-144.5-49.5-117.5-91-46.5-131q0-11 35-81t92-174.5 107-195.5 102-184 56-100q18-33 56-33t56 33q4 7 56 100t102 184 107 195.5 92 174.5 35 81z"
                    ></path>
                  </svg>
                </button>
                <label for="">Guardar</label>
              </div>

              <div class="my-1 mx-2">
                <button
                  class="
                    flex
                    items-center
                    ml-1
                    p-4
                    transition
                    ease-in
                    duration-200
                    uppercase
                    rounded-full
                    bg-green-400
                    hover:bg-gray-800
                    hover:text-white
                    border-2 border-green-500
                    focus:outline-none
                  "
                >
                  <svg
                    width="20"
                    height="20"
                    fill="currentColor"
                    viewBox="0 0 2304 1792"
                    class=""
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1728 448l-384 704h768zm-1280 0l-384 704h768zm821-192q-14 40-45.5 71.5t-71.5 45.5v1291h608q14 0 23 9t9 23v64q0 14-9 23t-23 9h-1344q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h608v-1291q-40-14-71.5-45.5t-45.5-71.5h-491q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h491q21-57 70-92.5t111-35.5 111 35.5 70 92.5h491q14 0 23 9t9 23v64q0 14-9 23t-23 9h-491zm-181 16q33 0 56.5-23.5t23.5-56.5-23.5-56.5-56.5-23.5-56.5 23.5-23.5 56.5 23.5 56.5 56.5 23.5zm1088 880q0 73-46.5 131t-117.5 91-144.5 49.5-139.5 16.5-139.5-16.5-144.5-49.5-117.5-91-46.5-131q0-11 35-81t92-174.5 107-195.5 102-184 56-100q18-33 56-33t56 33q4 7 56 100t102 184 107 195.5 92 174.5 35 81zm-1280 0q0 73-46.5 131t-117.5 91-144.5 49.5-139.5 16.5-139.5-16.5-144.5-49.5-117.5-91-46.5-131q0-11 35-81t92-174.5 107-195.5 102-184 56-100q18-33 56-33t56 33q4 7 56 100t102 184 107 195.5 92 174.5 35 81z"
                    ></path>
                  </svg>
                </button>
                <label for="">Siguiente</label>
              </div>

              <div class="my-1 mr-1 hidden">
                <button
                  class="
                    flex
                    items-center
                    p-4
                    transition
                    ease-in
                    duration-200
                    uppercase
                    rounded-full
                    hover:bg-gray-800
                    hover:text-white
                    border-2 border-gray-900
                    focus:outline-none
                  "
                >
                  <svg
                    width="20"
                    height="20"
                    fill="currentColor"
                    viewBox="0 0 2304 1792"
                    class=""
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1728 448l-384 704h768zm-1280 0l-384 704h768zm821-192q-14 40-45.5 71.5t-71.5 45.5v1291h608q14 0 23 9t9 23v64q0 14-9 23t-23 9h-1344q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h608v-1291q-40-14-71.5-45.5t-45.5-71.5h-491q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h491q21-57 70-92.5t111-35.5 111 35.5 70 92.5h491q14 0 23 9t9 23v64q0 14-9 23t-23 9h-491zm-181 16q33 0 56.5-23.5t23.5-56.5-23.5-56.5-56.5-23.5-56.5 23.5-23.5 56.5 23.5 56.5 56.5 23.5zm1088 880q0 73-46.5 131t-117.5 91-144.5 49.5-139.5 16.5-139.5-16.5-144.5-49.5-117.5-91-46.5-131q0-11 35-81t92-174.5 107-195.5 102-184 56-100q18-33 56-33t56 33q4 7 56 100t102 184 107 195.5 92 174.5 35 81zm-1280 0q0 73-46.5 131t-117.5 91-144.5 49.5-139.5 16.5-139.5-16.5-144.5-49.5-117.5-91-46.5-131q0-11 35-81t92-174.5 107-195.5 102-184 56-100q18-33 56-33t56 33q4 7 56 100t102 184 107 195.5 92 174.5 35 81z"
                    ></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
export default {};
</script>
