<template>
  <div class="container flex-wrap px-5 py-24 mx-auto items-center">
    <div
      class="
        w-full
        max-w-sm
        mx-auto
        overflow-hidden
        bg-gray-300
        rounded-lg
        shadow-md
        dark:bg-gray-800
      "
    >
      <div class="px-6 py-4">
        <h2
          class="text-3xl font-bold text-center text-gray-700 dark:text-white"
        >
          Ingresar
        </h2>

        <p class="mt-1 text-center text-gray-500 dark:text-gray-400">
          Inicia sesión o crea una cuenta
        </p>

        <form @submit.stop.prevent="onSubmit">
          <div class="w-full mt-4">
            <input
              class="
                block
                w-full
                px-4
                py-2
                mt-2
                text-gray-700
                placeholder-gray-500
                bg-white
                border border-gray-300
                rounded-md
                dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400
                focus:border-blue-500
                dark:focus:border-blue-500
                focus:outline-none focus:ring
              "
              type="email"
              placeholder="Email Address"
              aria-label="Email Address"
              name="emailUser"
              v-model.lazy.trim="data.emailUser"
            />
          </div>

          <div class="w-full mt-4">
            <input
              class="
                block
                w-full
                px-4
                py-2
                mt-2
                text-gray-700
                placeholder-gray-500
                bg-white
                border border-gray-300
                rounded-md
                dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400
                focus:border-blue-500
                dark:focus:border-blue-500
                focus:outline-none focus:ring
              "
              type="password"
              placeholder="Password"
              aria-label="Password"
              name="passwUser"
              v-model.lazy.trim="data.passwUser"
            />
          </div>

          <div class="flex items-center justify-between mt-4">
            <a
              href="#"
              class="
                text-sm text-gray-600
                dark:text-gray-200
                hover:text-gray-500
              "
              >¿Contraseña olvidada?</a
            >

            <button
              class="
                flex-shrink-0
                px-4
                py-2
                text-base
                font-semibold
                text-white
                backasista
                rounded-lg
                shadow-md
                focus:outline-none focus:ring-2 focus:ring-offset-2
              "
              type="submit"
            >
              Enviar
            </button>
          </div>
        </form>
      </div>

      <div
        class="
          flex
          items-center
          justify-center
          py-4
          text-center
          bg-gray-200
          dark:bg-gray-700
        "
      >
        <span class="text-sm text-gray-600 dark:text-gray-200"
          >¿No tienes una cuenta?
        </span>

        <a
          href="#"
          class="
            mx-2
            text-sm
            font-bold
            text-blue-600
            dark:text-blue-400
            hover:text-blue-500
          "
          @click="$router.push('RegistroPerson')"
          >Registrarse</a
        >
      </div>
    </div>
  </div>
</template>


<script>
import axios from "axios";
import CryptoJS from 'crypto-js';


export default {
  name: "login",

  methods: {
    onSubmit() {
      console.log("respuesta get", this.data.emailUser);

      if (this.data.emailUser && this.data.passwUser) {
        axios
          .get(
            `http://localhost:1337/registroPrimarioUser?emailUser=${this.data.emailUser}`
          )
          .then((res) => {
            //Perform Success Action
            if (res.data.length == 0 && res.status == 200) {
              alert("Usuario no encontrado, debe registrarse");
              console.log("respuesta obtenida", res.status);
            } else {
              if (res.data[0].passwUser == this.data.passwUser) {
                this.$store.commit({
                  type: "getRegUser",
                  id: res.data[0].id,
                  nombreUser: res.data[0].nombreUser,
                  apellidoUser: res.data[0].apellidoUser,
                  emailUser: res.data[0].emailUser,
                  telf1: res.data[0].telf1,
                });
                axios
                  .get(
                    `http://localhost:1337/persona?owner=${this.$store.state.regUser.id}`
                  )
                  .then((res) => {
                    this.$store.commit("getUserData", res.data[0]);
                    //console.log("respuesta obtenida del req", res.status);
                    //alert("DATA DEL USUARIO CARGADA"); //res.data[0].id
                  })
                  .catch((error) => {
                    // error.response.status Check status code
                    console.log(
                      "mission pelaste bolas llegando al registro de persona"
                    );
                    console.log(error);
                  })
                  .finally(() => {
                    //Perform action in always
                  });
                console.log("respuesta obtenida", res.data[0]);
                alert("¡¡¡ACCESS GRANTED!!!");
                this.$router.push({
                  name: "EmpleosHome",
                  params: {},
                });
              } else {
                if (
                  this.data.emailUser &&
                  this.data.passwUser != res.data[0].passwUser
                ) {
                  alert("¡¡¡ACCESS DENIED !!!");
                  alert("ERROR EN PASSWORD !!!");
                }
              }
            }
          })
          .catch((error) => {
            // error.response.status Check status code
            console.log("mission pelaste bolas");
            console.log(error);
          })
          .finally(() => {
            //Perform action in always
          });
      } else {
        if (!this.data.emailUser || !this.data.passwUser)
          alert("No pueden existir campos vacios");
      }
    },
  },
  data() {
    return {
      data: {
        emailUser: "",
        telf1: "",
        autenticacion: "1",
        passwUser: "",
      },
    };
  },
};
</script>