<template>
  <div class="container flex-wrap px-5 py-24 mx-auto items-center">
    <div
      class="
        w-full
        max-w-md
        mx-auto
        overflow-hidden
        bg-gray-300
        rounded-lg
        shadow-md
        dark:bg-gray-800
      "
    >
      <div class="px-8 py-6">
        <h2
          class="text-3xl font-bold text-center text-gray-700 dark:text-white"
        >
          Ingresar como Analista
        </h2>

        <p class="mt-1 text-center text-gray-500 dark:text-gray-400">
          Inicio de sesión como analista de empresa asociada
        </p>

        <form @submit.stop.prevent="onSubmit">
          <div class="w-full mt-4">
            <input
              class="
                block
                w-full
                px-4
                py-2
                mt-2
                text-gray-700
                placeholder-gray-500
                bg-white
                border border-gray-300
                rounded-md
                dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400
                focus:border-blue-500
                dark:focus:border-blue-500
                focus:outline-none focus:ring
              "
              type="email"
              placeholder="Email Address"
              aria-label="Email Address"
              name="emailUser"
              v-model.lazy.trim="data.emailAnalist"
            />
          </div>

          <div class="w-full mt-4">
            <input
              class="
                block
                w-full
                px-4
                py-2
                mt-2
                text-gray-700
                placeholder-gray-500
                bg-white
                border border-gray-300
                rounded-md
                dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400
                focus:border-blue-500
                dark:focus:border-blue-500
                focus:outline-none focus:ring
              "
              type="password"
              placeholder="Password"
              aria-label="Password"
              name="passwUser"
              v-model.lazy.trim="data.passwAnalist"
            />
          </div>

          <div class="flex items-center justify-between mt-4">
            <a
              href="#"
              class="
                text-sm text-gray-600
                dark:text-gray-200
                hover:text-gray-500
              "
              >¿Contraseña olvidada?</a
            >

            <button
              class="
                flex-shrink-0
                px-4
                py-2
                text-base
                font-semibold
                text-white
                backasista
                rounded-lg
                shadow-md
                focus:outline-none focus:ring-2 focus:ring-offset-2
              "
              type="submit"
            >
              Enviar
            </button>
          </div>
        </form>
      </div>

      <div
        class="
          flex
          items-center
          justify-center
          py-4
          text-center
          bg-gray-200
          dark:bg-gray-700
        "
      >
        <span class="hidden text-sm text-gray-600 dark:text-gray-200"
          >¿No tienes una cuenta?
        </span>

        <a
          href="#"
          class="
            mx-2
            text-sm
            font-bold
            text-blue-600
            dark:text-blue-400
            hover:text-blue-500
          "
          @click="$router.push('homec')"
          >Volver</a
        >
      </div>
    </div>
  </div>
</template>


<script>
import axios from "axios";

export default {
  name: "loginAnalista",
  methods: {
    onSubmit() {
      console.log("respuesta get", this.data.emailAnalist);

      if (this.data.emailAnalist && this.data.passwAnalist) {
        axios
          .get(
            `http://localhost:1337/analista?emailAnalist=${this.data.emailAnalist}`
          )
          .then((res) => {
            //Perform Success Action
            if (res.data.length == 0 && res.status == 200) {
              alert(
                "Analista no encontrado, contacte al administrador de soporte"
              );
              console.log("respuesta obtenida", res.status);
            } else {
              if (res.data[0].passwAnalist == this.data.passwAnalist) {
                //console.log("tiene esta empresa--> ", res.data[0].empresa.length);
                this.$store.commit("getEmprs", res.data[0].owner);
                this.$store.commit("getRegUserEmprs", res.data[0].owner);

                this.$store.commit("getAnalist", res.data[0]);
                console.log("Datos de empresa commiteados ", res.data[0].owner);
                console.log("Datos de analista commiteados ", res.data[0]);
                console.log("¡¡¡ACCESS GRANTED!!!");
                alert("¡¡¡ACCESS GRANTED!!!");
                this.$router.push({
                  name: "homeAnalista",
                  params: {},
                });
              } else {
                if (
                  this.data.emailAnalist &&
                  this.data.passwAnalist != res.data[0].passwAnalist
                ) {
                  alert("¡¡¡ACCESS DENIED!!!");
                  alert("ERROR EN PASSWORD!!!");
                }
              }
              //console.log("respuesta usuario es", res.data);
              //console.log("respuesta usuario es", res.data[0].passwAnalist);
            }

            //this.$store.commit("getreguser", res.data);
            //   this.$router.push({
            //     name: "DatosCv",
            //     params: { dataUser },
            //   });
            //   console.log("llego hasta aquilani");
          })
          .catch((error) => {
            // error.response.status Check status code
            console.log("mission pelaste bolas");
            console.log(error);
          })
          .finally(() => {
            //Perform action in always
          });
      } else {
        if (!this.data.emailAnalist || !this.data.passwAnalist)
          alert("No pueden existir campos vacios");
      }
    },
  },
  data() {
    return {
      data: {
        emailAnalist: "",
        passwAnalist: "",
      },
    };
  },
};
</script>