<template>
  <div>
    <div class="bg-gray-100">
      <u class="mx-2"><router-link to="/">Home</router-link></u>
      <u class="mx-2"><router-link to="Home2">Home2</router-link></u>
      <u class="mx-2"
        ><router-link :to="{ name: 'homec' }"> Inicio </router-link></u
      >
      <u class="mx-2"
        ><router-link :to="{ name: 'HeaderHome' }"> MainHome </router-link></u
      >
      <u class="mx-2">
        <router-link :to="{ name: 'Empresa' }"> Empresa</router-link>
      </u>
      <u class="mx-2">
        <router-link :to="{ name: 'Anunciooo' }"> Anuncio</router-link>
      </u>
      <u class="mx-2">
        <router-link :to="{ name: 'exp_labor' }"> Experiencia</router-link>
      </u>
      <u class="mx-2">
        <router-link :to="{ name: 'prf_labor' }"> Prf Laboral</router-link>
      </u>
      <u class="mx-2">
        <router-link :to="{ name: 'ref_labor' }"> Ref Laboral</router-link>
      </u>
      <u class="mx-2">
        <router-link :to="{ name: 'idiom' }"> Idioma</router-link>
      </u>
      <u class="mx-2">
        <router-link :to="{ name: 'contact' }"> Contacto</router-link>
      </u>
      <u class="mx-2">
        <router-link :to="{ name: 'dat_person' }">
          Datos personales</router-link
        >
      </u>
      <u class="mx-2">
        <router-link :to="{ name: 'cuadroanuncio' }"
          >Cuadro anuncio</router-link
        >
      </u>
      <u class="mx-2">
        <router-link :to="{ name: 'bench' }"> Index benchmark</router-link>
      </u>
      <u class="mx-2"
        ><router-link :to="{ name: 'empresareg' }"> Empresa Reg</router-link></u
      >
      <u class="mx-2"
        ><router-link :to="{ name: 'anunreg' }"> Anuncio Reg</router-link></u
      >
      <u class="mx-2"
        ><router-link :to="{ name: 'personreg' }"> Persona Reg</router-link></u
      >
      <u class="mx-2"
        ><router-link :to="{ name: 'personreg2' }">
          Persona Reg2</router-link
        ></u
      >
      <u class="mx-2"
        ><router-link :to="{ name: 'AnuncioCreado' }">
          anuncio Cread</router-link
        ></u
      >
      <u class="mx-2"
        ><router-link :to="{ name: 'AnunciosLanding' }">
          anuncio Landing</router-link
        ></u
      >
      <u class="mx-2"
        ><router-link :to="{ name: 'AnunciosbyEmprs' }">
          anuncio por Empresa</router-link
        ></u
      >
      <u class="mx-2"
        ><router-link :to="{ name: 'AnuncioPostulds' }">
          anuncio Postulados</router-link
        ></u
      >
      <u class="mx-2"
        ><router-link :to="{ name: 'DatosCv' }"> Cargar CV</router-link></u
      >
      <u class="mx-2"
        ><router-link :to="{ name: 'RegistrarPerson' }">
          Registro Persona</router-link
        ></u
      ><u class="mx-2"
        ><router-link :to="{ name: 'personPerfil' }">
          persona Perfil</router-link
        ></u
      >
      <u class="mx-2"
        ><router-link :to="{ name: 'personLandin' }">
          persona Landin</router-link
        ></u
      >
      <u class="mx-2"
        ><router-link :to="{ name: 'RegistrarEmprs' }">
          Registro Empresa</router-link
        ></u
      >
      <u class="mx-2"
        ><router-link :to="{ name: 'AnuncioDaTable' }">
          AnuncioDaTable</router-link
        ></u
      >
      <u class="mx-2"
        ><router-link :to="{ name: 'AnunciosBusqueda' }">
          AnunciosBusqueda</router-link
        ></u
      >
      <u class="mx-2"
        ><router-link :to="{ name: 'Login' }"> Login</router-link></u
      >
      <u class="mx-2"
        ><router-link :to="{ name: 'loginEmprs' }">
          LoginEmpresa</router-link
        ></u
      >
      <u class="mx-2"
        ><router-link :to="{ name: 'EmpleosHome' }">
          EmpleosHome</router-link
        ></u
      >
      <u class="mx-2"
        ><router-link :to="{ name: 'PersonaAnuncios' }">
          Anuncios de Persona</router-link
        ></u
      >
      <u class="mx-2"
        ><router-link :to="{ name: 'testComponent' }">
          testeoComponent</router-link
        ></u
      >
      <u class="mx-2"
        ><router-link :to="{ name: 'anuncioListPostulads' }">
          anuncio List Postulads</router-link
        ></u
      >
    </div>
  </div>
</template>
<script>
export default {};
</script>