<template>
  <div>
    <main
      class="
        bg-gray-100
        dark:bg-gray-800
        h-full
        max-h-full
        overflow-y-auto
        relative
        mb-10
        pb-16
      "
    >
      <div class="flex items-start justify-between">
        <div class="h-screen hidden lg:block shadow-lg relative w-80">
          <side-bar-menu></side-bar-menu>
        </div>
        <div class="flex flex-col w-full md:space-y-4">
          <div
            class="
              overflow-visible
              h-screen
              pb-24
              px-4
              md:px-6 md:mt-4 md:mb-8
              lg:mt-6
              border-dashed border-red-500
            "
          >
            <div
              class="
                flex
                items-center
                space-x-4
                font-light
                w-full
                text-center text-xl
                sm:text-md
                md:text-2xl
                dark:text-white
                text-gray-800
                border-b border-gray-200
              "
            >
              Mi perfil
            </div>

            <div
              class="
                grid grid-cols-1
                md:grid-cols-2
                lg:grid-cols-2
                gap-4
                my-4
                mx-auto
              "
            >
              <div class="w-full">
                <div
                  class="
                    shadow-lg
                    rounded-2xl
                    p-4
                    bg-white
                    dark:bg-gray-800
                    w-96
                    m-auto
                  "
                >
                  <div class="w-full h-full text-center">
                    <div class="flex h-full flex-col justify-between">
                      <svg
                        version="1.1"
                        id="Layer_1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        viewBox="0 0 111.1 122.9"
                        style="enable-background: new 0 0 111.1 122.9"
                        xml:space="preserve"
                        width="40"
                        height="40"
                        class="mt-3 w-12 h-12 m-auto"
                      >
                        <g>
                          <path
                            d="M45,28.7c-10.1,0-13.2,0.1-23.4,0.1c-1.2,0-2.3,0.1-3.3,0.3c-1.1,0.2-2.1,0.5-3,0.9c-1,0.4-1.9,0.9-2.8,1.5 c-0.9,0.6-1.7,1.3-2.5,2.1c-0.8,0.8-1.5,1.6-2.1,2.5c-0.6,0.9-1.1,1.8-1.5,2.8c-0.4,1-0.7,2-0.9,3c-0.2,1.1-0.3,2.2-0.3,3.3v33.3 c0,1.2,0.1,2.3,0.3,3.3c0.2,1.1,0.5,2.1,0.9,3c0.4,1,0.9,1.9,1.5,2.8c0.6,0.9,1.3,1.7,2.1,2.5l0,0c0.8,0.8,1.7,1.5,2.6,2.1 c0.9,0.6,1.8,1.1,2.8,1.5c1,0.4,2,0.7,3,0.9c1.1,0.2,2.2,0.3,3.3,0.3h12.6c0.4,0,0.8,0.1,1.1,0.3c0.3,0.2,0.6,0.4,0.9,0.7l0,0 c1,1.3,2,2.6,3.1,3.8c1.1,1.2,2.2,2.4,3.5,3.5c1.2,1.1,2.4,2.2,3.8,3.2c1.3,1,2.7,2,4,2.9c1.3,0.9,2.7,1.7,4.2,2.5 c1.4,0.8,2.9,1.5,4.4,2.2c0.2,0.1,0.4,0.1,0.5,0c0.3-0.2,0.4-0.5,0.2-0.8c-0.3-0.5-0.5-0.9-0.8-1.4c-0.2-0.5-0.5-0.9-0.7-1.4l0,0 c-0.4-1-0.8-1.9-1.2-2.9c-0.4-1-0.8-2-1.1-3.1c-0.3-1-0.7-2-1-3c-0.3-1-0.6-2-0.9-3.1c-0.1-0.3-0.1-0.6-0.1-0.9 c0-0.7,0.3-1.3,0.7-1.8l0,0c0.5-0.5,1.1-0.8,1.8-0.8h14.7c1.2,0,2.3-0.1,3.3-0.3c1-0.2,2-0.5,3-0.9l0,0c0.9-0.4,1.9-0.9,2.7-1.5 c0.9-0.6,1.8-1.3,2.6-2.2l0,0c0.8-0.8,1.5-1.6,2.1-2.5c0.6-0.9,1.1-1.8,1.5-2.8c0.4-1,0.7-2,0.9-3c0.2-1.1,0.3-2.2,0.3-3.3v-6.8 c0-3.4,4.4-3.4,5.2-1v7.8c0,1.5-0.1,2.9-0.4,4.3c-0.3,1.4-0.7,2.7-1.2,4.1c-0.5,1.3-1.2,2.5-2,3.7c-0.8,1.2-1.7,2.3-2.8,3.3 c-1,1.1-2.2,2-3.3,2.8c-1.2,0.8-2.4,1.4-3.6,2l0,0c-1.3,0.5-2.7,0.9-4,1.2c-1.4,0.3-2.8,0.4-4.3,0.4H61c-0.1,0-0.1,0-0.2,0 c-0.3,0.1-0.5,0.4-0.4,0.7l0,0c0.2,0.6,0.4,1.3,0.6,2l0,0c0.3,0.9,0.7,1.9,1.1,2.8c0.4,0.9,0.7,1.8,1.1,2.6c0,0,0,0.1,0,0.1 c0.4,0.9,0.8,1.7,1.3,2.6c0.5,0.8,1.1,1.7,1.7,2.5c0.6,0.8,1.3,1.6,2.1,2.5l0,0c0.8,0.8,1.6,1.7,2.6,2.4c0.5,0.5,0.8,1.1,0.9,1.8 c0,0.6-0.2,1.3-0.6,1.8c-0.3,0.4-0.7,0.6-1.2,0.7c-0.4,0.1-0.9,0.1-1.4,0c-1.9-0.5-3.8-1.1-5.6-1.7c-1.8-0.6-3.6-1.3-5.3-2.1 c-1.7-0.7-3.4-1.6-5-2.4c-1.6-0.9-3.2-1.8-4.7-2.8l0,0c-1.5-1-3-2-4.4-3.1c-1.4-1.1-2.8-2.3-4.1-3.5l0,0c-1.1-1-2.2-2.1-3.2-3.3 c-1-1.1-2.1-2.3-3-3.5c-0.1-0.2-0.3-0.3-0.5-0.3H21.6c-1.5,0-2.9-0.1-4.3-0.4c-1.4-0.3-2.7-0.7-4-1.2l0,0c-1.3-0.5-2.5-1.2-3.7-2 c-1.2-0.8-2.3-1.7-3.3-2.7c-1.1-1.1-2-2.2-2.8-3.3c-0.8-1.2-1.5-2.4-2-3.7c-0.5-1.3-0.9-2.6-1.2-4C0.1,81.4,0,80,0,78.5V45 c0-1.5,0.1-2.9,0.4-4.3c0.3-1.4,0.7-2.7,1.2-4c0.5-1.3,1.2-2.5,2-3.7c0.8-1.2,1.7-2.3,2.8-3.3c1.1-1.1,2.2-2,3.3-2.8 c1.2-0.8,2.4-1.4,3.6-2l0,0c1.3-0.5,2.7-0.9,4.1-1.2c1.4-0.3,2.8-0.4,4.3-0.4c10.5,0,14,0,24.5,0C48.7,24,48.8,28.7,45,28.7 L45,28.7L45,28.7z M58.1,33.9c-0.5,1-0.6,2.4-0.5,3.7c0.1,0.6,0.2,1.2,0.3,1.8c0.2,0.6,0.4,1.3,0.6,1.9c0.3,0.6,0.6,1.2,0.9,1.8 c0.3,0.5,0.7,1.1,1.1,1.5c1,1.1,2.1,2,3.4,2.3c2.3,0.7,6.3-1.3,8.4-2l0,0c0.4-0.1,0.9-0.1,1.2,0.1c0.4,0.2,0.7,0.5,0.9,0.9 c0,0.1,0,0.1,0.1,0.2c0.1,0.4,0.3,0.8,0.4,1.2c1,3,1.9,5.9,3,8.2c0.1,0.2,0.2,0.5,0.3,0.7l0,0.1c0.3,0.7,0.7,1.4,1.1,2.1 c0.4,0.7,0.7,1.2,1.1,1.6c0.2,0.2,0.5,0.4,0.8,0.4c0.3,0,0.7-0.2,1.3-0.7c0.2-0.3,0.5-0.5,0.8-0.8l0,0c0.2-0.2,0.5-0.5,0.9-0.9 c1.1-1,2.7-2.5,3.3-3.3l-0.3-0.1c-3.4-1.1-3.2-2.9-3-4.5l0,0c0.1-0.5,0.1-1,0-1.3l0,0c0-0.1-0.1,0-0.3-0.2 c-0.1-0.1-0.2-0.1-0.3-0.2c-0.5-0.4-0.8-0.8-1.1-1.3c-0.3-0.6-0.4-1.2-0.5-1.8c-0.1-0.6,0-1.3,0.1-1.9c0.1-0.8,0.3-1.5,0.5-2.1l0,0 c0.1-0.3,0.2-0.5,0.4-0.7c0.2-0.2,0.5-0.3,0.8-0.4l0,0c7-1.6,10.6-0.3,14,0.9c0.5,0.2,1.1,0.4,1.6,0.6c-1.5-1.5-2.8-3.2-4.1-5.1 c-2.1-3-3.9-6.3-5.4-9.7c-1.6-3.4-2.8-6.9-3.7-10.2c-0.6-2.3-1.1-4.6-1.3-6.6c-1.5,2.6-3.6,5.7-6.6,8.9 C75.5,21.6,59.2,31.4,58.1,33.9L58.1,33.9z M99.9,26.2c0.1,1.3-0.3,3.1-1,4.6c-0.5,1.1-1.1,2-1.7,2.5c1.3,2,2.8,3.9,4.3,5.5 c1.5,1.6,3,2.9,4.6,3.9l0.1,0c0,0,0.1,0,0.2,0l0,0c0.1,0,0.2,0,0.3-0.1c0.1,0,0.2-0.1,0.2-0.1c0.3-0.3,0.5-0.7,0.6-1.2 c0.2-0.6,0.3-1.2,0.3-1.9c0.1-2.2-0.3-4.9-1.1-7.9c-0.9-3.3-2.3-6.9-3.9-10.4c-1.6-3.4-3.5-6.8-5.4-9.6c-1.8-2.7-3.7-5-5.4-6.5 c-0.6-0.6-1.3-1-1.8-1.3c-0.5-0.3-0.9-0.4-1.3-0.4l-0.1,0c-0.1,0.1-0.2,0.2-0.3,0.4l0,0c-0.6,1.5-0.6,3.9-0.2,6.8 c0.4,2.9,1.3,6.2,2.5,9.6c0.3-0.1,0.5-0.1,0.9-0.1c1.1-0.1,2.5,0,3.9,0.5c1.4,0.5,2.8,1.4,3.6,2.9C99.5,24.1,99.8,25,99.9,26.2 L99.9,26.2z M106,46.1c-0.1,0-0.3,0-0.4,0c-0.1,0-0.3,0-0.4-0.1l-0.5-0.1c-1.2-0.1-2.5-0.4-3.8-0.6l-0.1,0 c-1.4-0.3-2.6-0.7-3.8-1.2c-2.8-1.1-5.8-2.3-11.5-1.1c-0.1,0.3-0.1,0.5-0.1,0.8c0,0.3-0.1,0.7,0,1c0,0.2,0.1,0.4,0.1,0.6 c0,0.1,0.1,0.2,0.1,0.2l0.1,0.1c0.8,0.6,1.2,0.9,1.5,1.7c0.3,0.7,0.2,1.4,0.2,2.1c-0.1,0.7-0.1,1.4,0.7,1.7l0,0c1,0.3,2,0.7,2.6,2 c0.1,0.1,0.1,0.3,0.2,0.4l0,0c0,0.1,0,0.3,0,0.4l0,0c-0.2,1.9-3,4.6-4.6,6.1c-0.3,0.3-0.6,0.6-0.8,0.8l-0.1,0.1 c-0.2,0.2-0.4,0.4-0.6,0.6L84.8,62c-1.3,1.3-2.6,1.8-3.7,1.8c-1.2,0-2.2-0.6-3.1-1.5c-0.6-0.6-1.1-1.4-1.6-2.2 c-0.4-0.8-0.8-1.6-1.2-2.5c-0.1-0.2-0.2-0.5-0.3-0.7c-1.1-2.4-2.1-5.2-3-8.2c-2.9,1.2-5.6,2.5-8.9,1.5c-1.9-0.6-3.5-1.8-4.9-3.3 l0,0c-0.5-0.6-1-1.3-1.4-2c-0.4-0.7-0.8-1.4-1.1-2.2c-0.3-0.8-0.6-1.5-0.8-2.3c-0.2-0.8-0.4-1.6-0.4-2.4c-0.2-2,0-3.9,0.7-5.5 c2.1-4.6,15.9-10.6,21.3-16.6c3.6-4.1,5.7-7.9,7.2-10.7l0-0.1c0.9-1.6,1.6-2.9,2.3-3.8c0.2-0.2,0.4-0.4,0.6-0.6 c0.2-0.2,0.4-0.3,0.7-0.5C87.5,0.2,87.7,0.1,88,0c0.3,0,0.6,0,0.9,0c0.8,0.1,1.6,0.3,2.5,0.7c0.9,0.4,1.7,1,2.6,1.8 c1.9,1.7,4,4.1,6,7c2.1,3,4,6.5,5.7,10.1c1.7,3.7,3.2,7.5,4.2,11.1c0.9,3.3,1.3,6.3,1.2,8.8l0,0c-0.1,1.1-0.3,2-0.6,2.9 c-0.3,0.9-0.7,1.6-1.3,2.3l-0.1,0.1L109,45c-0.4,0.3-0.8,0.5-1.2,0.7l0,0c-0.4,0.2-0.8,0.3-1.1,0.3l0,0c-0.1,0-0.3,0-0.4,0 L106,46.1L106,46.1z M65.7,80.1c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4l-25.7-0.4l-4.9-0.3c-1.3-0.1-2.5,0.9-2.6,2.3 c-0.1,1.3,0.9,2.5,2.3,2.6l4.9,0.3C39.8,79.7,63.5,80,65.7,80.1L65.7,80.1L65.7,80.1z M58,64.9c1.3,0,2.4-1.1,2.4-2.4 c0-1.3-1.1-2.4-2.4-2.4H23.3c-1.3,0-2.4,1.1-2.4,2.4c0,1.3,1.1,2.4,2.4,2.4H58L58,64.9L58,64.9z M47.2,50.4c1.3,0,2.4-1.1,2.4-2.4 s-1.1-2.4-2.4-2.4H23.3c-1.3,0-2.4,1.1-2.4,2.4c0,1.3,1.1,2.4,2.4,2.4H47.2L47.2,50.4L47.2,50.4z"
                          />
                        </g>
                      </svg>
                      <p
                        class="
                          text-gray-800
                          dark:text-gray-200
                          text-xl
                          font-bold
                          mt-4
                        "
                      >
                        Mis anuncios
                      </p>
                      <p
                        class="
                          text-gray-600
                          dark:text-gray-400
                          text-xs
                          py-2
                          px-6
                        "
                      >
                        Aquí puedes consultar los anuncios a los que te haz
                        postulado recientemente
                      </p>
                      <div
                        class="
                          flex
                          items-center
                          justify-between
                          gap-4
                          w-full
                          mt-2
                        "
                      >
                        <button
                          type="button"
                          class="
                            hidden
                            py-1.5
                            px-3
                            focus:ring-gray-500 focus:ring-offset-indigo-200
                            text-gray-700
                            w-full
                            transition
                            ease-in
                            duration-200
                            text-center text-base
                            font-semibold
                            shadow-md
                            focus:outline-none focus:ring-2 focus:ring-offset-2
                            rounded-lg
                            hover:bg-gray-600 hover:text-white
                            border-2 border-gray-700
                          "
                        >
                          Nuevo
                        </button>
                        <button
                          @click="anuncioConsult"
                          type="button"
                          class="
                            py-2
                            px-4
                            bg-green-400
                            hover:bg-green-600
                            focus:ring-green-800 focus:ring-offset-indigo-200
                            text-white
                            w-full
                            transition
                            ease-in
                            duration-200
                            text-center text-base
                            font-semibold
                            shadow-md
                            focus:outline-none focus:ring-2 focus:ring-offset-2
                            rounded-lg
                          "
                        >
                          Consultar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-full">
                <div
                  class="
                    shadow-lg
                    rounded-2xl
                    p-4
                    bg-white
                    dark:bg-gray-800
                    w-96
                    m-auto
                  "
                >
                  <div class="w-full h-full text-center">
                    <div class="flex h-full flex-col justify-between">
                      <svg
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        viewBox="0 0 50 50"
                        style="enable-background: new 0 0 50 50"
                        xml:space="preserve"
                        class="mt-3 w-12 h-12 m-auto"
                      >
                        <g id="Layer_1">
                          <path
                            d="M18.899,25.091C19.578,24.237,20,23.172,20,22c0-2.757-2.243-5-5-5s-5,2.243-5,5c0,1.172,0.422,2.237,1.101,3.091
		C8.773,25.517,7,27.551,7,30v7h16v-7C23,27.551,21.227,25.517,18.899,25.091z M15,19c1.654,0,3,1.346,3,3s-1.346,3-3,3
		s-3-1.346-3-3S13.346,19,15,19z M21,35H9v-5c0-1.654,1.346-3,3-3h6c1.654,0,3,1.346,3,3V35z"
                          />
                          <rect x="26" y="20" width="7" height="2" />
                          <rect x="36" y="20" width="7" height="2" />
                          <rect x="26" y="25" width="3" height="2" />
                          <rect x="32" y="25" width="11" height="2" />
                          <rect x="26" y="30" width="8" height="2" />
                          <rect x="39" y="30" width="4" height="2" />
                          <rect x="26" y="35" width="2" height="2" />
                          <rect x="30" y="35" width="2" height="2" />
                          <rect x="34" y="35" width="2" height="2" />
                          <rect x="41" y="35" width="2" height="2" />
                          <path
                            d="M29,4h-8v6H1v36h48V10H29V4z M23,6h4v4v4h-4v-4V6z M47,12v32H3V12h18v4h8v-4H47z"
                          />
                        </g>
                        <g></g>
                      </svg>
                      <p
                        class="
                          text-gray-800
                          dark:text-gray-200
                          text-xl
                          font-bold
                          mt-4
                        "
                      >
                        Mis datos
                      </p>
                      <p
                        class="
                          text-gray-600
                          dark:text-gray-400
                          text-xs
                          py-2
                          px-6
                        "
                      >
                        Puedes verificar la información personal que haz
                        registrado, también podrás editarla si lo requieres.
                      </p>
                      <div
                        class="
                          flex
                          items-center
                          justify-between
                          gap-4
                          w-full
                          mt-2
                        "
                      >
                        <button
                          @click="misDatos"
                          type="button"
                          class="
                            py-1.5
                            px-3
                            focus:ring-gray-500 focus:ring-offset-indigo-200
                            text-gray-700
                            w-full
                            transition
                            ease-in
                            duration-200
                            text-center text-base
                            font-semibold
                            shadow-md
                            focus:outline-none focus:ring-2 focus:ring-offset-2
                            rounded-lg
                            hover:bg-gray-600 hover:text-white
                            border-2 border-gray-700
                          "
                        >
                          Añadir
                        </button>
                        <button
                          @click="misDatos2"
                          type="button"
                          class="
                            py-2
                            px-4
                            bg-green-400
                            hover:bg-green-500
                            focus:ring-green-500 focus:ring-offset-indigo-200
                            text-white
                            w-full
                            transition
                            ease-in
                            duration-200
                            text-center text-base
                            font-semibold
                            shadow-md
                            focus:outline-none focus:ring-2 focus:ring-offset-2
                            rounded-lg
                          "
                        >
                          Consultar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import SideBarMenu from "@/components/sideBarMenu.vue";
//import AnuncioPersonListPerfil from "@/components/AnuncioPersonListPerfil.vue";
import axios from "axios";

export default {
  name: "personLandin",
  components: {
    SideBarMenu,
    // AnuncioPersonListPerfil,
  },
  data() {
    return {
      assets: [],
      isLoading: false,
    };
  },
  mounted() {
    // this.isLoading = true;
    if (this.$store.state.regUser.id) {
      axios
        .get(
          `http://localhost:1337/registroPrimarioUser/${this.$store.state.regUser.id}/anuncios `
          //http://localhost:1337/registroPrimarioUser/${this.$store.state.userData.id}/anuncios
        )
        .then((res) => {
          //Perform Success Action
          //alert("Usuario no encontrado, debe registrarse");
          console.log("respuesta obtenida", res.data);
          this.isLoading = false;
          this.assets = res.data;
          console.log("assets", this.assets);
        })
        .catch((error) => {
          // error.response.status Check status code
          console.log("mission pelaste bolas");
          console.log(error);
        })
        .finally(() => {
          //Perform action in always
        });
    } else {
      if (this.$store.state.userData.id) {
        axios
          .get(
            `http://localhost:1337/registroPrimarioUser/${this.$store.state.userData.owner.id}/anuncios`
          ) //http://localhost:1337/empresa/${this.$store.state.regUserEmprs.empresa[0].id}/anuncios}
          .then((res) => {
            //Perform Success Action
            //alert("Usuario no encontrado, debe registrarse");
            console.log("respuesta obtenida", res.data);
            this.isLoading = false;
            this.assets = res.data;
            console.log("assets", this.assets);
          })
          .catch((error) => {
            // error.response.status Check status code
            console.log("mission pelaste bolas");
            console.log(error);
          })
          .finally(() => {
            //Perform action in always
          });
      } else {
        alert("Debe iniciar sesión o registrarse para ver esta información");
        this.$router.push({
          name: "Login",
        });
      }
    }
  },
  methods: {
    volver() {
      this.$router.push({
        name: "homec",
      });
    },
    anuncioConsult() {
      this.$router.push({
        name: "personPerfil",
      });
    },
    misDatos() {
      this.$router.push({
        name: "DatosCv",
      });
    },
    misDatos2() {
      this.$router.push({
        name: "personDatos",
      });
    },
  },
};
</script>

<style>
</style>