<template>
  <div class="flex rounded-lg justify-center">
    <div class="bg-white max-w-xl shadow overflow-auto sm:rounded-lg">
      <div class="px-2 py-2 sm:px-6 text-left">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          <span class="text-xs text-gray-500"> Nombre(s) y Apellido (s): </span>
          <span>{{
            $store.state.userData.owner.nombreUser +
            " " +
            $store.state.userData.owner.apellidoUser
          }}</span>
        </h3>
        <p class="mt-0.5 max-w-2xl text-xs text-gray-500">
          Género:
          <span class="text-xs text-gray-900">
            {{ $store.state.userData.genero }}</span
          >
        </p>
        <p class="mt-0.5 max-w-2xl text-xs text-gray-500">
          Documento:
          <span class="uppercase text-xs text-gray-900">
            {{ $store.state.userData.tipoDocument }}
            {{ $store.state.userData.nroDocument }}</span
          >
        </p>
      </div>
      <div class="border-t border-gray-200">
        <dl>
          <div
            class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt class="text-xs font-medium text-gray-500">Teléfono 1</dt>
            <dd class="mt-1 text-xs text-gray-900 sm:mt-0 sm:col-span-2">
              {{ $store.state.userData.owner.telf1 }}
            </dd>
          </div>
          <div
            class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt class="hidden text-xs font-medium text-gray-500">Teléfono 2</dt>
            <dd class="mt-1 text-xs text-gray-900 sm:mt-0 sm:col-span-2">
              {{ $store.state.userData.telf2 }}
            </dd>
          </div>
          <div
            class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt class="text-xs font-medium text-gray-500">Nacionalidad</dt>
            <dd class="mt-1 text-xs text-gray-900 sm:mt-0 sm:col-span-2">
              {{ $store.state.userData.nacionalidad }}
            </dd>
          </div>
          <div
            class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt class="text-xs font-medium text-gray-500">Correo</dt>
            <dd class="mt-1 text-xs text-gray-900 sm:mt-0 sm:col-span-2">
              {{ $store.state.userData.owner.emailUser }}
            </dd>
          </div>
          <div
            class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt class="text-xs font-medium text-gray-500">
              Fecha de nacimiento
            </dt>
            <dd class="mt-1 text-xs text-gray-900 sm:mt-0 sm:col-span-2">
              {{ $store.state.userData.fech_nacimnt }}
            </dd>
          </div>
          <div
            class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt class="text-xs font-medium text-gray-500">Licencia</dt>
            <dd class="mt-1 text-xs text-gray-900 sm:mt-0 sm:col-span-2">
              {{ $store.state.userData.licencia }}
            </dd>
          </div>
          <div
            class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt class="text-xs font-medium text-gray-500">Edo. civil</dt>
            <dd class="mt-1 text-xs text-gray-900 sm:mt-0 sm:col-span-2">
              {{ $store.state.userData.estadCivil }}
            </dd>
          </div>
          <div
            class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
            v-if="$store.state.userData.localidad"
          >
            <dt class="text-xs font-medium text-gray-500">Localidad</dt>
            <dd class="mt-1 text-xs text-gray-900 sm:mt-0 sm:col-span-2">
              <strong>País</strong>: {{ $store.state.userData.localidad[0].idPais }} <br>
              <strong>Ciudad</strong>: {{$store.state.userData.localidad[0].idCiudad}} <br>
              <strong>Estado</strong>: {{ $store.state.userData.localidad[0].idEstado}} <br>
              <strong>Municipio</strong>: {{$store.state.userData.localidad[0].idMunicp}} <br>
              <strong>Parroquia</strong>: {{$store.state.userData.localidad[0].idParroq}} <br>
              <!-- "idPais": "Venezuela", "idEstado": "Distrito Capital", "idCiudad": "Caracas", "idMunicp": "Libertador", "idParroq" -->
            </dd>
          </div>
          <div
            class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt class="text-xs font-medium text-gray-500">Dirección</dt>
            <dd class="mt-1 text-xs text-gray-900 sm:mt-0 sm:col-span-2">
              {{ $store.state.userData.direccion }}
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="bg-white max-w-xl shadow overflow-auto sm:rounded-lg">
      <div class="px-2 py-2 sm:px-6 text-left text-white">
        <h3 class="text-lg leading-6 font-medium">
          <span class="text-xs"> Nombre(s) y Apellido (s): </span>
          <span>{{
            $store.state.userData.owner.nombreUser +
            " " +
            $store.state.userData.owner.apellidoUser
          }}</span>
        </h3>
        <p class="mt-0.5 max-w-2xl text-xs">
          Género:
          <span class="text-xs"> {{ $store.state.userData.genero }}</span>
        </p>
        <p class="mt-0.5 max-w-2xl text-xs">
          Documento:
          <span class="uppercase text-xs">
            {{ $store.state.userData.tipoDocument }}
            {{ $store.state.userData.nroDocument }}</span
          >
        </p>
      </div>

      <div class="border-t border-gray-200">
        <dl>
          <div
            class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt class="text-xs font-medium text-gray-500">Educación</dt>
            <dd class="mt-1 text-xs text-gray-900 sm:mt-0 sm:col-span-2">
              <strong>Título</strong>:{{ $store.state.userData.educacnUsers[0].tituloGrado }} <br>
              <strong>Nivel estudio</strong>:{{ $store.state.userData.educacnUsers[0].nvlEstudio }} <br>
              <strong>Estado</strong>:{{ $store.state.userData.educacnUsers[0].estado }} <br>
              <strong>Pais</strong>:{{ $store.state.userData.educacnUsers[0].pais }} <br>
              <strong>Área</strong>:{{ $store.state.userData.educacnUsers[0].areaEstud }}
            </dd>
          </div>
          <div
            class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt class="text-xs font-medium text-gray-500">Exp. Laboral</dt>
            <dd class="mt-1 text-xs text-gray-900 sm:mt-0 sm:col-span-2">
              <strong>Empresa</strong>:{{ $store.state.userData.experncLabors[0].nombEmprs }} <br>
              <strong>Rubro</strong>:{{ $store.state.userData.experncLabors[0].idActvdEmprs }} <br>
              <strong>Cargo</strong>:{{ $store.state.userData.experncLabors[0].cargo }} <br>
              <strong>País</strong>:{{ $store.state.userData.experncLabors[0].idPais }} <br>
              <strong>Área</strong>:{{ $store.state.userData.experncLabors[0].areaCargo }} <br>
              <strong>Experiencia</strong>:{{ $store.state.userData.experncLabors[0].nivlExpernc }} <br>
              <!-- nombEmprs": "La Galia", "idActvdEmprs": "La Galia", "cargo": "Programador", "idPais": "Venezuela", "fechDesd": "2021-12-29", "fechHast": "2022-01-30", "alPresnt": "", "areaCargo": "Gerencia", "nivlExpernc": -->
            </dd>
          </div>
          <div
            class="
              hidden
              bg-gray-50
              px-4
              py-2
              sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6
            "
          >
            <dt class="text-xs font-medium text-gray-500">Ref. personales</dt>
            <dd class="mt-1 text-xs text-gray-900 sm:mt-0 sm:col-span-2">
              {{ $store.state.userData.nacionalidad }}
            </dd>
          </div>
          <div
            class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt class="text-xs font-medium text-gray-500">
              Preferencias laborales
            </dt>
            <dd class="mt-1 text-xs text-gray-900 sm:mt-0 sm:col-span-2">
              <strong>Exptv. salarial:</strong>
              {{ $store.state.userData.preferncLabor[0].expectSalar }} <br>
              <strong>Estado: </strong
              >{{ $store.state.userData.preferncLabor[0].estatsActual }} <br>
              <strong>Viajar:</strong>
              {{ $store.state.userData.preferncLabor[0].viajar }} <br>
              <strong>Cmb. Resd:</strong>
              {{ $store.state.userData.preferncLabor[0].cambResidenc }} <br>

              <!-- "expectSalar": "500", "viajar": "si", "estatsActual": "contratado", "cambResidenc": "si", -->
            </dd>
          </div>
          <div
            class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt class="text-xs2 font-medium text-gray-500">
              Datos verificados el
            </dt>
            <dd class="mt-1 text-xs2 text-gray-900 sm:mt-0 sm:col-span-2">
              {{ $store.state.userData.updatedAt | formatedTime }}
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="hidden bg-white max-w-xl shadow overflow-hidden sm:rounded-lg">
      <div class="px-2 py-6 mt-1 sm:px-6 text-left">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Información adicional
        </h3>
        <p class="mt-1 hidden max-w-2xl text-sm text-gray-500">Detalles</p>
      </div>
      <div class="border-t border-gray-200">
        <dl>
          <div
            class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt class="text-xs font-medium text-gray-500">Educación</dt>
            <dd class="mt-1 text-xs text-gray-900 sm:mt-0 sm:col-span-2">
              {{ $store.state.userData.educacnUsers }}
            </dd>
          </div>
          <div
            class="bg-white px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt class="text-xs font-medium text-gray-500">Exp. Laboral</dt>
            <dd class="mt-1 text-xs text-gray-900 sm:mt-0 sm:col-span-2">
              {{ $store.state.userData.experncLabors }}
            </dd>
          </div>
          <div
            class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt class="text-xs font-medium text-gray-500">
              Referencias personales
            </dt>
            <dd class="mt-1 text-xs text-gray-900 sm:mt-0 sm:col-span-2">
              {{ $store.state.userData.referncUsers }}
            </dd>
          </div>
          <div
            class="bg-white px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt class="text-xs font-medium text-gray-500">
              Preferencias laborales
            </dt>
            <dd class="mt-1 text-xs text-gray-900 sm:mt-0 sm:col-span-2">
              {{ $store.state.userData.preferncLabor }}
            </dd>
          </div>
          <div
            class="bg-gray-50 px-4 py-1 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt class="text-xs2 font-medium text-gray-500">
              Datos verificados el
            </dt>
            <dd class="mt-1 text-xs2 text-gray-900 sm:mt-0 sm:col-span-2">
              {{ $store.state.userData.updatedAt | formatedTime }}
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</template>

<script>
import jsPDF from "jspdf";
import "jspdf-autotable";

export default {
  data() {
    return {
      uri: "data:application/vnd.ms-excel;base64,",
      template:
        '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>',
      base64: function (s) {
        return window.btoa(unescape(encodeURIComponent(s)));
      },
      format: function (s, c) {
        return s.replace(/{(\w+)}/g, function (m, p) {
          return c[p];
        });
      },
    };
  },
  methods: {
    tableToExcel(table, name) {
      if (!table.nodeType) table = this.$refs.table;
      var ctx = { worksheet: name || "Prueba1", table: table.innerHTML };
      window.location.href =
        this.uri + this.base64(this.format(this.template, ctx));
    },
    exportPDF() {
      var vm = this;
      var columns = [
        {
          title: "nombre",
          dataKey: this.$store.state.userData.owner.nombreUser,
        },
        { title: "apellido", dataKey: "apellidoUser" },
      ];
      var doc = new jsPDF("p", "pt");
      doc.text("To Do List", 40, 40);
      doc.autoTable(columns, vm.postulads, {
        margin: { top: 60 },
      });
      doc.save("todos.pdf");
    },
  },
  filters: {
    formatedTime: function (value) {
      var date = new Date(value);

      return (
        date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear()
        // " " +
        //date.getHours() +
        //":" +
        // date.getMinutes() +
        //":" +
        //date.getSeconds()
      );
      //console.log(formatedTime);
    },
  },
};
</script>

<style scoped>
.text-xs2 {
  font-size: 0.62rem;
}
</style>
