<template>
  <div>
    <main
      class="
        bg-gray-100
        dark:bg-gray-800
        h-full
        max-h-full
        overflow-y-auto
        relative
        mb-10
        pb-16
      "
    >
      <div class="flex items-start justify-between">
        <div class="h-screen hidden lg:block shadow-lg relative w-80">
          <side-bar-menu></side-bar-menu>
        </div>
        <div class="flex flex-col w-full md:space-y-4">
          <div
            class="
              overflow-visible
              h-screen
              pb-24
              px-4
              md:px-6 md:mt-4 md:mb-8
              lg:mt-6
              border-dashed border-red-500
            "
          >
            <div
              class="
                flex
                items-center
                space-x-4
                font-light
                w-full
                text-center text-xl
                sm:text-md
                md:text-2xl
                dark:text-white
                text-gray-800
                border-b border-gray-200
              "
            >
              Anuncios a los que te has postulado
            </div>
            <div
              class="
                flex
                items-center
                mt-0.5
                font-light
                w-1/6
                text-center text-xs
                sm:text-xs
                md:text-xs
                dark:text-white
                text-blue-500
              "
            >
              <span @click="volver" class="cursor-pointer">￩ Volver</span>
            </div>
            <div
              class="
                grid
                sm:grid-cols-1
                md:grid-cols-1
                lg:grid-cols-1
                gap-4
                mt-2
                mb-4
              "
            >
              <div
                class="w-full"
                v-show="!isLoading"
                v-for="anuncio in assets"
                :key="anuncio.id"
              >
                <p
                  class="
                    hidden
                    text-sm
                    w-max
                    text-gray-700
                    dark:text-white
                    font-semibold
                    border-b border-gray-200
                  "
                >
                  Project Reffered
                </p>
                <AnuncioPersonListPerfil :assets="anuncio" :key="anuncio.id" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import SideBarMenu from "@/components/sideBarMenu.vue";
import AnuncioPersonListPerfil from "@/components/AnuncioPersonListPerfil.vue";
import axios from "axios";

export default {
  name: "personPerfil",
  components: {
    SideBarMenu,
    AnuncioPersonListPerfil,
  },
  data() {
    return {
      assets: [],
      isLoading: false,
    };
  },
  mounted() {
    // this.isLoading = true;
    if (this.$store.state.regUser.id) {
      axios
        .get(
          `http://localhost:1337/registroPrimarioUser/${this.$store.state.regUser.id}/anuncios `
          //http://localhost:1337/registroPrimarioUser/${this.$store.state.userData.id}/anuncios
        )
        .then((res) => {
          //Perform Success Action
          //alert("Usuario no encontrado, debe registrarse");
          console.log("respuesta obtenida", res.data);
          this.isLoading = false;
          this.assets = res.data;
          console.log("assets", this.assets);
        })
        .catch((error) => {
          // error.response.status Check status code
          console.log("mission pelaste bolas");
          console.log(error);
        })
        .finally(() => {
          //Perform action in always
        });
    } else {
      if (this.$store.state.userData.id) {
        axios
          .get(
            `http://localhost:1337/registroPrimarioUser/${this.$store.state.userData.owner.id}/anuncios`
          ) //http://localhost:1337/empresa/${this.$store.state.regUserEmprs.empresa[0].id}/anuncios}
          .then((res) => {
            //Perform Success Action
            //alert("Usuario no encontrado, debe registrarse");
            console.log("respuesta obtenida", res.data);
            this.isLoading = false;
            this.assets = res.data;
            console.log("assets", this.assets);
          })
          .catch((error) => {
            // error.response.status Check status code
            console.log("mission pelaste bolas");
            console.log(error);
          })
          .finally(() => {
            //Perform action in always
          });
      } else {
        alert("Debe iniciar sesión o registrarse para ver esta información");
        this.$router.push({
          name: "loginEmprs",
        });
      }
    }
  },
  methods: {
    volver() {
      this.$router.push({
        name: "personLandin",
      });
    },
  },
};
</script>

<style>
</style>