<template>
  <div class="w-full">
    <div class="shadow-md w-full relative rounded-lg">
      <PostuladosLandEmp></PostuladosLandEmp>
    </div>
  </div>
</template>
<script>

import PostuladosLandEmp from "./PostuladosLandEmp.vue";

export default {
  name: "App",

  components: {
    PostuladosLandEmp,
  },
  data() {
    return {};
  },
};
</script>
