<template>
  <div>
    <div
      class="flex-col bg-gray-100 rounded-lg dark:bg-gray-800"
      style="padding: 100px !important"
    >
      <div
        class="
          self-center
          mb-5
          text-xl
          font-bold
          text-gray-800
          sm:text-2xl
          dark:text-white
          w-full
          text-center
        "
      >
        Preferencias laborales
      </div>

      <div class="flex flex-col">
        <form @submit.stop.prevent="onSubmit">
          <div class="flex gap-2 mb-2">
            <div class="relative">
              <label
                for="price"
                class="block text-xs font-medium text-gray-700 text-left ml-1"
              >
                <strong> Preferencia Salarial</strong>
              </label>
              <input
                type="number"
                id="create-account-first-name"
                class="
                  rounded-lg
                  border-transparent
                  flex-1
                  appearance-none
                  border border-gray-300
                  w-72
                  py-2
                  px-4
                  bg-white
                  text-gray-700
                  placeholder-gray-400
                  shadow-sm
                  text-base
                  focus:outline-none focus:ring-2 focus:border-transparent
                "
                name="act_empres"
                placeholder="Preferencia salarial"
                v-model.lazy.trim="data.expectSalar"
              />
            </div>

            <div class="relative">
              <label
                for="price"
                class="block text-xs font-medium text-gray-700 text-left ml-1"
              >
                <strong> Estatus actual</strong>
              </label>
              <select
                class="
                  block
                  appearance-none
                  w-40
                  bg-gray-200
                  border border-gray-200
                  text-gray-700
                  py-2.5
                  px-4
                  pr-8
                  rounded-lg
                  leading-tight
                  focus:outline-none focus:bg-white focus:ring-2
                "
                id="grid-state"
                v-model.lazy.trim="data.estatsActual"
              >
                <option disabled value="">Seleccione</option>
                <option value="contratado">Contratado</option>
                <option value="desempleado">Desempleado</option>
                <option value="pensionado">Pensionado</option>
              </select>
              <div
                class="
                  pointer-events-none
                  absolute
                  inset-y-0
                  right-0
                  flex
                  items-center
                  px-2
                  mt-4
                  text-gray-700
                "
              >
                <svg
                  class="fill-current h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>
          </div>

          <div class="flex gap-2 mb-2">
            <div class="relative">
              <label
                for="price"
                class="block text-xs font-medium text-gray-700 text-left ml-1"
              >
                <strong> Disponibilidad para cambiar de residencia</strong>
              </label>
              <select
                class="
                  block
                  appearance-none
                  w-full
                  bg-gray-200
                  border border-gray-200
                  text-gray-700
                  py-2.5
                  px-4
                  pr-8
                  rounded-lg
                  leading-tight
                  focus:outline-none focus:bg-white focus:ring-2
                "
                id="grid-state"
                v-model.lazy.trim="data.cambResidenc"

              >
                <option disabled value="">Seleccione</option>
                <option value="si">Si</option>
                <option value="no">No</option>
              </select>
              <div
                class="
                  pointer-events-none
                  absolute
                  inset-y-0
                  right-0
                  flex
                  items-center
                  px-2
                  mt-2
                  text-gray-700
                "
              >
                <svg
                  class="fill-current h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>

            <div class="relative">
              <label
                for="price"
                class="block text-xs font-medium text-gray-700 text-left ml-1"
              >
                <strong>Disponibilidad para viajar </strong>
              </label>
              <select
                class="
                  block
                  appearance-none
                  w-40
                  bg-gray-200
                  border border-gray-200
                  text-gray-700
                  py-2.5
                  px-4
                  pr-8
                  rounded-lg
                  leading-tight
                  focus:outline-none focus:bg-white focus:ring-2
                "
                id="grid-state"
                v-model.lazy.trim="data.viajar"
              >
                <option disabled value="">Seleccione</option>
                <option value="si">Si</option>
                <option value="no">No</option>
              </select>
              <div
                class="
                  pointer-events-none
                  absolute
                  inset-y-0
                  right-0
                  flex
                  items-center
                  px-2
                  mt-2
                  text-gray-700
                "
              >
                <svg
                  class="fill-current h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>
            </div>
          </div>

          <!-- 
          <div
            class="
              my-5
              self-center
              mb-2
              font-semibold
              text-gray-800
              sm:text-md
              dark:text-white
              w-full
            "
          >
            Disponibilidad laboral
          </div>

          <hr class="mt-2 mb-2" />

          <div class="flex flex-wrap -mx-3 mb-2">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <div class="relative">
                <label class="flex items-center space-x-3 mb-3">
                  <input
                    type="checkbox"
                    name="checked-demo"
                    class="
                      form-tick
                      appearance-none
                      bg-white bg-check
                      h-6
                      w-6
                      border border-gray-300
                      rounded-md
                      checked:bg-blue-500 checked:border-transparent
                      focus:outline-none
                    "
                  />
                  <span class="text-gray-700 dark:text-white font-normal">
                    Tiempo completo
                  </span>
                </label>
              </div>
            </div>

            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <div class="relative">
                <label class="flex items-center space-x-3 mb-3">
                  <input
                    type="checkbox"
                    name="checked-demo"
                    class="
                      form-tick
                      appearance-none
                      bg-white bg-check
                      h-6
                      w-6
                      border border-gray-300
                      rounded-md
                      checked:bg-blue-500 checked:border-transparent
                      focus:outline-none
                    "
                  />
                  <span class="text-gray-700 dark:text-white font-normal">
                    Medio tiempo
                  </span>
                </label>
              </div>
            </div>
          </div>

          <div class="flex flex-wrap -mx-3 mb-2">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <div class="relative">
                <label class="flex items-center space-x-3 mb-3">
                  <input
                    type="checkbox"
                    name="checked-demo"
                    class="
                      form-tick
                      appearance-none
                      bg-white bg-check
                      h-6
                      w-6
                      border border-gray-300
                      rounded-md
                      checked:bg-blue-500 checked:border-transparent
                      focus:outline-none
                    "
                  />
                  <span class="text-gray-700 dark:text-white font-normal">
                    Por contrato
                  </span>
                </label>
              </div>
            </div>

            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <div class="relative">
                <label class="flex items-center space-x-3 mb-3">
                  <input
                    type="checkbox"
                    name="checked-demo"
                    class="
                      form-tick
                      appearance-none
                      bg-white bg-check
                      h-6
                      w-6
                      border border-gray-300
                      rounded-md
                      checked:bg-blue-500 checked:border-transparent
                      focus:outline-none
                    "
                  />
                  <span class="text-gray-700 dark:text-white font-normal">
                    Por horas
                  </span>
                </label>
              </div>
            </div>
          </div>

          <div class="flex flex-wrap -mx-3 mb-2">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <div class="relative">
                <label class="flex items-center space-x-3 mb-3">
                  <input
                    type="checkbox"
                    name="checked-demo"
                    class="
                      form-tick
                      appearance-none
                      bg-white bg-check
                      h-6
                      w-6
                      border border-gray-300
                      rounded-md
                      checked:bg-blue-500 checked:border-transparent
                      focus:outline-none
                    "
                  />
                  <span class="text-gray-700 dark:text-white font-normal">
                    Nocturno
                  </span>
                </label>
              </div>
            </div>

            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <div class="relative">
                <label class="flex items-center space-x-3 mb-3">
                  <input
                    type="checkbox"
                    name="checked-demo"
                    class="
                      form-tick
                      appearance-none
                      bg-white bg-check
                      h-6
                      w-6
                      border border-gray-300
                      rounded-md
                      checked:bg-blue-500 checked:border-transparent
                      focus:outline-none
                    "
                  />
                  <span class="text-gray-900 dark:text-white font-semibold">
                    Todos los anteriores
                  </span>
                </label>
              </div>
            </div>
          </div>

          <hr class="mt-2 mb-2" />

          <div>
            <form
              class="
                flex flex-col
                md:flex-row
                w-3/4
                md:w-full
                max-w-sm
                md:space-x-3
                space-y-3
                md:space-y-0
                justify-center
                my-5
              "
            >
              <div class="relative">
                <span>Adjuntar Curriculum</span>
              </div>

              <button
                type="button"
                class="
                  py-2
                  px-4
                  flex
                  justify-center
                  items-center
                  bg-green-500
                  hover:bg-green-700
                  focus:ring-green-500 focus:ring-offset-green-200
                  text-white
                  w-1/2
                  transition
                  ease-in
                  duration-200
                  text-center text-base
                  font-semibold
                  shadow-md
                  focus:outline-none focus:ring-2 focus:ring-offset-2
                  rounded-full
                "
              >
                <svg
                  width="20"
                  height="20"
                  class="mr-2"
                  fill="currentColor"
                  viewBox="0 0 1792 1792"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1344 1472q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm256 0q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm128-224v320q0 40-28 68t-68 28h-1472q-40 0-68-28t-28-68v-320q0-40 28-68t68-28h427q21 56 70.5 92t110.5 36h256q61 0 110.5-36t70.5-92h427q40 0 68 28t28 68zm-325-648q-17 40-59 40h-256v448q0 26-19 45t-45 19h-256q-26 0-45-19t-19-45v-448h-256q-42 0-59-40-17-39 14-69l448-448q18-19 45-19t45 19l448 448q31 30 14 69z"
                  ></path>
                </svg>
                Cargar archivo
              </button>
            </form>
          </div> -->

          <div class="flex flex-wrap justify-end">
            <div class="flex flex-wrap justify-end">
              <div class="flex flex-wrap justify-end">
                <button
                  type="submit"
                  class="
                    py-2
                    px-4
                    bg-blue-500
                    hover:bg-blue-500
                    focus:ring-blue-500 focus:ring-offset-indigo-200
                    text-white
                    w-full
                    transition
                    ease-in
                    duration-200
                    text-center text-base
                    font-semibold
                    shadow-md
                    focus:outline-none focus:ring-2 focus:ring-offset-2
                    rounded-lg
                  "
                >
                  Guardar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  name: "prefLaboral",

  methods: {
    onSubmit() {
      //let dataUser = this.data;
      this.data.owner = this.$store.state.userData.id;
      console.log("llegando ando", this.data);
      axios
        .post("http://localhost:1337/preferncLabor", this.data)
        .then((res) => {
          //Perform Success Action
          console.log("mission acomplished en datapersona localidad");
          console.log(
            "respuesta post id objeto registrad en datapersona",
            res.data
          );
          alert("Preferencias laborales registradas satisfactoriamente");
          //this.$store.commit("getUserData", res.data);

          // this.$router.push({
          //   name: "DatosCv",
          //   params: { dataUser },
          // });
          //console.log("llego hasta aquilani en datapersonas");
        })
        .catch((error) => {
          // error.response.status Check status code
          console.log("mission pelaste bolas en localidad");
          console.log(error);
        })
        .finally(() => {
          //Perform action in always
        });
    },
    envioData() {
      this.$bus.$emit("userdata", this.data);
    },
  },
  created() {
    if (!this.$store.state.regUser.id) {
      alert("Debe iniciar sesion");
      this.$router.push({
        name: "login",
      });
    }
  },
  data() {
    return {
      data: {
        expectSalar: "",
        estatsActual: "",
        cambResidenc: "",
        viajar: "",
        owner: null,
      },
    };
  },
};
</script>