<template>
  <div>
    <hr />

    <div class="flex-col bg-gray-100 rounded-lg dark:bg-gray-800" style="padding:100px!important">
      
        <form action="">
          <div
            class="
        self-center
        mb-5
        text-xl
        font-bold
        text-gray-800
        sm:text-2xl
        dark:text-white
        w-full
        text-center
      "
          >
            <div
              class="
                self-center
                mb-5
                text-xl
                font-bold
                text-gray-800
                sm:text-2xl
                dark:text-white
                w-full
                text-center
              "
            >
              Referencia laboral
            </div>

            <div class="flex flex-wrap -mx-3 mb-2">
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <input
                  type="text"
                  id="nomb_refer"
                  class="
                    rounded-lg
                    border-transparent
                    flex-1
                    appearance-none
                    border border-gray-300
                    w-full
                    py-2
                    px-4
                    bg-white
                    text-gray-700
                    placeholder-gray-400
                    shadow-sm
                    text-base
                    focus:outline-none
                    focus:ring-2 
                    focus:border-transparent
                  "
                  name="nombre"
                  placeholder="Nombres"
                />
              </div>
              <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <div class="relative">
                <input
                  type="text"
                  id="apell_refer"
                  class="
                    rounded-lg
                    border-transparent
                    flex-1
                    appearance-none
                    border border-gray-300
                    w-full
                    py-2
                    px-4
                    bg-white
                    text-gray-700
                    placeholder-gray-400
                    shadow-sm
                    text-base
                    focus:outline-none
                    focus:ring-2 
                    focus:border-transparent
                  "
                  name="apellido"
                  placeholder="Apellido"
                />
              </div>
              </div>
            </div>

            <div class="flex flex-wrap -mx-3 mb-2">
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <input
                  type="text"
                  id="tlf_refer"
                  class="
                    rounded-lg
                    border-transparent
                    flex-1
                    appearance-none
                    border border-gray-300
                    w-full
                    py-2
                    px-4
                    bg-white
                    text-gray-700
                    placeholder-gray-400
                    shadow-sm
                    text-base
                    focus:outline-none
                    focus:ring-2 
                    focus:border-transparent
                  "
                  name="telefono"
                  placeholder="Telefono"
                />
              </div>
              <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <div class="relative">
                <input
                  type="text"
                  id="create-account-last-name"
                  class="
                    rounded-lg
                    border-transparent
                    flex-1
                    appearance-none
                    border border-gray-300
                    w-full
                    py-2
                    px-4
                    bg-white
                    text-gray-700
                    placeholder-gray-400
                    shadow-sm
                    text-base
                    focus:outline-none
                    focus:ring-2 
                    focus:border-transparent
                  "
                  name="numempleados"
                  placeholder="Correo electrónico"
                />
              </div>
              </div>
            </div>

            <div class="flex flex-wrap mb-2">
              <span
                class="
                  text-sm
                  text-center	
                  w-full
                  text-gray-700
                  m-2
                  py-1.5
                  px-3
                  border border-gray-300
                  bg-red-200
                  rounded-2xl
                  shadow-sm
                  focus:outline-none
                  focus:ring-primary-500
                  focus:border-primary-500
                "
                name="animals"
              >No se tomarán en cuenta referencias de familiares</span>
            </div>

            <div
              class="
                self-center
                mb-2
                font-semibold
                text-gray-500
                sm:text-sm
                dark:text-white
                w-full
              "
            >
              Verificación de referencia
            </div>

            <hr class="mt-2 mb-2" />

            <div class="flex flex-wrap m-2">
              <div class="relative">
                <svg
                  width="40"
                  height="40"
                  fill="currentColor"
                  class="
                    fill-current
                    text-white
                    bg-green-500
                    rounded-full
                    p-1
                    w-8
                    h-8
                  "
                  viewBox="0 0 1792 1792"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z"
                  ></path>
                </svg>
              </div>
              <span class="mx-4">Referencia verificada</span>
            </div>

            <div class="flex flex-wrap m-2">
              <div class="relative">
                <svg
                  width="40"
                  height="40"
                  fill="currentColor"
                  class="
                    fill-current
                    text-white
                    bg-red-600
                    rounded-full
                    p-1
                    w-8
                    h-8
                  "
                  viewBox="0 0 1792 1792"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1490 1322q0 40-28 68l-136 136q-28 28-68 28t-68-28l-294-294-294 294q-28 28-68 28t-68-28l-136-136q-28-28-28-68t28-68l294-294-294-294q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 294 294-294q28-28 68-28t68 28l136 136q28 28 28 68t-28 68l-294 294 294 294q28 28 28 68z"
                  ></path>
                </svg>
              </div>
              <span class="mx-4">Referencia verificada</span>
            </div>

            <div class="flex flex-wrap justify-end my-4">
               <div class="flex flex-wrap justify-end mt-6">
          <div class="flex flex-wrap justify-end mt-1">
          <button
                  type="button"
                  class="
                    py-2
                    px-4
                    bg-blue-500
                    hover:bg-blue-500
                    focus:ring-blue-500 focus:ring-offset-indigo-200
                    text-white
                    w-full
                    transition
                    ease-in
                    duration-200
                    text-center text-base
                    font-semibold
                    shadow-md
                    focus:outline-none
                    focus:ring-2 focus:ring-offset-2
                    rounded-lg
                  "
                >
                  Guardar
                </button>

          
        </div>          
        </div>             
            </div>
          </div>
        </form>
      
    </div>
  </div>
</template>
<script>
export default {};
</script>
