<template>
  <div class="container flex-wrap px-5 py-24 mx-auto items-center">
    <div
      class="
        w-full
        max-w-md
        mx-auto
        overflow-hidden
        bg-gray-300
        rounded-lg
        shadow-md
        dark:bg-gray-800
      "
    >
      <div class="px-8 py-6">
        <h2
          class="text-3xl font-bold text-center text-gray-700 dark:text-white"
        >
          Registro de Empresas
        </h2>

        <p class="mt-1 text-center text-gray-500 dark:text-gray-400">
          Inicia sesión o crea una cuenta
        </p>

        <form @submit.stop.prevent="onSubmit">
          <div class="w-full mt-4">
            <label
              for="price"
              class="block text-xs font-medium text-gray-700 text-left ml-1"
            >
              <strong> Nombre(s) del titular </strong>
            </label>
            <input
              class="
                block
                w-full
                px-4
                py-2
                mt-1
                text-gray-700
                placeholder-gray-500
                bg-white
                border border-gray-300
                rounded-md
                dark:bg-gray-800
                dark:border-gray-600
                dark:placeholder-gray-400
                focus:border-blue-500
                dark:focus:border-blue-500
                focus:outline-none
                focus:ring
              "
              name="nombreUser"
              v-model.lazy.trim="data.nombreUserEmprs"
              type="text"
              placeholder="Nombre"
            />
          </div>
          <div class="w-full mt-4">
            <label
              for="price"
              class="block text-xs font-medium text-gray-700 text-left ml-1"
            >
              <strong> Apellido(s) del titular </strong>
            </label>
            <input
              class="
                block
                w-full
                px-4
                py-2
                mt-1
                text-gray-700
                placeholder-gray-500
                bg-white
                border border-gray-300
                rounded-md
                dark:bg-gray-800
                dark:border-gray-600
                dark:placeholder-gray-400
                focus:border-blue-500
                dark:focus:border-blue-500
                focus:outline-none
                focus:ring
              "
              name="apellidoUser"
              v-model.lazy.trim="data.apellidoUserEmprs"
              type="text"
              placeholder="Apellido"
            />
          </div>
          <div class="w-full mt-4">
            <label
              for="price"
              class="block text-xs font-medium text-gray-700 text-left ml-1"
            >
              <strong> Correo electrónico del titular </strong>
            </label>
            <input
              class="
                block
                w-full
                px-4
                py-2
                mt-1
                text-gray-700
                placeholder-gray-500
                bg-white
                border border-gray-300
                rounded-md
                dark:bg-gray-800
                dark:border-gray-600
                dark:placeholder-gray-400
                focus:border-blue-500
                dark:focus:border-blue-500
                focus:outline-none
                focus:ring
              "
              name="emailUser"
              v-model.lazy.trim="data.emailUserEmprs"
              type="email"
              placeholder="Correo electrónico"
              aria-label="Email Address"
            />
          </div>

          <div class="w-full mt-4">
            <label
              for="price"
              class="block text-xs font-medium text-gray-700 text-left ml-1"
            >
              <strong> Contraseña </strong>
            </label>
            <input
              class="
                block
                w-full
                px-4
                py-2
                mt-1
                text-gray-700
                placeholder-gray-500
                bg-white
                border border-gray-300
                rounded-md
                dark:bg-gray-800
                dark:border-gray-600
                dark:placeholder-gray-400
                focus:border-blue-500
                dark:focus:border-blue-500
                focus:outline-none
                focus:ring
              "
              name="passwUser"
              v-model.lazy.trim="data.passwUserEmprs"
              type="password"
              placeholder="Password"
              aria-label="Password"
            />
          </div>

          <div class="flex items-center justify-between mt-4">
            <button
              class="
                flex-shrink-0
                px-4
                py-2
                text-base
                font-semibold
                text-white
                backasista
                rounded-lg
                shadow-md
                focus:outline-none
                focus:ring-2 focus:ring-offset-2
              "
              type="submit"
            >
              Enviar
            </button>
          </div>
        </form>
      </div>
      <div
        class="
          flex
          items-center
          justify-center
          py-4
          text-center
          bg-gray-200
          dark:bg-gray-700
        "
      >
        <span class="text-sm text-gray-600 dark:text-gray-200"
          >¿Ya estás registrado?
        </span>

        <a
          href="#"
          class="
            mx-2
            text-sm
            font-bold
            text-blue-600
            dark:text-blue-400
            hover:text-blue-500
          "
          @click="$router.push('loginEmprs')"
          >Iniciar sesión</a
        >
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "registrarEmpres",

  methods: {
    onSubmit() {
      let dataUser = this.data;
      axios
        .post("http://localhost:1337/registroPrimarioEmprs", this.data)
        .then((res) => {
          //Perform Success Action
          console.log("mission acomplished");
          console.log("respuesta post id objeto registrad", res.data.id);

          this.$store.commit('getRegUserEmprs', res.data);
          alert ("Registrado con exito, debe completar la siguiente información de su empresa")
          this.$router.push({
            name: "empresareg",
            params: { dataUser },
          });
          console.log("llego hasta aquilani")
        })
        .catch((error) => {
          // error.response.status Check status code
          console.log("mission pelaste bolas");
          console.log(error);
        })
        .finally(() => {
          //Perform action in always
        });
    },
  },
  data() {
    return {
      data: {
        nombreUserEmprs: "",
        apellidoUserEmprs: "",
        emailUserEmprs: "",
        autenticacion: "1",
        passwUserEmprs: "",
      },
    };
  },
};
</script>