<template>
  <div class="container flex-wrap px-5 py-16 mx-auto items-center">
    <div
      class="
        w-full
        max-w-sm
        mx-auto
        overflow-hidden
        bg-gray-300
        rounded-lg
        shadow-md
        dark:bg-gray-800
      "
    >
      <div class="px-8 py-6">
        <h2
          class="text-2xl font-bold text-center text-gray-700 dark:text-white"
        >
          Registro de usuarios
        </h2>

        <p class="mt-1 text-center text-lg text-gray-500 dark:text-gray-400">
          Crea una cuenta
        </p>

        <form @submit.stop.prevent="onSubmit">
          <div class="w-full mt-3">
            <label
                  for="price"
                  class="block text-xs font-medium text-gray-700 text-left ml-1"
                >
                  <strong>Nombre</strong>
                  </label>
            <input
              class="
                block
                w-full
                px-4
                py-2
                mt-0.5
                text-gray-700
                placeholder-gray-500
                bg-white
                border border-gray-300
                rounded-md
                dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400
                focus:border-blue-500
                dark:focus:border-blue-500
                focus:outline-none focus:ring
              "
              name="nombreUser"
              v-model.lazy.trim="data.nombreUser"
              type="text"
              placeholder="Nombre"
            />
          </div>
          <div class="w-full mt-2">
            <label
                  for="price"
                  class="block text-xs font-medium text-gray-700 text-left ml-1"
                >
                  <strong>Apellido</strong>
                  </label>
            <input
              class="
                block
                w-full
                px-4
                py-2
                mt-0.5
                text-gray-700
                placeholder-gray-500
                bg-white
                border border-gray-300
                rounded-md
                dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400
                focus:border-blue-500
                dark:focus:border-blue-500
                focus:outline-none focus:ring
              "
              name="apellidoUser"
              v-model.lazy.trim="data.apellidoUser"
              type="text"
              placeholder="Apellido"
            />
          </div>
          <div class="w-full mt-2">
               <label
                  for="price"
                  class="block text-xs font-medium text-gray-700 text-left ml-1"
                >
                  <strong>Correo electrónico</strong>
                  </label>
            <input
              class="
                block
                w-full
                px-4
                py-2
                mt-0.5
                text-gray-700
                placeholder-gray-500
                bg-white
                border border-gray-300
                rounded-md
                dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400
                focus:border-blue-500
                dark:focus:border-blue-500
                focus:outline-none focus:ring
              "
              name="emailUser"
              v-model.lazy.trim="data.emailUser"
              type="email"
              placeholder="Correo electrónico"
              aria-label="Email Address"
            />
          </div>

          <div class="flex relative inset-y-0 right-0 items-center mt-2">
               <label
                  for="price"
                  class="block text-xs font-medium text-gray-700 text-left ml-1"
                >
                  <strong>Apellido</strong>
                  
            <select
              v-model.lazy.trim="cod"
              id="operador"
              name="codigoOperador"
              class="
                focus:ring-indigo-500
                py-3
                px-4
                border-t border-l border-gray-300 border-b
                focus:border-indigo-500
                h-full
                pl-2
                pr-7
                border-transparent
                bg-transparent
                text-gray-500
                bg-white
              "
              placeholder="est"
              aria-placeholder="asd"
            >
              <option disabled value="" class="">041X</option>
              <option>0412</option>
              <option>0414</option>
              <option>0416</option>
            </select>
            </label>
            <input
              v-model.lazy.trim="numero"
              type="text"
              name="numeroCelular"
              id="telefon"
              class="
                focus:ring-indigo-500
                border-r border-b border-t border-gray-300
                px-4
                py-2
                mt-4
                focus:border-indigo-500
                block
                w-full
                pr-1
                placeholder-gray-500
              "
              placeholder="Teléfono"
            />
            
          </div>

          <div class="w-full mt-2">

               <label
                  for="price"
                  class="block text-xs font-medium text-gray-700 text-left ml-1"
                >
                  <strong>Contraseña</strong>
                  </label>
            <input
              class="
                block
                w-full
                px-4
                py-2
                mt-0.5
                text-gray-700
                placeholder-gray-500
                bg-white
                border border-gray-300
                rounded-md
                dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400
                focus:border-blue-500
                dark:focus:border-blue-500
                focus:outline-none focus:ring
              "
              name="passwUser"
              v-model.lazy.trim="data.passwUser"
              type="password"
              placeholder="Password"
              aria-label="Password"
            />
          </div>

          <div class="flex items-center justify-between mt-4">
            <button
              class="
                flex-shrink-0
                px-4
                py-2
                text-base
                font-semibold
                text-white
                backasista
                rounded-lg
                shadow-md
                focus:outline-none focus:ring-2 focus:ring-offset-2
              "
              type="submit"
            >
              Enviar
            </button>
          </div>
        </form>
      </div>

      <div
        class="
          flex
          items-center
          justify-center
          py-4
          text-center
          bg-gray-200
          dark:bg-gray-700
        "
      >
        <span class="text-sm text-gray-600 dark:text-gray-200"
          >¿Ya estás registrado?
        </span>

        <a
          href="#"
          class="
            mx-2
            text-sm
            font-bold
            text-blue-600
            dark:text-blue-400
            hover:text-blue-500
          "
          @click="$router.push('login')"
          >Iniciar sesión</a
        >
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "registrarPerson",

  methods: {
    onSubmit() {
      //console.log("ta llegando hola");
      let dataUser = this.data;
      this.data.telf1 = this.cod + this.numero;

      if(!this.cod || !this.numero){
        alert("Debe ingresar un número telefónico valido")
        return
      }
      axios
        .post("http://localhost:1337/registroPrimarioUser", this.data)
        .then((res) => {
          //Perform Success Action
          console.log("mission acomplished");
          console.log("respuesta post id objeto registrad", res.data.id);

          this.$store.commit("getRegUser", res.data);
          alert(
            "Registrado satisfactoriamente, debe completar fase inicial de registro"
          );
          this.$router.push({
            name: "DatosCv",
            params: { dataUser },
          });
          console.log("llego hasta aquilani");
        })
        .catch((error) => {
          // error.response.status Check status code
          console.log("mission pelaste bolas");
          console.log(error);
        })
        .finally(() => {
          //Perform action in always
        });
    },
  },
  data() {
    return {
      numero: "",
      cod: "",
      data: {
        nombreUser: "",
        apellidoUser: "",
        emailUser: "",
        telf1: "",
        autenticacion: "1",
        passwUser: "",
      },
    };
  },
};
</script>