<template>
  <div id="app">
    <router-link class="hidden" to="/homec">Home</router-link>
    <router-link class="hidden" to="/about">About</router-link>
     <!-- <menutest class=""></menutest> -->
    <div id="nav" class="">
      <HeaderGlob class="mb-1"></HeaderGlob>
    </div>
    <router-view />
    <FooterGlob class=""></FooterGlob>
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #8ae7bd;
}
</style>
<script>
import FooterGlob from "@/components/FooterGlob";
// import menutest from "@/components/MenuTest";
import HeaderGlob from "@/components/HeaderGlob";

export default {
  components: {
    FooterGlob,
    // menutest,
    HeaderGlob,
  },
};
</script>
